.ubirata .about .firstContent {
	width: 100%;
	position: relative;
	z-index: 2;
	background: var(--yellowGradient);
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	height: 100%
}

.ubirata .about .firstContent .container,
.ubirata .about .extraContent .container {
	width: calc(100% - 240px);
	margin: 0 120px;
}

.ubirata .about .firstContent .visiblePart {
	padding-bottom: 80px;
	position: relative;
}

.ubirata .about .firstContent .video-above {
	padding-bottom: 80px;
}

.ubirata .about .firstContent .introduction {
	padding-top: 230px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 40px;
}

.ubirata .about .firstContent .introduction div {
	float: left;
	width: calc(50% - 80px);
}

.ubirata .about .firstContent .introduction div h1 {
	margin-bottom: 20px;
	color: var(--greenDark);
	margin-top: 40px;
}

.ubirata .about .firstContent .introduction img {
	float: right;
	width: 50%;
	max-width: 579px;
	height: auto;
}

.ubirata .about .firstContent .introduction a {
	padding: 15px;
	color: white;
	background-color: var(--darkGreen);
	width: max-content;
	border: none;
	border-radius: 10px;
	margin-top: 30px;
	text-decoration: none;
	display: block;
	text-align: center;
	transition: var(--transitionMedium);
}

.ubirata .about .firstContent .introduction a:hover {
	background-color: var(--brown);
}

.ubirata .about .firstContent .info {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: calc(((100% - 240px) / 6) - 110px);
}

.ubirata .about .firstContent .info img {
	width: calc(100% - 60px);
	height: auto;
	margin-bottom: 20px;
}

.ubirata .about .firstContent .video-above {
	padding: 70px 0px;
	overflow: hidden;
}

.ubirata .about .firstContent .video-above .text-wrapper {
	float: left;
	width: calc(50% - 40px);
}

.ubirata .about .firstContent .video-above .text-wrapper div:nth-child(1) {
	margin-bottom: 50px;
}

.ubirata .about .firstContent .video-above .text-wrapper div h2 {
	margin-bottom: 20px;
}

.ubirata .about .firstContent .video {
	float: right;
	width: calc(50%);
}

.ubirata .about .firstContent .video-above .video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* Proporção 16:9 (altura/largura) */
	height: 0;
	overflow: hidden;
}

.ubirata .about .firstContent .video-above .video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 20px;
	height: 100%;
}

.ubirata .about .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .about .extraContent .goodToKnow {
	margin-bottom: 80px;
	overflow: hidden;
}

.ubirata .about .extraContent .goodToKnow .textContent {
	float: left;
	width: 50%;
}

.ubirata .about .extraContent .goodToKnow img {
	float: right;
	margin-left: 100px;
	width: calc(50% - 100px);
}

.ubirata .about .extraContent .goodToKnow .textContent h3 {
	padding: 20px 0px;
	cursor: pointer;
	border-bottom: 2px solid var(--borderGreyOpacity);
	padding-right: 30px;
	transition: var(--transitionMedium);
}

.ubirata .about .extraContent .goodToKnow .textContent h3:after {
	background-repeat: no-repeat;
	background-size: 100%;
	transition: var(--transitionMedium);
	background-image: url(../assets/catprod-4-greenArrowDown.svg);
	width: 15px;
	height: 8px;
	content: "";
	display: block;
	float: right;
	margin-top: 2px;
	margin-right: -30px;
}

.ubirata .about .extraContent .goodToKnow .textContent h3.active:after {
	transform: rotate(180deg);
}

.ubirata .about .extraContent .goodToKnow .textContent div {
	position: relative;
}

.ubirata .about .extraContent .goodToKnow .title {
	margin-bottom: 20px;
}

.ubirata .about .extraContent .goodToKnow .textContent h3.active {
	border-bottom: 0px;
}

.ubirata .about .extraContent .goodToKnow .textContent div p {
	padding-bottom: 20px;
	opacity: 0%;
	transition: var(--transitionMedium);
	max-height: 0;
	margin-top: -20px;
}

.ubirata .about .extraContent .goodToKnow .textContent div p.active {
	opacity: 100%;
	z-index: 1;
	max-height: 200px;
	margin-top: 0px;
	border-bottom: 2px solid var(--borderGreyOpacity);
}

.ubirata .about .extraContent .manifest {
	padding-top: 90px;
	margin-top: -10px;
	padding-bottom: 80px;
}

.ubirata .about .extraContent .manifest .title {
	margin-bottom: 20px;
}

.ubirata .about .extraContent .manifest .text {
	width: 50%;
	position: relative;
	z-index: 1;
}

.ubirata .about .extraContent .manifest .manifest-card div h2 {
	margin-bottom: 10px;
}

.ubirata .about .extraContent .manifest q {
	margin-bottom: 35px;
	font-style: italic;
	display: block;
}

.ubirata .about .extraContent .manifest q:before {
	background-repeat: no-repeat;
	background-image: url(../assets/quote-left.png);
	width: 40px;
	height: 30px;
	content: "";
	background-position: center;
	display: block;
	float: left;
	z-index: -1;
	position: absolute;
	margin-left: -22px;
	margin-top: -14px;
}

.ubirata .about .extraContent .manifest .manifest-card {
	background-repeat: no-repeat;
	background-image: url(../assets/about-2.svg);
	background-size: calc(50% - 40px);
	background-position: right bottom;
	border-radius: 20px;
	padding: 80px 100px 80px 80px;
	background-color: var(--yellowBackground);
}

.ubirata .about .linksBellow {
	margin-top: 0px;
	padding-top: 0px;
}

@media(max-width: 1530px) {
	.ubirata .about .firstContent .introduction img {
		width: auto;
		height: 230px;
	}
}

@media(max-width: 1024px) {
	.ubirata .about .firstContent .info {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 20px;
		gap: 20px;
	}

	.ubirata .about .firstContent .video-above .text-wrapper,
	.ubirata .about .firstContent .video,
	.ubirata .about .firstContent .introduction img,
	.ubirata .about .firstContent .introduction div {
		float: none;
		width: 100%
	}

	.ubirata .about .firstContent .introduction img {
		width: 100%;
		height: auto;
	}

	.ubirata .about .firstContent .introduction {
		padding-top: 330px;
	}

	.ubirata .about .firstContent .introduction div h1 {
		margin-top: 0px;
	}


	.ubirata .about .firstContent .container,
	.ubirata .about .extraContent .container {
		width: calc(100% - 40px);
		margin: 0 20px;
	}

	.ubirata .about .firstContent .introduction div {
		margin-bottom: 40px;
	}

	.ubirata .about .firstContent .visiblePart {
		height: 100%;
		padding-bottom: 0px;
	}

	.ubirata .about .firstContent .video-above {
		padding: 40px 0px;
	}

	.ubirata .about .firstContent .info img {
		text-align: center;
		display: block;
		width: calc(100% - 120px);
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.ubirata .about .firstContent .info p {
		text-align: center;
	}

	.ubirata .about .firstContent .video-above .text-wrapper div:nth-child(1) {
		margin-bottom: 20px;
	}

	.ubirata .about .firstContent .video-above .text-wrapper {
		margin-bottom: 40px;
	}

	.ubirata .about .extraContent .goodToKnow .textContent,
	.ubirata .about .extraContent .goodToKnow img {
		float: none;
		width: 100%;
		margin-left: 0px;
	}

	.ubirata .about .extraContent .goodToKnow {
		margin-bottom: 40px;
	}

	.ubirata .about .extraContent .goodToKnow .textContent h3.active {
		border-bottom: none;
	}

	.ubirata .about .extraContent .goodToKnow .textContent div p.active {
		border-bottom: 2px solid var(--borderGreyOpacity);
		padding-bottom: 20px;
	}

	.ubirata .about .extraContent .goodToKnow img {
		margin: 0 auto;
		margin-top: 30px;
		width: calc(100% - 100px);
		display: block;
	}

	.ubirata .about .extraContent .manifest q,
	.ubirata .about .extraContent .manifest .manifest-card div {
		width: 100%;
	}

	.ubirata .about .extraContent .manifest .manifest-card {
		background-size: 100% 500px;
		background-position: bottom;
	}

	.ubirata .about .extraContent .manifest {
		padding: 40px 0px;
	}

	.ubirata .about .extraContent .manifest .manifest-card {
		padding: 40px;
		background-size: auto 300px;
		background-image: url(../assets/about.svg);
		background-position: right bottom;
		border-radius: 10px;
		padding-bottom: 330px;
	}

	.ubirata .about .extraContent .manifest q:before {
		width: 30px;
		height: 20px;
	}
}