/* CATEGORIAS */
.ubirata .categories .firstContent {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
	background-image: url(../assets/catprod-1-backgroundImg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	height: 100%;
	background-color: var(--easeBackground);
}

.ubirata .categories .container {
	margin: 0px 120px;
	width: calc(100% - 240px);
}

.ubirata .categories .extraContent .container {
	padding-top: 90px;
	margin-top: -10px;
}

.ubirata .categories .firstContent .introduction {
	padding-top: 300px;
	overflow: hidden;
	width: 100%;
}

.ubirata .categories .firstContent .bigMilks {
	width: 600px;
	height: 335px;
}

.ubirata .categories .firstContent .text {
	float: left;
	width: 480px
}

.ubirata .categories .firstContent .bigMilks {
	float: right;
	margin-bottom: 35px;
}

.ubirata .categories .firstContent .breadCrumb {
	overflow: hidden;
	width: max-content;
	margin-bottom: 40px;
}

.ubirata .categories .firstContent .breadCrumb p {
	display: inline;
}

.ubirata .categories .firstContent h3 {
	font-size: 16px;
	text-align: start;
}

.ubirata .categories .firstContent .ourProducts h3 {
	font-size: 16px;
	text-align: start;
	margin-bottom: 20px;
}

.ubirata .categories .firstContent .ourProducts .carousel-products {
	position: relative;
	width: 100%;
}

.ubirata .categories .firstContent .ourProducts a {
	background-color: var(--easeBackground);
	border-radius: 10px;
	cursor: pointer;
	padding: 20px;
	overflow: hidden;
	display: block;
	transition: var(--transitionFast);
	position: relative;
	color: var(--darkGreen);
	width: 100%;
}

.ubirata .categories .firstContent .ourProducts p {
	float: left;
	margin-left: 20px;
	width: calc(100% - 130px);
	margin-top: 45px;
	text-align: start;
	position: relative;
	z-index: 1;
}

.ubirata .categories .firstContent .ourProducts a img {
	float: left;
	width: 83px;
	position: relative;
	z-index: 1;
	transition: var(--transitionFast);
}

.ubirata .categories .firstContent .seeMoreContainer {
	overflow: hidden;
	margin-top: 50px;
	padding-bottom: 30px;
	cursor: pointer;
}

.ubirata .categories .firstContent .seeMoreContainer {
	overflow: hidden;
	margin-top: 50px;
}

.ubirata .categories .firstContent .seeMoreContainer .seeMoreImg {
	background-repeat: no-repeat;
	background-size: 15px;
	background-image: url(../assets/catprod-1-arrowDown.svg);
	height: 15px;
	margin: 0 auto;
	width: 100%;
	background-position: center;
	display: block;
}

.ubirata .categories .firstContent .seeMoreContainer a {
	margin-bottom: 10px;
	text-decoration: none;
	color: var(--darkGreen);
}

.ubirata .categories .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .categories .extraContent .developmentAge {
	padding-top: 90px;
	margin-top: -10px;
}

.ubirata .categories .extraContent .developmentAge .title {
	margin-bottom: 20px;
}

.ubirata .categories .extraContent .developmentAge h4 {
	margin-bottom: 30px
}

.ubirata .categories .extraContent .carouselKids {
	width: 100%;
	margin-bottom: 85px;
}

.ubirata .categories .extraContent .carouselKids {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	margin-bottom: 0px;
	margin-top: 30px;
}

.ubirata .categories .extraContent .specialPhase .news {
	margin-top: 40px;
}

.ubirata .categories .extraContent .carouselKids .item figure {
	position: relative;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 200px;
	width: 100%;
	overflow: hidden;
}

.ubirata .categories .extraContent .carouselKids .item figure img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: var(--transitionMedium);
}

.ubirata .categories .extraContent .carouselKids .item {
	transition: var(--transitionMedium);
}

.ubirata .categories .extraContent .carouselKids .item:hover {
	margin-top: -5px;
}

.ubirata .categories .extraContent .carouselKids .item:hover figure img {
	margin-top: -5px;
	width: calc(100% + 5px);
	height: calc(100% + 5px);
}

.ubirata .categories .extraContent .carouselKids .item a p {
	color: var(--darkBrownText);
}

.ubirata .categories .extraContent .carouselKids .item a {
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.ubirata .categories .extraContent .carouselKids .tag {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: var(--grey);
}

.ubirata .categories .extraContent .carouselKids .tag.tag2y {
	background-color: var(--greenTag);
}

.ubirata .categories .extraContent .carouselKids .tag.tag1y {
	background-color: var(--redTag);
}

.ubirata .categories .extraContent .carouselKids .tag.tagAllyears {
	background-color: var(--blueTag);
}

.ubirata .categories .extraContent .carouselKids .item h3 {
	margin-bottom: 20px;
	color: var(--darkGreen);
}

.ubirata .categories .extraContent .carouselKids .item p.iconHeart:before {
	background-image: url(../assets/catprod-2-iconHeart.svg);
}

.ubirata .categories .extraContent .carouselKids .item p.iconPearson:before {
	background-image: url(../assets/catprod-2-iconPearson.svg);
}

.ubirata .categories .extraContent .carouselKids .item p.iconHappy:before {
	background-image: url(../assets/catprod-2-iconHappy.svg);
}

.ubirata .categories .extraContent .carouselKids .item p:before {
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	content: "";
	background-position: center;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
	border-radius: 50%;
}

.ubirata .categories .linksBellow {
	padding: 0px;
}

/* PRODUTOS */

.ubirata .products .firstContent {
	width: 100%;
	position: relative;
	z-index: 2;
	background: var(--yellowGradient);
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	height: 100%;
}

.ubirata .products .firstContent .introduction {
	padding-top: 300px;
	overflow: hidden;
	width: 100%;
}

.ubirata .products .firstContent .visiblePart {
	height: calc(100vh + 65px);
	position: relative;
	text-align: center;
}

.ubirata .products .firstContent .ourProducts h3,
.ubirata .products .otherProducts h3 {
	margin-bottom: 10px;
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
}

.ubirata .products .firstContent .ourProducts {
	padding-bottom: 80px;
}

.ubirata .products .firstContent .seeMore {
	margin-bottom: 10px;
	display: block;
	text-decoration: none;
	color: var(--darkGreen);
}

.ubirata .products .firstContent .seeMoreContainer {
	transform: translate(-50%, 0%);
	width: max-content;
	left: 50%;
	bottom: 30px;
	position: absolute;
	cursor: pointer;
}

.ubirata .products .firstContent .seeMoreContainer .seeMoreImg {
	background-repeat: no-repeat;
	background-size: 15px;
	background-image: url(../assets/catprod-1-arrowDown.svg);
	height: 15px;
	margin: 0 auto;
	width: 100%;
	background-position: center;
	display: block;
}

.ubirata .products .buttonPattern1 {
	padding: 15px;
	width: max-content;
}

.ubirata .products .buttonPattern1:after {
	background-repeat: no-repeat;
	background-size: 15px;
	background-image: url(../assets/product-1-go.svg);
	height: 15px;
	width: 15px;
	background-position: center;
	display: block;
	content: "";
	margin-left: 10px;
	float: right;
}

.ubirata .products .text h3 {
	margin-bottom: 30px;
}

.ubirata .products .container-products {
	width: 100%;
}

.ubirata .products .container-products2 {
	width: 100%;
}

.ubirata .products .firstContent .ourProducts .item .product-description,
.ubirata .products .otherProducts .item .product-description {
	width: 100%;
	z-index: 2;
	position: relative;
}

.ubirata .products .firstContent .ourProducts .item .product-description,
.ubirata .products .otherProducts .item .product-description {
	width: 100%;
	position: relative;
}

.ubirata .products .firstContent .ourProducts .item .product-description a {
	width: 100%;
	position: relative;
}

.ubirata .products .firstContent .ourProducts .item p,
.ubirata .products .otherProducts .item p {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	left: 90px;
}

.ubirata .products .firstContent .ourProducts .item a,
.ubirata .products .otherProducts .item a {
	float: right;
	text-decoration: none;
	color: var(--darkGreen);
}

.ubirata .products .firstContent .ourProducts .item img,
.ubirata .products .otherProducts .item img {
	width: auto;
	height: 115px;
	transition: var(--transitionMedium);
}

.ubirata .products .text p {
	margin-bottom: 40px
}

.ubirata .products .text .warning {
	margin-bottom: 40px;
}

.ubirata .products .text .warning div {
	padding: 20px;
	border-radius: 10px;
	border: 2px solid var(--brown);
}

.ubirata .products .text .warning div:nth-child(1) {
	margin-bottom: 10px
}

.ubirata .products .firstContent .bigMilks {
	float: right;
	margin-right: 120px;
}

.ubirata .products .firstContent .breadCrumb p {
	display: inline;
}

.ubirata .products .firstContent .breadCrumb {
	overflow: hidden;
	width: max-content;
	margin-bottom: 40px;
}

.ubirata .products .firstContent .container,
.ubirata .products .extraContent .container {
	width: calc(100% - 240px);
	margin: 0 120px;
}

.ubirata .products .firstContent .text {
	float: left;
	width: 480px;
	text-align: start;
}

.ubirata .products .firstContent .text {
	float: left;
	width: 480px;
	text-align: start;
}

.ubirata .products .firstContent h1 {
	margin-bottom: 15px;
}

.ubirata .products .firstContent .ourProducts .item,
.ubirata .products .otherProducts .item {
	background-color: var(--easeBackground);
	border-radius: 10px;
	cursor: pointer;
	padding: 20px;
	overflow: hidden;
	transition: var(--transitionFast);
	position: relative;
}

.ubirata .products .firstContent .ourProducts .item {
	cursor: default;
}

.ubirata .products .otherProducts .item {
	background-color: var(--yellowBackground);
}

.ubirata .products .ourProducts .item {
	position: relative;
	z-index: 2;
}

.ubirata .products .otherProducts .item a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
	height: 100%;
}

.ubirata .products .otherProducts .item:hover .color-overlay {
	z-index: 0;
	border-radius: 10px;
	background-color: var(--darkGreen);
}

.ubirata .products .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .products .linksBellow {
	margin-top: 0px;
	padding-top: 0px
}

.ubirata .products .instructions {
	padding-top: 80px;
	margin-bottom: 80px;
}

.ubirata .products .instructions h3 {
	margin-bottom: 15px;
}

.ubirata .products .instructions h3 {
	margin-bottom: 15px;
	margin-top: 40px;
}

.ubirata .products .instructions .container-cards {
	display: grid;
	gap: 25px;
}

.ubirata .products .instructions .container-cards.twoSteps {
	grid-template-columns: 1fr 1fr;
}

.ubirata .products .instructions .container-cards.threeSteps {
	grid-template-columns: 1fr 1fr 1fr;
}

.ubirata .products .instructions .container-cards.fourSteps {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ubirata .products .instructions .container-cards.fiveSteps {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ubirata .products .instructions .item {
	padding: 15px;
	width: 100%;
	border: 2px solid var(--prepare-trace);
	overflow: hidden;
	border-radius: 10px;
}

.ubirata .products .instructions .item div {
	float: left;
	width: calc(100% - 55px);
}

.ubirata .products .instructions .item h4 {
	border-radius: 5px;
	background-color: var(--prepare-trace);
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	width: 40px;
}

.ubirata .products .instructions .item img {
	width: 45px;
	height: 72px;
	float: right;
	object-fit: contain;
}

.ubirata .products .otherProducts {
	margin-bottom: 80px;
}

.ubirata .products .nutritionalFacts {
	margin-bottom: 80px;
}

.ubirata .products .nutritionalFacts .card {
	border-radius: 10px;
	padding: 40px;
	padding-top: 0px;
	border: 2px solid var(--prepare-trace);
	transition: var(--transitionMedium);
}


.ubirata .products .nutritionalFacts .card h2:after {
	background-repeat: no-repeat;
	background-size: 100%;
	transition: var(--transitionMedium);
	background-image: url(../assets/catprod-4-greenArrowDown.svg);
	width: 15px;
	height: 8px;
	content: "";
	display: block;
	float: right;
}

.ubirata .products .nutritionalFacts .card h2.active:after {
	transform: rotate(180deg);
}


.ubirata .products .nutritionalFacts h2:hover {
	color: var(--darkGreen);
}

.ubirata .products .nutritionalFacts .card h2 {
	position: relative;
	z-index: 2;
	padding-top: 40px;
	padding-bottom: 40px;
	cursor: pointer;
}

.ubirata .products .nutritionalFacts .hide {
	opacity: 0%;
	transition: var(--transitionMedium);
	max-height: 0;
	margin-top: -40px;
}

.ubirata .products .nutritionalFacts .hide.active {
	opacity: 100%;
	z-index: 1;
	max-height: 2000px;
	margin-top: 0px;
}


.ubirata .products .nutritionalFacts .card h3 {
	margin-bottom: 20px;
}

.ubirata .products .nutritionalFacts .detail .content-container {
	overflow: hidden;
}

.ubirata .products .nutritionalFacts .detail .content-container div:nth-child(1) {
	float: left;
	width: calc(50% - 15px);
}

.ubirata .products .nutritionalFacts .detail .content-container div:nth-child(2) {
	float: right;
	width: calc(50% - 15px);
}

.ubirata .products .nutritionalFacts .card .table-info {
	margin-bottom: 20px;
}

.ubirata .products .nutritionalFacts .card .table-info div {
	overflow: hidden;
	background-color: var(--nutritional-table-background);
	border-radius: 5px;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 10px;
	transition: var(--transitionMedium);
}

.ubirata .products .nutritionalFacts .card .hide.active .table-info div {
	cursor: pointer;
}

.ubirata .products .nutritionalFacts .card .table-info div:hover {
	background-color: var(--prepare-trace);
}

.ubirata .products .nutritionalFacts .card:nth-child(1) {
	margin-bottom: 20px;
}

.ubirata .products .nutritionalFacts .card .table-info div p:nth-child(1) {
	float: left;
}

.ubirata .products .nutritionalFacts .card .table-info div p:nth-child(2) {
	float: right;
}

.ubirata .products .firstContent .ourProducts .item a:after {
	background-repeat: no-repeat;
	background-size: 12px;
	background-image: url(../assets/productsDes-1-openProduct.svg);
	height: 12px;
	width: 12px;
	background-position: center;
	display: block;
	content: "";
	margin-left: 10px;
	float: right;
	margin-top: 4px;
}



/* COMUM */

.ubirata .categories .firstContent .ourProducts .color-overlay,
.ubirata .products .firstContent .ourProducts .color-overlay,
.ubirata .products .otherProducts .color-overlay,
.ubirata .categories .extraContent .anotherCategories .item .color-overlay,
.ubirata .products .extraContent .anotherCategories .item .color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 10px;
	width: 100%;
	height: 0;
	background-image: linear-gradient(to bottom, var(--blueLink) 0%, var(--blueLink) 100%);
	transition: height 0.5s ease;
	z-index: -1;
}

.ubirata .categories .firstContent .ourProducts a:hover .color-overlay,
.ubirata .products .firstContent .ourProducts .item:hover .color-overlay,
.ubirata .products .otherProducts .item:hover .color-overlay,
.ubirata .categories .extraContent .anotherCategories .item:hover .color-overlay,
.ubirata .products .extraContent .anotherCategories .item:hover .color-overlay {
	height: 100%;
	/* A altura do elemento para preencher completamente */
}

.ubirata .categories .firstContent .ourProducts a:hover img,
.ubirata .products .firstContent .ourProducts .item:hover img,
.ubirata .products .otherProducts .item:hover img,
.ubirata .categories .extraContent .anotherCategories .item:hover img,
.ubirata .products .extraContent .anotherCategories .item:hover img {
	transform: scale(1.1);
}

.ubirata .categories .firstContent .ourProducts a:hover .color-overlay,
.ubirata .categories .extraContent .anotherCategories .item:hover .color-overlay,
.ubirata .products .extraContent .anotherCategories .item:hover .color-overlay {
	z-index: 1;
}

.ubirata .categories .firstContent .ourProducts a img,
.ubirata .categories .firstContent .ourProducts p,
.ubirata .categories .extraContent .anotherCategories .item img,
.ubirata .categories .extraContent .anotherCategories .item h3,
.ubirata .products .extraContent .anotherCategories .item:hover img,
.ubirata .products .extraContent .anotherCategories .item:hover h3 {
	z-index: 2;
	position: relative;
}

.ubirata .categories .firstContent .breadCrumb a,
.ubirata .products .firstContent .breadCrumb a {
	display: inline-block;
	color: var(--darkGreen);
	width: max-content;
	cursor: pointer;
	transition: var(--transitionMedium);
}

.ubirata .categories .firstContent .breadCrumb a:hover,
.ubirata .products .firstContent .breadCrumb a:hover {
	color: black;
}

.ubirata .categories .firstContent .breadCrumb a:after,
.ubirata .products .firstContent .breadCrumb a:after {
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../assets/catprod-1-arrowRight.svg);
	width: 5px;
	height: 10px;
	content: "";
	display: block;
	float: right;
	margin-left: 10px;
	margin-top: 2px;
}

.ubirata .categories .firstContent h1,
.ubirata .products .firstContent h1 {
	font-size: 36px;
	text-align: start;
	margin-bottom: 20px;
}

.ubirata .categories .extraContent .specialPhase,
.ubirata .products .extraContent .specialPhase {
	padding: 70px;
	background-color: var(--yellowBackground);
	border-radius: 20px;
	margin-bottom: 80px;
}

.ubirata .categories .extraContent .specialPhase .nutricionalFacts,
.ubirata .products .extraContent .specialPhase .nutricionalFacts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 40px;
}

.ubirata .categories .extraContent .specialPhase h3:nth-child(1),
.ubirata .products .extraContent .specialPhase h3:nth-child(1) {
	margin-bottom: 20px;
}

.ubirata .categories .extraContent .specialPhase p:nth-child(2),
.ubirata .products .extraContent .specialPhase p:nth-child(2) {
	margin-bottom: 40px;
}

.ubirata .categories .extraContent .specialPhase .nutricionalFacts,
.ubirata .products .extraContent .specialPhase .nutricionalFacts {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ubirata .categories .extraContent .specialPhase .nutricionalFacts div,
.ubirata .products .extraContent .specialPhase .nutricionalFacts div {
	overflow: hidden;
	margin-bottom: 35px;
}

.ubirata .categories .extraContent .specialPhase .nutricionalFacts div img,
.ubirata .products .extraContent .specialPhase .nutricionalFacts div img {
	float: left;
	height: 90px;
	width: 70px;
	margin-right: 10px;
}

.ubirata .categories .extraContent .specialPhase .nutricionalFacts div h3,
.ubirata .products .extraContent .specialPhase .nutricionalFacts div h3 {
	float: left;
	margin-top: 35px;
}

.ubirata .categories .extraContent .goodToKnow,
.ubirata .products .extraContent .goodToKnow {
	margin-bottom: 80px;
	overflow: hidden;
}

.ubirata .categories .extraContent .goodToKnow .textContent,
.ubirata .products .extraContent .goodToKnow .textContent {
	float: left;
	width: 50%;
}

.ubirata .categories .extraContent .goodToKnow img,
.ubirata .products .extraContent .goodToKnow img {
	float: right;
	margin-left: 100px;
	width: calc(50% - 100px);
}

.ubirata .categories .extraContent .goodToKnow .title,
.ubirata .products .extraContent .goodToKnow .title {
	margin-bottom: 20px;
}

.ubirata .categories .extraContent .goodToKnow .textContent h3,
.ubirata .products .extraContent .goodToKnow .textContent h3 {
	padding: 20px 0px;
	cursor: pointer;
	border-bottom: 2px solid var(--borderGreyOpacity);
	padding-right: 30px;
	transition: var(--transitionMedium);
}

.ubirata .categories .extraContent .goodToKnow .textContent h3:hover,
.ubirata .products .extraContent .goodToKnow .textContent h3:hover {
	color: var(--darkGreen);
}

.ubirata .categories .extraContent .goodToKnow .textContent h3.active:after,
.ubirata .products .extraContent .goodToKnow .textContent h3.active:after {
	transform: rotate(180deg);
}

.ubirata .categories .extraContent .goodToKnow .textContent h3.active,
.ubirata .products .extraContent .goodToKnow .textContent h3.active {
	border-bottom: 0px;
}

.ubirata .categories .extraContent .goodToKnow .textContent h3:after,
.ubirata .products .extraContent .goodToKnow .textContent h3:after {
	background-repeat: no-repeat;
	background-size: 100%;
	transition: var(--transitionMedium);
	background-image: url(../assets/catprod-4-greenArrowDown.svg);
	width: 15px;
	height: 8px;
	content: "";
	display: block;
	float: right;
	margin-top: 2px;
	margin-right: -30px;
}

.ubirata .categories .extraContent .goodToKnow .textContent div,
.ubirata .products .extraContent .goodToKnow .textContent div {
	position: relative;
}

.ubirata .categories .extraContent .goodToKnow .textContent div p,
.ubirata .products .extraContent .goodToKnow .textContent div p {
	padding-bottom: 20px;
	opacity: 0%;
	transition: var(--transitionMedium);
	max-height: 0;
	margin-top: -20px;
}

.ubirata .categories .extraContent .goodToKnow .textContent div p.active,
.ubirata .products .extraContent .goodToKnow .textContent div p.active {
	opacity: 100%;
	z-index: 1;
	max-height: 200px;
	margin-top: 0px;
	border-bottom: 2px solid var(--borderGreyOpacity);
}

.ubirata .categories .extraContent .anotherCategories,
.ubirata .products .extraContent .anotherCategories {
	margin-bottom: 160px;
}

.ubirata .categories .extraContent .anotherCategories .title,
.ubirata .products .extraContent .anotherCategories .title {
	margin-bottom: 20px;
}

.ubirata .categories .extraContent .anotherCategories .item,
.ubirata .products .extraContent .anotherCategories .item {
	background-color: var(--yellowBackground);
	border-radius: 10px;
	overflow: hidden;
	padding: 15px;
	transition: var(--transitionMedium);
}

.ubirata .categories .extraContent .anotherCategories .item a,
.ubirata .products .extraContent .anotherCategories .item a {
	text-decoration: none;
}

.ubirata .categories .extraContent .anotherCategories .item h3,
.ubirata .products .extraContent .anotherCategories .item h3 {
	color: var(--darkGreen);
	margin-top: 20px;
	transition: var(--transitionMedium);
}

.ubirata .categories .extraContent .anotherCategories .item img,
.ubirata .products .extraContent .anotherCategories .item img {
	width: 180px;
	height: 170px;
	display: block;
	margin: 0 auto;
	transition: var(--transitionMedium);
}

.ubirata .categories.disabled-category .heart,
.ubirata .products.disabled-product .heart,
.ubirata .products .heart {
	background-image: url(../assets/categoryDes-1-heart.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 537px;
	right: -40px;
	height: 494px;
	position: absolute;
	z-index: -1;
	top: 232px;
}

.ubirata .categories.disabled-category .heart {
	top: 265px;
}

.ubirata .products .firstContent .ourProducts .item p.disabled-date {
	padding: 10px;
	background-color: var(--disabled-grey);
	position: absolute;
	border-radius: var(--lowRadius);
	text-align: center;
	float: none;
	margin: 0px;
	font-size: 10px;
	z-index: 2;
	opacity: 100%;
	top: 10px;
	color: var(--darkBrownOpacity);
	transform: none;
	width: max-content;
	right: 0px;
	left: auto;
}

.ubirata .categories.disabled-category .firstContent .ourProducts a .disabled-date {
	right: 10px;
	padding: 10px;
	background-color: var(--disabled-grey);
	position: absolute;
	border-radius: var(--lowRadius);
	text-align: center;
	float: none;
	width: max-content;
	margin: 0px;
	font-size: 10px;
	z-index: 2;
	opacity: 100%;
	top: 10px;
	color: var(--darkBrownOpacity);
	transform: none;
	left: auto;
}


.ubirata .categories.disabled-category .firstContent h1,
.ubirata .products.disabled-product .firstContent h1 {
	width: max-content;
}

.ubirata .categories.disabled-category .firstContent h1:after,
.ubirata .products.disabled-product .firstContent h1:after {
	padding: 10px;
	background-color: var(--disabled-grey);
	border-radius: var(--lowRadius);
	float: right;
	margin-left: 15px;
	color: var(--darkBrownOpacity);
	display: block;
	content: "Descontinuado";
	font-size: 10px;
}

/* DISABLED CATEGORY */

.ubirata .categories.disabled-category .firstContent {
	background: var(--yellowGradient);
}

.ubirata .categories.disabled-category .firstContent .bigMilks {
	width: 604px;
	height: auto;
	margin-right: 80px;
	margin-top: -80px;
}

.ubirata .categories.disabled-category .firstContent .ourProducts a img {
	float: left;
	width: auto;
	height: 100%;
	object-fit: contain;
	position: relative;
	z-index: 1;
	opacity: 40%;
	transition: var(--transitionFast);
}

.ubirata .categories.disabled-category .firstContent .ourProducts p {
	opacity: 40%;
}

.ubirata .categories.disabled-category .firstContent .text .disabled-date {
	margin-top: 50px;
	text-align: left;
}

.ubirata .categories.disabled-category .container {
	margin-top: -10px;
}


/* DISABLED PRODUCT */

.ubirata .products.disabled-product .heart {
	top: 240px;
}

.ubirata .products.disabled-product .firstContent .ourProducts .item img,
.ubirata .products.disabled-product .firstContent .ourProducts .item p,
.ubirata .products.disabled-product .firstContent .ourProducts .item a {
	opacity: 40%;
}

.ubirata .products.disabled-product .firstContent .ourProducts .item a {
	opacity: 40%;
	pointer-events: none;
	cursor: not-allowed;
	display: none;
	color: var(--darkGreen);
}

.ubirata .products.disabled-product .firstContent .ourProducts .item p.disabled-date {
	top: 0px;
	right: 0px;
	width: max-content;
	opacity: 100%;
}

.ubirata .products.disabled-product .firstContent .text .disabled-date {
	margin-top: 30px;
	text-align: left;
}

.ubirata .products.disabled-product .firstContent .bigMilks {
	margin-right: 80px;
	width: 400px;
	height: auto;
}

.ubirata .products.disabled-product .buttonPattern1 {
	opacity: 20%;
	pointer-events: none;
	cursor: not-allowed;
}

@media (max-width: 1024px) {

	.ubirata .categories,
	.ubirata .products {
		overflow-x: hidden;
	}

	.ubirata .categories .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
		height: 100%;
		padding-top: 50px;
	}

	.ubirata .categories .extraContent .container {
		padding-top: 50px;
	}

	.ubirata .categories .firstContent .introduction {
		padding-top: 135px;
	}

	.ubirata .categories .extraContent .goodToKnow .textContent,
	.ubirata .categories .extraContent .goodToKnow img,
	.ubirata .products .extraContent .goodToKnow .textContent,
	.ubirata .products .extraContent .goodToKnow img {
		float: none;
		width: 100%;
		margin-left: 0px;
	}

	.ubirata .categories .firstContent {
		background-image: none;
		background-color: var(--pinkBorderLink);
	}

	.ubirata .categories .extraContent .specialPhase,
	.ubirata .products .extraContent .specialPhase {
		padding: 20px;
		margin-bottom: 40px;
	}

	.ubirata .products .heart {
		display: none;
	}

	.ubirata .categories .extraContent .carouselKids {
		margin-bottom: 0px;
	}

	.ubirata .categories .firstContent .ourProducts .carousel-products {
		width: calc(100% - 50px);
	}

	.ubirata .categories .extraContent .specialPhase .nutricionalFacts div h3,
	.ubirata .categories .extraContent .specialPhase .nutricionalFacts div img,
	.ubirata .products .extraContent .specialPhase .nutricionalFacts div h3,
	.ubirata .products .extraContent .specialPhase .nutricionalFacts div img {
		float: none;
	}

	.ubirata .categories .extraContent .specialPhase .nutricionalFacts div h3,
	.ubirata .products .extraContent .specialPhase .nutricionalFacts div h3 {
		margin-top: 10px;
	}

	.ubirata .categories .firstContent .ourProducts {
		padding-bottom: 30px;
	}

	.ubirata .categories .firstContent .seeMoreContainer {
		display: none;
	}

	.ubirata .categories .extraContent .developmentAge {
		padding-top: 40px;
		margin-bottom: 40px;
	}

	.ubirata .categories .firstContent .text {
		margin-bottom: 20px;
		width: 100%
	}

	.ubirata .categories .firstContent .bigMilks {
		width: 100%;
		height: auto;
	}

	.ubirata .categories .firstContent {
		margin-top: -50px;
	}

	.ubirata .categories .extraContent .goodToKnow,
	.ubirata .products .extraContent .goodToKnow {
		margin-bottom: 40px;
	}

	.ubirata .categories .extraContent .goodToKnow .textContent h3.active,
	.ubirata .products .extraContent .goodToKnow .textContent h3.active {
		border-bottom: none;
	}

	.ubirata .categories .extraContent .goodToKnow .textContent div p.active,
	.ubirata .products .extraContent .goodToKnow .textContent div p.active {
		border-bottom: 2px solid var(--borderGreyOpacity);
		padding-bottom: 20px;
	}

	.ubirata .categories .extraContent .specialPhase .nutricionalFacts,
	.ubirata .products .extraContent .specialPhase .nutricionalFacts {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 30px;
	}

	.ubirata .categories .extraContent .specialPhase .nutricionalFacts div,
	.ubirata .products .extraContent .specialPhase .nutricionalFacts div {
		margin-bottom: 0px;
		overflow: visible;
		text-align: center;
	}

	.ubirata .categories .extraContent .goodToKnow img,
	.ubirata .products .extraContent .goodToKnow img {
		margin: 0 auto;
		margin-top: 30px;
		width: calc(100% - 100px);
		display: block;
	}

	.ubirata .categories .extraContent .anotherCategories,
	.ubirata .products .extraContent .anotherCategories {
		margin-bottom: 40px;
	}

	.ubirata .categories .extraContent .anotherCategories .otherCategoriesList,
	.ubirata .products .extraContent .anotherCategories .otherCategoriesList {
		width: calc(100% - 50px);
	}

	.ubirata .products .firstContent .container,
	.ubirata .products .extraContent .container {
		width: calc(100% - 40px);
		margin: 0 20px;
	}

	.ubirata .products .firstContent {
		padding-top: 140px;
	}

	.ubirata .products .firstContent .introduction {
		padding-top: 200px;
	}

	.ubirata .products .firstContent .text {
		width: 100%;
		margin-bottom: 20px;
	}

	.ubirata .products .firstContent .seeMoreContainer {
		display: none;
	}

	.ubirata .products .firstContent .bigMilks {
		float: none;
		display: block;
		margin: 0 auto;
		width: 200px;
		height: auto;
	}

	.ubirata .products .firstContent .visiblePart {
		height: 100%;
	}

	.ubirata .products .firstContent .ourProducts {
		padding-bottom: 40px;
		margin-top: 20px;
	}

	.ubirata .products .container-products {
		display: block;
		width: calc(100% - 50px);
	}

	.ubirata .products .instructions .container-cards {
		grid-template-columns: 1fr;
		gap: 10px;
	}

	.ubirata .products .nutritionalFacts .card:nth-child(1) {
		margin-bottom: 10px;
	}

	.ubirata .products .container-products2 {
		width: calc(100% - 50px);
	}

	.ubirata .products .instructions {
		padding-top: 40px;
	}

	.ubirata .products .linksBellow .linksList {
		padding-top: 0px;
	}

	.ubirata .products .instructions,
	.ubirata .products .nutritionalFacts,
	.ubirata .products .otherProducts {
		margin-bottom: 40px;
	}

	.ubirata .products .nutritionalFacts .detail .content-container div:nth-child(1),
	.ubirata .products .nutritionalFacts .detail .content-container div:nth-child(2) {
		float: none;
		width: 100%;
	}

	.ubirata .products .nutritionalFacts .detail .content-container div:nth-child(1) {
		margin-bottom: 20px;
	}

	.ubirata .categories.disabled-category .heart {
		display: none;
	}

	.ubirata .categories.disabled-category .firstContent .bigMilks {
		margin: 0px;
		width: 100%;
		margin-bottom: 40px;
		margin-top: 0px;
	}

	.ubirata .categories.disabled-category .firstContent h1,
	.ubirata .products.disabled-product .firstContent h1 {
		width: 100%;
	}

	.ubirata .categories.disabled-category .firstContent h1:after,
	.ubirata .products.disabled-product .firstContent h1:after {
		float: none;
		width: max-content;
		margin-top: 10px;
		margin-left: 0px;
	}

	.ubirata .products.disabled-product .firstContent .bigMilks {
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
		width: auto;
		height: 400px;
		margin: 0 auto;
	}

	.ubirata .products.disabled-product .firstContent .text .disabled-date {
		margin-bottom: 0px;
	}

	.ubirata .categories .extraContent .carouselKids {
		display: grid;
		grid-template-columns: 1fr;
		margin-top: 20px;
		grid-row-gap: 40px;
	}

	.ubirata .products .instructions .container-cards.threeSteps,
	.ubirata .products .instructions .container-cards.fourSteps,
	.ubirata .products .instructions .container-cards.twoSteps,
	.ubirata .products .instructions .container-cards.fiveSteps {
		grid-template-columns: 1fr;
	}

	.ubirata .categories .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .products .owl-carousel .owl-nav.navGreen button.owl-prev {
		display: none;
	}

	.ubirata .categories .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .categories .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .products .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .products .owl-carousel .owl-nav.navGreen button.owl-prev {
		opacity: 0%;
	}

	.ubirata .categories .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .products .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 170px;
		width: 50px;
		right: -64px;
		bottom: -209px;
		position: absolute;
	}

	.ubirata .categories .otherCategoriesList.owl-carousel .owl-nav.navGreen button.owl-next {
		height: 276px;
		bottom: -194px;
	}

	.ubirata .categories.disabled-category .otherCategoriesList.owl-carousel .owl-nav.navGreen button.owl-next {
		height: 236px;
		bottom: -277px;
	}

	.ubirata .products .otherCategoriesList.owl-carousel .owl-nav.navGreen button.owl-next {
		height: 236px;
		bottom: -276px;
	}

	.ubirata .products .container-products2.owl-carousel .owl-nav.navGreen button.owl-next {
		height: 155px;
		top: calc(100% + 40px);
	}
}