@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,500;0,9..40,700;0,9..40,800;1,9..40,400&display=swap');

:root {
	--font2: 'DM Sans', sans-serif;
	--darkGreen: #175732;
	--borderGreenOpacity40: rgba(23, 87, 50, 0.4);
	--whiteHover: rgba(255, 255, 255, 0.1);
	--white: #F2F2F2;
	--grey: #3C3C3C;
	--disabled-grey: #D8D8D8;
	--greyTag: rgba(255, 255, 255, 0.6);
	--darkBrownText: #30261D;
	--darkBrownOpacity: rgba(48, 38, 29, 0.6);
	--borderInputOpacity: rgba(48, 38, 29, 0.2);
	--easeBackground: #FAF8CC;
	--border-mobile: #FA28709;
	--prepare-trace: #D7CB7E;
	--nutritional-table-background: #E8E2A4;
	--yellowIcons: #FAD631;
	--yellowEaseCard: #FCF4AF;
	--selectBackground: #FBDB43;
	--yellowBackground: #FFEE89;
	--yellowBackgroundTheme: #FFEF85;
	--yellowGradient: linear-gradient(0deg, rgba(250, 214, 49, 1) 0%, rgba(255, 238, 137, 1) 100%);
	--borderYellowOpacity: rgba(127, 118, 68, 0.1);
	--borderGreenOpacity: rgba(23, 87, 50, 0.1);
	--borderGreyOpacity: rgba(23, 87, 50, 0.1);
	--borderGreenActive: rgba(124, 123, 101, 0.1);
	--borderGreenActiveOn: rgba(124, 123, 101, 0.6);
	--progressBar: rgba(48, 38, 29, 0.2);
	--blueLink: #BAD9DB;
	--blueBorderLink: #92CFDD;
	--pinkLink: #FFE3B7;
	--pinkBorderLink: #F7C149;
	--hotYellowBorderLink: #DECD65;
	--greenLink: #D9E7B3;
	--greenBorderLink: #BBD884;
	--lightGreenLink: #D9E783;
	--yellowLink: #FEF083;
	--yellowBorderLink: #F7DE6A;
	--greenDarkLink: #A8D6AD;
	--greenDarkBorderLink: #8CC687;
	--lighterGreenLink: #EDE4EC;
	--lighterGreenBorderLink: #E2C5E1;
	--redTag: #F7C1A9;
	--greenTag: #BBD884;
	--blueTag: #BAD9DB;
	--brown: #30261D;
	--transitionMedium: all 1s;
	--transitionFast: all 0.5s;
	--lowRadius: 5px;
}

.ubirata::-webkit-scrollbar-track {
	background: var(--white);
}

.ubirata::-webkit-scrollbar {
	width: 5px;
}

.ubirata::-webkit-scrollbar-track {
	background: var(--white);
}

.ubirata::-webkit-scrollbar-thumb {
	background-color: var(--darkGreen);
	border-radius: 10px;
}

.buttonPattern1 {
	background-color: var(--darkGreen);
	border-radius: 10px;
	color: white;
	text-decoration: none;
	transition: var(--transitionMedium);
	cursor: pointer;
	display: block;
	border: none;
	text-align: center;
}

.buttonPattern1:hover {
	color: white;
	background-color: var(--brown);
}

.disabled {
	display: none;
}

.ubirata * {
	box-sizing: border-box;
}

.ubirata .tag {
	padding: 7px 10px;
	border-radius: 5px;
	text-align: center;
}

.ubirata .owl-theme .owl-nav {
	right: 0px;
	top: -40px;
}


.ubirata .owl-carousel .owl-stage-outer {
	overflow: visible;
}

.ubirata .owl-carousel .owl-nav span {
	display: none;
}

.ubirata .owl-carousel .owl-nav button {
	width: 10px;
	height: 16px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.ubirata .owl-carousel .owl-nav.navDark button.owl-next {
	background-image: url(../assets/seta-dir-dark.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.ubirata .owl-carousel .owl-nav.navDark button.owl-prev {
	background-image: url(../assets/seta-esq-dark.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.ubirata .owl-carousel .owl-nav.navGreen button.owl-next {
	background-image: url(../assets/arrow-right.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.ubirata .owl-carousel .owl-nav.navGreen button.owl-prev {
	background-image: url(../assets/arrow-left.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.ubirata .owl-carousel .owl-nav.navWhite button.owl-next {
	background-image: url(../assets/arrow-white-right.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto
}

.ubirata .owl-carousel .owl-nav.navWhite button.owl-prev {
	background-image: url(../assets/arrow-white-left.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto
}

.ubirata .owl-theme .owl-dots {
	width: 100%;
	left: 0px;
	height: 40px;
	top: calc(100% + 75px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	opacity: 0%;
}

body {
	width: 100vw;
	overflow-x: hidden;
}

.ubirata .SumoSelect>.CaptionCont>span {
	width: calc(100% - 20px);
}

.ubirata .SumoSelect>.optWrapper>.options li.opt:hover,
.ubirata .SumoSelect>.optWrapper>.options li.opt.selected {
	background-color: var(--selectBackground);
	color: black
}

.ubirata .owl-carousel.owl-drag .owl-item {
	pointer-events: none;
	cursor: pointer;
}

.ubirata .owl-carousel.owl-drag .owl-item.active {
	pointer-events: all;
	cursor: initial;
}