/* home-theme-age-mothers-amb-my-content-search */

.ubirata .home .extraContent .popularContent .carouselKids .item {
	transition: var(--transitionMedium);
}

.ubirata .home .extraContent .popularContent .carouselKids .item:hover {
	margin-top: -5px;
}

.ubirata .home .extraContent .popularContent {
	padding-top: 90px;
	margin-top: -10px;
}

.ubirata .home .extraContent .popularContent .title {
	margin-bottom: 20px;
}

.ubirata .home .extraContent .popularContent h4,
.ubirata .home .extraContent .developmentPhase .item h4 {
	margin-bottom: 30px
}

.ubirata .home .extraContent .popularContent .carouselKids {
	width: 100%;
	margin-bottom: 85px;
}

.ubirata .home .firstContent .cards h2 {
	margin-bottom: 20px;
	text-align: start;
}

.ubirata .home .firstContent .cards ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	width: 100%;
	gap: 20px;
}

.ubirata .home .firstContent .cards li {
	width: 100%;
	background-color: var(--easeBackground);
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.ubirata .home .firstContent .cards li .color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-image: linear-gradient(to bottom,
			var(--blueLink) 0%,
			var(--blueLink) 100%);
	transition: height 0.5s ease;
	z-index: -1;
}

.ubirata .home .firstContent .cards li:hover .color-overlay {
	height: 100%;
	z-index: 1;
}

.ubirata .home .firstContent .cards .firstText {
	overflow: hidden;
}

.ubirata .home .firstContent .cards .firstText h3 {
	margin-bottom: 20px;
}

.ubirata .home .firstContent .cards .firstText div:nth-child(1) {
	float: left;
	width: calc(100% - 90px);
}

.ubirata .home .firstContent .cards .firstText div:nth-child(2) {
	float: right;
	background-position: center;
	background-repeat: no-repeat;
	padding: 26px;
	background-size: 24px;
	background-color: var(--yellowBackground);
	border-radius: 50%;
}

.ubirata .home .firstContent .cards .firstText .apple {
	background-image: url(../assets/home-1-iconApple.png);
}

.ubirata .home .firstContent .cards .firstText .fork {
	background-image: url(../assets/home-1-iconFork.png);
}

.ubirata .home .firstContent .cards .firstText .message {
	background-image: url(../assets/home-1-iconHeart.png);
}

.ubirata .home .firstContent .cards .firstText .pencil {
	background-image: url(../assets/home-1-iconPencil.png);
}

.ubirata .home .firstContent .cards {
	z-index: 2;
	position: relative;
}

.ubirata .home .firstContent .cards .readContent {
	z-index: 2;
	position: absolute;
	bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--darkGreen);
	width: 115px;
}

.ubirata .home .firstContent .cards .readContent p {
	color: var(--darkGreen);
	font-size: 12px;
	width: calc(100% - 10px);
	display: block;
	text-align: start;
}

.ubirata .home .firstContent .cards a {
	text-decoration: none;
	display: block;
	padding: 20px;
	overflow: hidden;
	color: black;
	position: relative;
	z-index: 2;
	padding-bottom: 60px;
}

.ubirata .home .extraContent .popularContent {
	margin-bottom: 80px;
}

.ubirata .home .extraContent .popularContent .item {
	height: max-content;
	padding-top: 5px;
}

.ubirata .home .extraContent .popularContent .item a {
	transition: var(--transitionFast);
}

.ubirata .home .extraContent .popularContent .item:hover a {
	margin-top: -5px;
}

.ubirata .home .extraContent .popularContent .carouselKids {
	margin-bottom: 0px;
}

.ubirata .home .extraContent .container .developmentPhase .seeAll {
	padding: 18px;
	width: 180px;
	margin: 0 auto;
}

.ubirata .home .extraContent .container .developmentPhase .filter {
	margin-bottom: 80px;
}

.ubirata .home .firstContent .text h3 {
	margin-bottom: 50px;
}

.ubirata .home .extraContent .container .developmentPhase .filter .carouselFilter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.ubirata .home .extraContent .container .developmentPhase .filter p {
	padding: 30px;
	border: 2px solid;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
	color: var(--darkBrownText);
	transition: var(--transitionMedium);
}

.ubirata .home .extraContent .container .developmentPhase .filter h3 {
	margin-bottom: 20px;
}


.ubirata .home .extraContent .container .developmentPhase .filter p.allPhases {
	border: 2px solid var(--blueBorderLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter .active.allPhases {
	background-color: var(--blueLink);
	border: 3px solid var(--blueBorderLink);
}


.ubirata .home .extraContent .container .developmentPhase .filter p.phase1 {
	border: 2px solid var(--redTag);
}

.ubirata .home .extraContent .container .developmentPhase .filter .active.phase1 {
	background-color: var(--pinkLink);
	border: 3px solid var(--redTag);
}

.ubirata .home .extraContent .container .developmentPhase .filter p.phase2 {
	border: 2px solid var(--greenBorderLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter .active.phase2 {
	background-color: var(--lightGreenLink);
	border: 3px solid var(--greenBorderLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter p.phase3 {
	border: 2px solid var(--yellowBorderLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter .active.phase3 {
	background-color: var(--yellowBackground);
	border: 3px solid var(--yellowBorderLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter p.phase4 {
	border: 2px solid var(--greenDarkLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter .active.phase4 {
	background-color: var(--greenDarkBorderLink);
	border: 3px solid var(--greenDarkLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter p.phase5 {
	border: 2px solid var(--lighterGreenBorderLink);
}

.ubirata .home .extraContent .container .developmentPhase .filter .active.phase5 {
	background-color: var(--lighterGreenLink);
	border: 3px solid var(--lighterGreenBorderLink);
}

.ubirata .home .firstContent .catalog {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 20px;
	padding-bottom: 80px;
}

.ubirata .home .firstContent .catalog p {
	color: var(--darkGreen);
}

.ubirata .home .extraContent .developmentPhase .title {
	margin-bottom: 20px;
}

.ubirata .home .extraContent .linksBellow {
	padding: 0px;
	margin-top: 160px;
}

.ubirata .home .firstContent .carouselSection .owl-theme .owl-nav {
	right: 0px;
	top: calc(100% + 125px)
}

/* COMUM */

.ubirata .home .firstContent,
.ubirata .theme .firstContent,
.ubirata .mothers .firstContent {
	width: 100%;
	position: relative;
	z-index: 2;
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	height: calc(100% + 45px);
	background: var(--yellowGradient)
}

.ubirata .home .extraContent .container,
.ubirata .mothers .extraContent .container {
	width: calc(100% - 320px);
	margin: 0px 160px;
}

.ubirata .home .firstContent {
	height: calc(100% + 55px);
}

.ubirata .home .firstContent .introduction,
.ubirata .mothers .firstContent .introduction {
	z-index: 1;
	position: relative;
	width: 100%;
	padding-top: 250px;
}

.ubirata .mothers .firstContent .introduction {
	height: 100%;
	padding-top: 275px;
}

.ubirata .home .firstContent .container,
.ubirata .mothers .firstContent .container {
	margin: 0 auto;
	width: calc(100% - 320px);
	max-width: 1360px;
}

.ubirata .home .firstContent .heartImage,
.ubirata .mothers .firstContent .heartImage {
	position: absolute;
	right: -35px;
	background-image: url(../assets/home-1-backgroundHeart.png);
	background-repeat: no-repeat;
	width: 537px;
	background-size: 100%;
	background-position: center right;
	height: 500px;
	z-index: 0;
	top: 170px;
}

.ubirata .mothers .firstContent .heartImage {
	top: 223px;
}

.ubirata .home .firstContent .play-pause-btn,
.ubirata .mothers .firstContent .play-pause-btn {
	position: absolute;
	top: calc(100% - 60px);
	right: 25px;
	border: none;
	background-image: url(../assets/pause.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	transition: var(--transitionMedium);
	z-index: 2;
	background-size: 15px;
	width: 15px;
	height: 22px
}


.ubirata .home .firstContent .carouselSection,
.ubirata .mothers .firstContent .carouselSection {
	position: relative;
}

.ubirata .home .firstContent .owl-carousel .owl-stage-outer,
.ubirata .mothers .firstContent .owl-carousel .owl-stage-outer {
	overflow: hidden;
	height: 100%;
}

.ubirata .home .firstContent .play-pause-btn.paused,
.ubirata .mothers .firstContent .play-pause-btn.paused {
	background-image: url(../assets/play.svg);
}

.ubirata .home .firstContent .item .firstItemContent {
	width: 100%;
	overflow: hidden;
}

.ubirata .mothers .firstContent .item .firstItemContent {
	width: 100%;
	overflow: hidden;
	margin-bottom: 250px;
}

.ubirata .mothers .firstContent .item {
	height: max-content
}

.ubirata .home .firstContent .carouselSection .owl-theme .owl-nav,
.ubirata .mothers .firstContent .carouselSection .owl-theme .owl-nav {
	right: 0px;
	top: calc(100% + 125px)
}

.ubirata .home .firstContent .play-pause-btn,
.ubirata .mothers .firstContent .play-pause-btn {
	position: absolute;
	top: calc(100% - 60px);
	right: 25px;
	border: none;
	background-image: url(../assets/pause.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	transition: var(--transitionMedium);
	z-index: 2;
	background-size: 15px;
	width: 15px;
	height: 22px
}

.ubirata .home .firstContent .play-pause-btn.paused,
.ubirata .mothers .firstContent .play-pause-btn.paused {
	background-image: url(../assets/play.svg);
}

.ubirata .home .carouselSection .owl-carousel .owl-nav.navGreen button.owl-prev,
.ubirata .mothers .carouselSection .owl-carousel .owl-nav.navGreen button.owl-prev {
	margin-right: 40px
}

.ubirata .home .progress-container,
.ubirata .mothers .progress-container {
	position: relative;
	height: 5px;
	background-color: var(--progressBar);
	overflow: hidden;
	width: 100%;
	margin-top: 60px;
}

.ubirata .home .progress-bar,
.ubirata .mothers .progress-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: var(--darkGreen);
	/* Cor da barra de progresso */
}

.ubirata .home .firstContent .text,
.ubirata .mothers .firstContent .text {
	width: calc(50% - 50px);
	max-width: 500px;
	float: left;
}

.ubirata .home .firstContent .text h1,
.ubirata .mothers .firstContent .text h1 {
	color: var(--darkGreen);
	margin-bottom: 50px;
	font-size: 36px;
}

.ubirata .home .firstContent .item img,
.ubirata .mothers .firstContent .item img {
	float: right;
	width: 50%;
	max-width: 580px;
	height: auto;
}

.ubirata .home .extraContent .quiz,
.ubirata .mothers .extraContent .quiz {
	border-radius: 20px;
	margin-top: 80px;
	overflow: hidden;
	border: 2px solid var(--hotYellowBorderLink);
	background-color: var(--yellowBackground);
}

.ubirata .home .extraContent .quiz figure,
.ubirata .mothers .extraContent .quiz figure {
	float: left;
	width: 50%;
	padding: 80px;
	position: relative;
}

.ubirata .home .extraContent .quiz figure img,
.ubirata .mothers .extraContent .quiz figure img {
	position: absolute;
	width: calc(100% - 80px);
	object-fit: contain;
	height: 520px;
	top: 40px;
	left: 40px;
}

.ubirata .home .extraContent .quiz form,
.ubirata .mothers .extraContent .quiz form {
	float: right;
	padding: 80px;
	width: 50%;
	padding-left: 0px;
}

.ubirata .home .extraContent .quiz form h3,
.ubirata .home .extraContent .quiz form p,
.ubirata .mothers .extraContent .quiz form h3,
.ubirata .mothers .extraContent .quiz form p {
	margin-bottom: 40px;
}

.ubirata .home .extraContent .quiz form .fieldWrapper,
.ubirata .mothers .extraContent .quiz form .fieldWrapper {
	overflow: hidden;
	margin-bottom: 20px;
}

.ubirata .home .extraContent .quiz form .fieldWrapper div:nth-child(1),
.ubirata .mothers .extraContent .quiz form .fieldWrapper div:nth-child(1) {
	float: left;
	width: calc(50% - 10px);
}

.ubirata .home .extraContent .quiz form .fieldWrapper div:nth-child(2),
.ubirata .mothers .extraContent .quiz form .fieldWrapper div:nth-child(2) {
	float: right;
	width: calc(50% - 10px);
}

.ubirata .home .extraContent .quiz form .fieldWrapper div label,
.ubirata .mothers .extraContent .quiz form .fieldWrapper div label {
	display: block;
	margin-bottom: 10px;
}

.ubirata .home .extraContent .quiz form .fieldWrapper div input,
.ubirata .mothers .extraContent .quiz form .fieldWrapper div input {
	display: block;
	margin-bottom: 10px;
	border: 2px solid var(--borderInputOpacity);
	padding: 14px;
	border-radius: 10px;
	background-color: transparent;
	width: 100%;
}

.ubirata .home .extraContent .quiz form .fieldWrapper div input::placeholder,
.ubirata .mothers .extraContent .quiz form .fieldWrapper div input::placeholder {
	color: var(--borderInputOpacity);
}

.ubirata .home .extraContent .quiz form button,
.ubirata .mothers .extraContent .quiz form button {
	width: 160px;
	padding: 18px;
	color: white;
}

.ubirata .home .extraContent .popularContent .carouselKids .item figure {
	position: relative;
	margin-bottom: 25px;
	border-radius: 10px;
	height: 200px;
	width: 100%;
	overflow: hidden;
}

.ubirata .home .extraContent .popularContent .carouselKids .item figure img {
	border-radius: 10px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: var(--transitionMedium);
}

.ubirata .home .extraContent .popularContent .carouselKids .item:hover figure img {
	margin-top: -5px;
	width: calc(100% + 5px);
	height: calc(100% + 5px);
}

.ubirata .home .extraContent .popularContent .carouselKids .item a p {
	color: var(--darkBrownText);
}

.ubirata .home .extraContent .popularContent .carouselKids .item a {
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.ubirata .home .extraContent .popularContent .carouselKids .tag {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: var(--grey);
}

.ubirata .home .extraContent .popularContent .carouselKids .tag.tag2y {
	background-color: var(--greenTag);
}

.ubirata .home .extraContent .popularContent .carouselKids .tag.tag1y {
	background-color: var(--redTag);
}

.ubirata .home .extraContent .popularContent .carouselKids .tag.tagAllyears {
	background-color: var(--blueTag);
}

.ubirata .home .extraContent .popularContent .carouselKids .tag.tag5y {
	background-color: var(--yellowBorderLink);
}

.ubirata .home .extraContent .popularContent .carouselKids .tag.tag9y {
	background-color: var(--lighterGreenBorderLink);
}

.ubirata .home .extraContent .popularContent .carouselKids .item h3 {
	margin-bottom: 20px;
	color: var(--darkGreen);
}

.ubirata .home .extraContent .popularContent .carouselKids .item p.iconHeart:before {
	background-image: url(../assets/catprod-2-iconHeart.svg);
}

.ubirata .home .extraContent .popularContent .carouselKids .item p.iconPearson:before {
	background-image: url(../assets/catprod-2-iconPearson.svg);
}

.ubirata .home .extraContent .popularContent .carouselKids .item p.iconHappy:before {
	background-image: url(../assets/catprod-2-iconHappy.svg);
}

.ubirata .home .extraContent .popularContent .carouselKids .item p.iconRecipe:before {
	background-image: url(../assets/iconRecipe.svg);
}

.ubirata .home .extraContent .popularContent .carouselKids .item p:before {
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	content: "";
	background-position: center;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
	border-radius: 50%;
}

.ubirata .home .extraContent,
.ubirata .theme .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .home .extraContent .container .developmentPhase .newsLetterCard h3,
.ubirata .theme .extraContent .container .developmentPhase .newsLetterCard h3,
.ubirata .age .extraContent .container .developmentPhase .newsLetterCard h3 {
	margin-bottom: 20px;
}

.ubirata .home .extraContent .developmentPhase .newsLetterCard,
.ubirata .theme .extraContent .developmentPhase .newsLetterCard,
.ubirata .mothers .extraContent .developmentPhase .newsLetterCard,
.ubirata .age .extraContent .developmentPhase .newsLetterCard,
.ubirata .ambassadorsPage .extraContent .developmentPhase .newsLetterCard {
	padding: 20px;
	border-radius: 10px;
	border: 2px solid var(--hotYellowBorderLink);
	position: absolute;
	left: 0px;
	top: 0px;
}

.ubirata .home .extraContent .developmentPhase .newsLetterCard .iconNews,
.ubirata .theme .extraContent .developmentPhase .newsLetterCard .iconNews,
.ubirata .mothers .extraContent .developmentPhase .newsLetterCard .iconNews,
.ubirata .age .extraContent .developmentPhase .newsLetterCard .iconNews,
.ubirata .ambassadorsPage .extraContent .developmentPhase .newsLetterCard .iconNews {
	padding: 10px;
	border-radius: 50%;
	background-color: var(--yellowBackground);
	background-position: center;
	background-size: 26px;
	width: 65px;
	height: 65px;
	background-repeat: no-repeat;
	background-image: url(../assets/mail.svg);
	margin-bottom: 25px;
}

.ubirata .home .extraContent .developmentPhase .newsLetterCard button,
.ubirata .theme .extraContent .developmentPhase .newsLetterCard button,
.ubirata .mothers .extraContent .developmentPhase .newsLetterCard button,
.ubirata .age .extraContent .developmentPhase .newsLetterCard button,
.ubirata .ambassadorsPage .extraContent .developmentPhase .newsLetterCard button {
	width: 100%;
	padding: 18px;
}

.ubirata .home .extraContent .developmentPhase .newsLetterCard h3,
.ubirata .theme .extraContent .developmentPhase .newsLetterCard h3,
.ubirata .mothers .extraContent .developmentPhase .newsLetterCard h3,
.ubirata .age .extraContent .developmentPhase .newsLetterCard h3,
.ubirata .ambassadorsPage .extraContent .developmentPhase .newsLetterCard h3 {
	margin-bottom: 10px;
}

.ubirata .home .extraContent .developmentPhase .newsLetterCard p,
.ubirata .theme .extraContent .developmentPhase .newsLetterCard p,
.ubirata .mothers .extraContent .developmentPhase .newsLetterCard p,
.ubirata .age .extraContent .developmentPhase .newsLetterCard p,
.ubirata .ambassadorsPage .extraContent .developmentPhase .newsLetterCard p {
	margin-bottom: 15px
}

.ubirata .home .extraContent .developmentPhase .grid-item,
.ubirata .theme .extraContent .developmentPhase .grid-item,
.ubirata .mothers .extraContent .developmentPhase .grid-item,
.ubirata .age .extraContent .developmentPhase .grid-item,
.ubirata .ambassadorsPage .extraContent .developmentPhase .grid-item,
.ubirata .my-content .extraContent .developmentPhase .grid-item {
	margin-bottom: 20px;
	width: calc(25% - 20px);
}

.ubirata .home .extraContent .developmentPhase .grid,
.ubirata .theme .extraContent .developmentPhase .grid,
.ubirata .mothers .extraContent .developmentPhase .grid,
.ubirata .age .extraContent .developmentPhase .grid,
.ubirata .ambassadorsPage .extraContent .developmentPhase .grid,
.ubirata .my-content .extraContent .developmentPhase .grid {
	width: calc(100% + 20px);
}

.ubirata .theme .otherThemes li,
.ubirata .age .otherThemes li {
	width: 100%;
	background-color: var(--yellowBackgroundTheme);
	border-radius: 10px;
	position: relative;
	overflow: hidden;
}

.ubirata .theme .otherThemes .color-overlay,
.ubirata .age .otherThemes .color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-image: linear-gradient(to bottom,
			var(--greenBorderLink) 0%,
			var(--greenBorderLink) 100%);
	transition: height 0.5s ease;
	z-index: -1;
}

.ubirata .theme .otherThemes li:hover .color-overlay,
.ubirata .age .otherThemes li:hover .color-overlay {
	height: 100%;
	z-index: 1;
}


.ubirata .theme .otherThemes .firstText div:nth-child(1),
.ubirata .age .otherThemes .firstText div:nth-child(1) {
	float: left;
	width: calc(100% - 90px);
	position: relative;
	z-index: 2;
}

.ubirata .theme .otherThemes .firstText h3,
.ubirata .age .otherThemes .firstText h3 {
	margin-bottom: 20px;
}

.ubirata .theme .otherThemes .firstText div:nth-child(2),
.ubirata .age .otherThemes .firstText div:nth-child(2) {
	float: right;
	background-position: contain;
	background-repeat: no-repeat;
	position: relative;
	z-index: 2;
	background-size: 100%;
	width: 70px;
	height: 77px;
}

.ubirata .theme .otherThemes ul,
.ubirata .age .otherThemes ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	gap: 20px;
}

.ubirata .theme .otherThemes .readContent p,
.ubirata .age .otherThemes .readContent p {
	text-decoration: none;
	color: var(--darkGreen);
	font-size: 12px;
	width: calc(100% - 10px);
	display: block;
	text-align: start;
}

.ubirata .theme .otherThemes a,
.ubirata .age .otherThemes a {
	text-decoration: none;
	display: block;
	cursor: pointer;
	padding: 20px;
	position: relative;
	padding-bottom: 60px;
	overflow: hidden;
	z-index: 2;
}

.ubirata .theme .otherThemes .readContent,
.ubirata .age .otherThemes .readContent {
	z-index: 2;
	position: absolute;
	bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--darkGreen);
	width: 115px;
}

.ubirata .theme .otherThemes .firstText .littleHeart,
.ubirata .age .otherThemes .firstText .littleHeart {
	background-image: url(../assets/pencilHeart.png);
}

.ubirata .theme .otherThemes,
.ubirata .age .otherThemes {
	margin-top: 60px;
}

.ubirata .theme .otherThemes h2,
.ubirata .age .otherThemes h2 {
	margin-bottom: 20px;
}

.ubirata .theme .introduction,
.ubirata .age .introduction {
	padding-top: 220px;
	overflow: hidden;
}

.ubirata .age .introduction {
	overflow: visible
}

.ubirata .theme .search .SumoSelect>.CaptionCont>label>i,
.ubirata .age .SumoSelect>.CaptionCont>label>i,
.ubirata .my-content .SumoSelect>.CaptionCont>label>i {
	background-image: url(../assets/green-arrow-down.svg);
}

.ubirata .theme .search .SumoSelect>.optWrapper,
.ubirata .age .SumoSelect>.optWrapper,
.ubirata .my-content .SumoSelect>.optWrapper {
	background: transparent;
	top: 60px;
	opacity: 0%;
	transition: var(--transitionMedium);
	background-color: var(--yellowBackground);
	border-radius: 10px;
	max-height: 0%;
}

.ubirata .theme .search .SumoSelect.open>.optWrapper,
.ubirata .age .SumoSelect.open>.optWrapper,
.ubirata .my-content .SumoSelect.open>.optWrapper {
	opacity: 100%;
	max-height: 200px;
}

.ubirata .theme .pagination,
.ubirata .age .pagination,
.ubirata .ambassadorsPage .pagination,
.ubirata .my-content .pagination {
	margin: 0 auto;
	width: max-content;
	margin-top: 40px;
	overflow: hidden;
}

.ubirata .ambassadorsPage .pagination {
	margin-top: 10px;
}

.ubirata .theme .pagination p,
.ubirata .age .pagination p,
.ubirata .ambassadorsPage .pagination p,
.ubirata .my-content .pagination p {
	padding: 20px 25px;
	border-radius: 10px;
	background-color: var(--darkGreen);
	margin-right: 10px;
	color: white;
	transition: var(--transitionMedium);
	cursor: pointer;
	width: max-content;
	opacity: 40%;
	float: left;
}

.ubirata .theme .pagination p.active,
.ubirata .age .pagination p.active,
.ubirata .ambassadorsPage .pagination p.active,
.ubirata .my-content .pagination p.active {
	opacity: 100%;
}

.ubirata .theme .pagination p:hover,
.ubirata .age .pagination p:hover,
.ubirata .ambassadorsPage .pagination p:hover,
.ubirata .my-content .pagination p:hover {
	background-color: var(--brown);
	opacity: 90%;
}

.ubirata .theme .pagination .arrowLeft,
.ubirata .age .pagination .arrowLeft,
.ubirata .ambassadorsPage .pagination .arrowLeft,
.ubirata .my-content .pagination .arrowLeft {
	background-image: url(../assets/arrowGreen-left.svg);
	background-position: center;
	background-size: 100%;
	display: block;
	height: 20px;
	transition: var(--transitionMedium);
	float: left;
	margin-right: 40px;
	margin-top: 20px;
	cursor: pointer;
	width: 10px;
	background-repeat: no-repeat;
}

.ubirata .theme .pagination .arrowRight,
.ubirata .age .pagination .arrowRight,
.ubirata .ambassadorsPage .pagination .arrowRight,
.ubirata .my-content .pagination .arrowRight {
	background-image: url(../assets/arrowGreen-right.svg);
	background-position: center;
	background-size: 100%;
	display: block;
	cursor: pointer;
	transition: var(--transitionMedium);
	float: right;
	height: 20px;
	margin-left: 20px;
	margin-top: 20px;
	width: 10px;
	background-repeat: no-repeat;
}

.ubirata .theme .pagination .arrowRight.not-active,
.ubirata .theme .pagination .arrowLeft.not-active,
.ubirata .ambassadorsPage .pagination .arrowLeft.not-active,
.ubirata .age .pagination .arrowRight.not-active,
.ubirata .age .pagination .arrowLeft.not-active,
.ubirata .my-content .pagination .arrowRight.not-active,
.ubirata .my-content .pagination .arrowLeft.not-active,
.ubirata .ambassadorsPage .pagination .arrowLeft.not-active {
	opacity: 40%;
}

/* FILTRO DE IDADES */

.ubirata .age .firstContent {
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	background-color: var(--blueLink)
}

.ubirata .age .otherThemes ul {
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ubirata .age .otherThemes ul li {
	background-color: white
}

.ubirata .age .SumoSelect>.optWrapper {
	top: 35px;
}

.ubirata .age .developmentPhase {
	position: relative;
}

.ubirata .age .developmentPhase .order {
	position: absolute;
	right: 0px;
	top: 0px;
}

.ubirata .age .introduction {
	padding-bottom: 80px
}

.ubirata .age .introduction h1 {
	margin-bottom: 20px;
}

.ubirata .age .introduction .filter {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	width: 100%;
	gap: 10px;
	margin-bottom: 40px;
}

.ubirata .age .introduction .filter a {
	display: block;
	text-decoration: none;
	color: black
}

.ubirata .age .introduction .filter p {
	padding: 30px;
	border-radius: 10px;
	text-align: center;
	border: 2px solid white;
	cursor: pointer;
	transition: var(--transitionMedium);
}

.ubirata .age .introduction .filter .active.blueBackground {
	background-color: var(--blueBorderLink);
	border: 2px solid var(--blueBorderLink);
}

.ubirata .age .introduction .filter .active.pinkBackground {
	background-color: var(--redTag);
	border: 2px solid var(--redTag);
}

.ubirata .age .introduction .filter .active.greenBackground {
	background-color: var(--greenLink);
	border: 2px solid var(--greenLink);
}

.ubirata .age .introduction .filter .active.yellowBackground {
	background-color: var(--yellowBackground);
	border: 2px solid var(--yellowBackground);
}

.ubirata .age .introduction .filter .active.darkGreenBackground {
	background-color: var(--greenDarkBorderLink);
	border: 2px solid var(--greenDarkBorderLink);
}

.ubirata .age .introduction .filter .active.easeBackground {
	background-color: var(--lighterGreenLink);
	border: 2px solid var(--lighterGreenLink);
}

.ubirata .age .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .age .firstContent .container,
.ubirata .age .extraContent .container {
	margin: 0px 120px;
	width: calc(100% - 240px);
}

.ubirata .age .extraContent .developmentPhase {
	margin-top: -10px;
	padding-top: 90px;
}

.ubirata .age .extraContent .relativeContainer {
	position: relative
}

.ubirata .age .extraContent .orderLabel {
	position: absolute;
	left: -85px;
	margin-top: 40px;
}

.ubirata .age .extraContent .SumoSelect {
	width: 130px;
	margin-top: 27px;
}


.ubirata .age .otherThemes li:nth-child(1) .littleHeart {
	background-image: url(../assets/forkHeart.png);
}

.ubirata .age .otherThemes li:nth-child(2) .littleHeart {
	background-image: url(../assets/pencilHeart-yellow.png);
}

.ubirata .age .otherThemes li:nth-child(3) .littleHeart {
	background-image: url(../assets/hugHeart-yellow.png);
}

.ubirata .age .otherThemes li:nth-child(4) .littleHeart {
	background-image: url(../assets/healthHeart-yellow.png);
}

.ubirata.pinkBackground .age .firstContent {
	background-color: var(--pinkLink);
}

.ubirata.blueBackground .age .firstContent {
	background-color: var(--blueLink);
}

.ubirata.yellowBackground .age .firstContent {
	background-color: var(--yellowIcons);
}

.ubirata.greenBackground .age .firstContent {
	background-color: var(--lightGreenLink);
}

.ubirata.darkGreenBackground .age .firstContent {
	background-color: var(--hotYellowBorderLink);
}

.ubirata.easeBackground .age .firstContent {
	background-color: var(--lighterGreenBorderLink);
}

/* TEMAS */

.ubirata .theme .firstContent {
	height: 100%;
}

.ubirata .theme .firstContent .container,
.ubirata .theme .extraContent .container {
	margin: 0px 120px;
	width: calc(100% - 240px);
}

.ubirata .theme .otherThemes li:nth-child(2) .littleHeart {
	background-image: url(../assets/hugHeart.png);
}

.ubirata .theme .otherThemes li:nth-child(3) .littleHeart {
	background-image: url(../assets/healthHeart.png);
}

.ubirata .theme .otherThemes .firstText,
.ubirata .theme .age .firstText {
	overflow: hidden;
}

.ubirata .theme .developmentPhase {
	margin-top: -10px;
	padding-top: 90px;
}

.ubirata .theme .linksBellow {
	padding-top: 0px;
	margin-top: 140px;
}

.ubirata .theme .introduction img {
	width: 180px;
	height: 160px;
	float: left;
}

.ubirata .theme .introduction div {
	float: left;
	margin-left: 40px;
	width: calc(100% - 220px);
}

.ubirata .theme .introduction div h1 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.ubirata .theme .searchContent {
	margin-top: 30px;
	position: relative
}

.ubirata .theme .search {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 30px;
}

.ubirata .theme .search select {
	width: 100%;
}

.ubirata .theme .search .SumoSelect p {
	padding: 20px;
	border: 2px solid var(--darkGreen);
	border-radius: 10px;
}

.ubirata .theme .search .SumoSelect label {
	margin-bottom: 0px;
}

.ubirata .theme .SumoSelect .select-all>span i,
.ubirata .theme .SumoSelect>.optWrapper.multiple>.options li.opt span i {
	background-color: white;
	border-radius: 5px;
}

.ubirata .theme .SumoSelect .select-all.partial>span i,
.ubirata .theme .SumoSelect .select-all.selected>span i,
.ubirata .theme .SumoSelect>.optWrapper.multiple>.options li.opt.selected span i {
	background-color: var(--darkGreen);
}

.ubirata .theme .search .order .SumoSelect p {
	border: none;
	width: 130px;
	padding-right: 0px;
	padding-left: 10px;
}

.ubirata .theme .order .SumoSelect {
	width: max-content;
}

.ubirata .theme .search label {
	display: inline-block;
	margin-bottom: 15px;
	color: var(--darkGreen);
}

.ubirata .theme .order .orderLabel {
	display: block;
	text-align: right;
	float: left;
	margin-top: 20px;
	font-size: 16px;
	margin-bottom: 0px;
}

.ubirata .theme .search .order .SumoSelect>.optWrapper {
	top: 45px;
}

.ubirata .theme .search .order {
	margin-top: 30px;
	justify-self: end;
	align-self: center;
}

.ubirata .theme .order .SumoSelect>.CaptionCont>span {
	font-size: 16px;
	text-align: end;
	color: var(--darkGreen);
	width: calc(100% - 30px);
}

.ubirata .theme .order .SumoSelect .select-all>label,
.ubirata .theme .order .SumoSelect>.CaptionCont,
.ubirata .theme .order .SumoSelect>.optWrapper>.options li.opt label {
	font-size: 16px;
}

.ubirata .theme .nutritionSection {
	padding-bottom: 40px;
}

.ubirata .theme .order .SumoSelect>.CaptionCont>label {
	width: 20px
}

/* MAES */

.ubirata .mothers .firstContent .catalog {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 20px;
	padding-bottom: 80px
}

.ubirata .mothers .firstContent .text a {
	width: max-content;
	background-color: var(--darkGreen);
	border-radius: 10px;
	color: white;
	transition: var(--transitionMedium);
	padding: 15px;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.ubirata .mothers .firstContent .text h3 {
	margin-bottom: 20px;
}

.ubirata .mothers .firstContent .text a:hover {
	background-color: var(--brown);
}

.ubirata .mothers .firstContent .progress {
	position: absolute;
	bottom: 0px;
	width: 100%;
}

.ubirata .mothers .firstContent .container,
.ubirata .mothers .firstContent .carouselSection {
	height: 100%;
}

.ubirata .mothers .firstContent .carouselSection .owl-theme .owl-nav {
	top: calc(100% - 55px)
}

.ubirata .mothers .linksBellow {
	margin-top: 0px;
	padding-top: 140px;
}

.ubirata .mothers .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .mothers .extraContent .developmentPhase {
	padding-top: 70px;
}

.ubirata .mothers .extraContent .developmentPhase .title {
	margin-bottom: 20px;
}

.ubirata .mothers .extraContent .mothersDayCases {
	padding-top: 80px;
}

.ubirata .mothers .extraContent .mothersDayCases .intro {
	overflow: hidden;
	margin-bottom: 70px;
	position: relative;
}

.ubirata .mothers .extraContent .mothersDayCases .intro div {
	float: left;
	width: calc(50% - 65px);
	position: absolute;
	top: 50%;
	transform: translate(0px, -50%);
}

.ubirata .mothers .extraContent .mothersDayCases .intro h2 {
	margin-bottom: 10px;
	color: var(--darkGreen);
}

.ubirata .mothers .extraContent .mothersDayCases .intro .seeMore {
	padding: 15px;
	color: white;
	background-color: var(--darkGreen);
	width: max-content;
	border: none;
	border-radius: 10px;
	margin-top: 20px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.ubirata .mothers .extraContent .mothersDayCases .intro img {
	float: right;
	width: calc(50% - 65px);
	height: auto;
	border-radius: 20px;
}

.ubirata .mothers .extraContent .mothersDayCases .videos h2 {
	text-align: center;
	margin-bottom: 20px;
}

.ubirata .mothers .extraContent .mothersDayCases .item {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.ubirata .mothers .extraContent .mothersDayCases .video-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	/* Proporção 16:9 (altura/largura) */
	height: 0;
	overflow: hidden;
}

.ubirata .mothers .extraContent .mothersDayCases .video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-radius: 20px;
	height: 100%;
}

.ubirata .mothers .extraContent .mothersDayCases .owl-carousel .owl-stage-outer {
	overflow: hidden;
}

.ubirata .mothers .extraContent .mothersDayCases .owl-theme .owl-nav {
	position: initial;
}

.ubirata .mothers .extraContent .mothersDayCases .carouselVideos {
	position: relative;
}

.ubirata .mothers .extraContent .mothersDayCases .owl-carousel .owl-prev {
	position: absolute;
	top: 50%;
	left: -80px;
	transform: translateY(-50%);
	padding: 24px;
	background-color: var(--darkGreen);
	border-radius: 50%;
	margin: 0;
}

/* Estilo para posicionar a seta da direita */
.ubirata .mothers .extraContent .mothersDayCases .owl-carousel .owl-next {
	position: absolute;
	top: 50%;
	right: -80px;
	padding: 24px;
	border-radius: 50%;
	background-color: var(--darkGreen);
	transform: translateY(-50%);
	margin: 0;
}

/* BUSCA */

.ubirata .searchPage {
	background-color: var(--easeBackground);
	margin-top: -205px;
}

.ubirata .searchPage .container {
	margin: 0px 120px;
	width: calc(100% - 240px);
	padding-top: 255px;
}

.ubirata .searchPage .main-title {
	margin-bottom: 55px;
}

.ubirata .searchPage .main-title h1 {
	margin-bottom: 10px;
}

.ubirata .searchPage .title {
	margin-bottom: 20px
}

.ubirata .searchPage .ambassadors,
.ubirata .searchPage .topics,
.ubirata .searchPage .withCare,
.ubirata .searchPage .products {
	margin-bottom: 80px
}

.ubirata .searchPage .products .item {
	background-color: var(--yellowBackground);
	border-radius: 10px;
	cursor: pointer;
	padding: 20px;
	overflow: hidden;
	transition: var(--transitionFast);
	position: relative;
}

.ubirata .searchPage .products a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: black;
	height: 100%;
}

.ubirata .searchPage .products .item .product-description {
	width: 100%;
	z-index: 2;
	position: relative;
}

.ubirata .searchPage .products .item img {
	width: 80px;
	height: auto;
	transition: var(--transitionMedium);
}

.ubirata .searchPage .products .item:hover img {
	transform: scale(1.1);
}

.ubirata .searchPage .products .item h3 {
	margin-bottom: 10px;
}

.ubirata .searchPage .products .item .text-content {
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	width: calc(100% - 90px);
	left: 90px;
}

.ubirata .searchPage .products .item .color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-image: linear-gradient(to bottom, var(--blueLink) 0%, var(--blueLink) 100%);
	transition: height 0.5s ease;
}

.ubirata .searchPage .products .item:hover .color-overlay {
	height: 100%;
	border-radius: 10px;
	background-color: var(--darkGreen);
}

.ubirata .searchPage .linksBellow {
	padding-top: 0px;
	margin-top: 0px;
}

.ubirata .searchPage .contentCard {
	position: relative;
}

.ubirata .searchPage .contentCard .toolTip {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../assets/search-tip.svg);
	background-position: center;
	cursor: pointer;
	z-index: 3;
}

.ubirata .searchPage .contentCard .modalTerm {
	position: absolute;
	top: -20px;
	opacity: 0%;
	right: -114px;
	transition: var(--transitionFast);
}

.ubirata .searchPage .contentCard.modalTipActive .modalTerm {
	position: absolute;
	top: -32px;
	opacity: 100%;
	right: -114px;
}

.ubirata .searchPage .contentCard .modalTerm .borderTip {
	display: block;
	position: absolute;
	background-color: var(--darkGreen);
	transform: rotate(-45deg);
	padding: 5px 5px;
	bottom: -6px;
	right: 130px;
}

.ubirata .searchPage .contentCard .modalTerm p {
	padding: 8px;
	border-radius: 5px;
	background-color: var(--darkGreen);
	color: white;
	position: relative;
	z-index: 2;
}

.ubirata .searchPage .contentCard .modalTerm p:before {
	display: none;
}

/* EMBAIXADORES */

.ubirata .ambassadorsPage .firstContent {
	width: 100%;
	position: relative;
	z-index: 2;
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	height: 100%;
	background: var(--yellowGradient);
}

.ubirata .ambassadorsPage .firstContent .container,
.ubirata .ambassadorsPage .extraContent .container {
	margin: 0px 120px;
	width: calc(100% - 240px);
}

.ubirata .ambassadorsPage .introduction {
	padding-bottom: 40px;
	padding-top: 220px;
	overflow: hidden;
}

.ubirata .ambassadorsPage .introduction img {
	width: 180px;
	height: 160px;
	float: left;
}

.ubirata .ambassadorsPage .introduction p {
	margin-top: 15px;
}

.ubirata .ambassadorsPage .introduction p.open-content {
	color: var(--darkGreen);
	cursor: pointer;
	transition: var(--transitionMedium);
}

.ubirata.openText .ambassadorsPage .introduction p.open-content {
	display: none;
}

.ubirata .ambassadorsPage .introduction p.open-content:hover {
	color: var(--brown);
}

.ubirata .ambassadorsPage .introduction div {
	float: left;
	margin-left: 40px;
	width: calc(50% + 220px);
}

.ubirata .ambassadorsPage .introduction .hide-content {
	float: none;
	margin: 0;
	width: 100%;
	display: none;
	transition: var(--transitionMedium);
}

.ubirata.openText .ambassadorsPage .introduction .hide-content {
	display: block;
}

.ubirata .ambassadorsPage .introduction div h1 {
	margin-top: 40px;
}

.ubirata .ambassadorsPage .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .ambassadorsPage .developmentPhase {
	padding-top: 50px;
	margin-top: -10px;
}

.ubirata .ambassadorsPage .ambassadors {
	padding-top: 40px;
}

.ubirata .ambassadorsPage .linksBellow {
	padding-top: 0px;
	margin-top: 0px;
}

.ubirata .ambassadorsPage .firstContent figure {
	float: left;
	position: relative;
}

.ubirata .ambassadorsPage .firstContent img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.ubirata .ambassadorsPage .firstContent span {
	width: 47px;
	height: 47px;
	background-image: url(../assets/check.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

/* MEU CONTEÚDO */

.ubirata .my-content .firstContent {
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	background: var(--yellowGradient);
}

.ubirata .my-content .firstContent .container,
.ubirata .my-content .extraContent .container {
	margin: 0px 120px;
	width: calc(100% - 240px);
}

.ubirata .my-content .introduction {
	padding-top: 240px;
	padding-bottom: 40px;
}

.ubirata .my-content .introduction h1 {
	margin-bottom: 20px;
	width: max-content;
	line-height: 1.8em;
}

.ubirata .my-content .introduction h1 a {
	color: var(--darkGreen);
	text-decoration: none;
	transition: var(--transitionMedium);
}

.ubirata .my-content .introduction h1 a p {
	border-bottom: 2px solid var(--darkGreen);
	display: inline;
}

.ubirata .my-content .introduction h1 a:hover p {
	color: var(--brown);
	border-bottom: 2px solid var(--brown);
}

.ubirata .my-content .introduction .icon {
	background-repeat: no-repeat;
	background-size: 13px 13px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-bottom: -8px;
	background-color: var(--yellowBackgroundTheme);
	background-image: url(../assets/pencil.svg);
	background-position: center;
	display: inline-block;
}

.ubirata .my-content .introduction .filter {
	width: 100%;
}

.ubirata .my-content .introduction .filter .item {
	padding: 30px;
	border-radius: 10px;
	border: 2px solid white;
	text-align: center;
	cursor: pointer;
	line-height: 1.5em;
	transition: var(--transitionMedium);
}

.ubirata .my-content .introduction .filter p {
	width: max-content;
	margin: 0 auto;
}

.ubirata .my-content .introduction .filter .item.active {
	color: white;
	border: 2px solid var(--darkGreen);
	background-color: var(--darkGreen);
	opacity: 100%;
}

.ubirata .my-content .introduction .filter p:before {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 21px;
	height: 28px;
	content: '';
	background-position: center;
	display: block;
	float: left;
	margin-right: 10px;
}

.ubirata .my-content .introduction .filter .myKids p:before {
	background-image: url(../assets/filter-people-green.svg);
}

.ubirata .my-content .introduction .filter .kid p:before {
	background-image: url(../assets/filter-pearson-green.svg);
}

.ubirata .my-content .introduction .filter .read p:before {
	background-image: url(../assets/filter-check-green.svg);
}

.ubirata .my-content .introduction .filter .saved p:before {
	background-image: url(../assets/filter-mark-green.svg);
}

.ubirata .my-content .introduction .filter .active.myKids p:before {
	background-image: url(../assets/filter-people-white.svg);
}

.ubirata .my-content .introduction .filter .active.kid p:before {
	background-image: url(../assets/filter-pearson-white.svg);
}

.ubirata .my-content .introduction .filter .active.read p:before {
	background-image: url(../assets/filter-check-white.svg);
}

.ubirata .my-content .introduction .filter .active.saved p:before {
	background-image: url(../assets/filter-mark-white.svg);
}

.ubirata .my-content .developmentPhase {
	display: none;
}

.ubirata .my-content .developmentPhase.active {
	display: block
}

.ubirata .my-content .developmentPhase .order {
	position: absolute;
	right: 0px;
	top: 0px;
}

.ubirata .my-content .extraContent .orderLabel {
	position: absolute;
	left: -85px;
	margin-top: 40px;
}

.ubirata .my-content .extraContent .SumoSelect {
	width: 130px;
	margin-top: 27px;
}

.ubirata .my-content .SumoSelect>.optWrapper {
	top: 35px;
}

.ubirata .my-content .extraContent .titleAndSelect h2 {
	margin-bottom: 20px;
	margin-top: -50px;
}

.ubirata .my-content .extraContent .orderLabel {
	position: absolute;
	left: -85px;
	margin-top: 40px;
}

.ubirata .my-content .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .my-content .extraContent .developmentPhase {
	margin-top: -10px;
	padding-top: 90px;
	position: relative;
}

.ubirata .my-content .SumoSelect>.CaptionCont {
	padding-right: 35px;
}

.ubirata .my-content .SumoSelect>.CaptionCont>span {
	width: 100%;
}

.ubirata .my-content .extraContent .SumoSelect {
	width: max-content;
}

.ubirata .my-content .extraContent .no-content {
	padding: 40px;
	margin-bottom: 20px;
	border-radius: 10px;
	background-color: var(--yellowBackgroundTheme);
}

.ubirata .my-content .extraContent .no-content h2 {
	margin-bottom: 20px;
}



/* SESSÃO EMBAIXADORES */

.ubirata .age .ambassadors {
	padding-top: 80px;
	padding-bottom: 30px;
}

.ubirata .ambassadorsPage .ambassadors {
	padding-top: 50px;
	padding-bottom: 80px;
}

.ubirata .ambassadorsPage .ambassadors .color-overlay,
.ubirata .age .ambassadors .color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-image: linear-gradient(to bottom,
			var(--greenBorderLink) 0%,
			var(--greenBorderLink) 100%);
	transition: height 0.5s ease;
	z-index: -1;
}

.ubirata .ambassadorsPage .ambassadors a:hover .color-overlay,
.ubirata .age .ambassadors a:hover .color-overlay {
	height: 100%;
	z-index: 1;
}

.ubirata .age .ambassadors h2,
.ubirata .ambassadorsPage .ambassadors h2 {
	margin-bottom: 20px;
}

.ubirata .age .ambassadors div,
.ubirata .ambassadorsPage .ambassadors div {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px;
	grid-row-gap: 20px;
}

.ubirata .age .ambassadors a,
.ubirata .ambassadorsPage .ambassadors a {
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	padding: 20px;
	background-color: white;
	text-decoration: none;
	cursor: pointer;
	transition: var(--transitionMedium);
}

.ubirata .age .ambassadors figure,
.ubirata .ambassadorsPage .ambassadors figure {
	float: left;
	margin-right: 10px;
	position: relative;
	z-index: 2;
}

.ubirata .age .ambassadors h3,
.ubirata .ambassadorsPage .ambassadors h3 {
	float: left;
	margin-top: 30px;
	width: calc(100% - 90px);
	position: relative;
	z-index: 2;
}

.ubirata .age .ambassadors img,
.ubirata .ambassadorsPage .ambassadors img {
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.ubirata .age .ambassadors p,
.ubirata .ambassadorsPage .ambassadors p {
	position: absolute;
	right: 20px;
	z-index: 2;
	top: 20px;
}

.ubirata .age .ambassadors span,
.ubirata .ambassadorsPage .ambassadors span {
	width: 28px;
	height: 28px;
	background-image: url(../assets/check.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

/* CARDS GRID */

/* REMOVE TAGS */

.ubirata .home .tipCard .remove,
.ubirata .theme .tipCard .remove,
.ubirata .mothers .tipCard .remove,
.ubirata .age .tipCard .remove,
.ubirata .searchPage .tipCard .remove,
.ubirata .ambassadorsPage .tipCard .remove,
.ubirata .my-content .tipCard .remove,
.ubirata .home .contentCard .remove,
.ubirata .theme .contentCard .remove,
.ubirata .mothers .contentCard .remove,
.ubirata .age .contentCard .remove,
.ubirata .searchPage .contentCard .remove,
.ubirata .ambassadorsPage .contentCard .remove,
.ubirata .my-content .contentCard .remove,
.ubirata .home .pearsonCard .remove,
.ubirata .theme .pearsonCard .remove,
.ubirata .mothers .pearsonCard .remove,
.ubirata .age .pearsonCard .remove,
.ubirata .searchPage .pearsonCard .remove,
.ubirata .ambassadorsPage .pearsonCard .remove,
.ubirata .my-content .pearsonCard .remove {
	padding: 10px;
	position: relative;
	cursor: pointer;
	z-index: 3;
	background-color: red;
	display: none;
	color: white;
	border: none;
	transition: var(--transitionMedium);
	border-radius: 10px 10px 0px 0px
}

.ubirata .home .tipCard.saved .remove,
.ubirata .theme .tipCard.saved .remove,
.ubirata .mothers .tipCard.saved .remove,
.ubirata .age .tipCard.saved .remove,
.ubirata .searchPage .tipCard.saved .remove,
.ubirata .ambassadorsPage .tipCard.saved .remove,
.ubirata .my-content .tipCard.saved .remove,
.ubirata .home .contentCard.saved .remove,
.ubirata .theme .contentCard.saved .remove,
.ubirata .mothers .contentCard.saved .remove,
.ubirata .age .contentCard.saved .remove,
.ubirata .searchPage .contentCard.saved .remove,
.ubirata .ambassadorsPage .contentCard.saved .remove,
.ubirata .my-content .contentCard.saved .remove,
.ubirata .home .pearsonCard.saved .remove,
.ubirata .theme .pearsonCard.saved .remove,
.ubirata .mothers .pearsonCard.saved .remove,
.ubirata .age .pearsonCard.saved .remove,
.ubirata .searchPage .pearsonCard.saved .remove,
.ubirata .ambassadorsPage .pearsonCard.saved .remove,
.ubirata .my-content .pearsonCard.saved .remove {
	display: block
}

.ubirata .home .tipCard.saved,
.ubirata .theme .tipCard.saved,
.ubirata .mothers .tipCard.saved,
.ubirata .age .tipCard.saved,
.ubirata .searchPage .tipCard.saved,
.ubirata .ambassadorsPage .tipCard.saved,
.ubirata .my-content .tipCard.saved,
.ubirata .home .pearsonCard.saved,
.ubirata .theme .pearsonCard.saved,
.ubirata .mothers .pearsonCard.saved,
.ubirata .age .pearsonCard.saved,
.ubirata .searchPage .pearsonCard.saved,
.ubirata .ambassadorsPage .pearsonCard.saved,
.ubirata .my-content .pearsonCard.saved {
	overflow: visible;
}

.ubirata .home .tipCard .remove,
.ubirata .theme .tipCard .remove,
.ubirata .mothers .tipCard .remove,
.ubirata .age .tipCard .remove,
.ubirata .searchPage .tipCard .remove,
.ubirata .ambassadorsPage .tipCard .remove,
.ubirata .my-content .tipCard .remove,
.ubirata .home .pearsonCard .remove,
.ubirata .theme .pearsonCard .remove,
.ubirata .mothers .pearsonCard .remove,
.ubirata .age .pearsonCard .remove,
.ubirata .searchPage .pearsonCard .remove,
.ubirata .ambassadorsPage .pearsonCard .remove,
.ubirata .my-content .pearsonCard .remove {
	margin-top: -2px;
	margin-left: -1px;
	width: calc(100% + 2px);
}

.ubirata .home .contentCard.saved .remove~a figure,
.ubirata .theme .contentCard.saved .remove~a figure,
.ubirata .mothers .contentCard.saved .remove~a figure,
.ubirata .age .contentCard.saved .remove~a figure,
.ubirata .searchPage .contentCard.saved .remove~a figure,
.ubirata .ambassadorsPage .contentCard.saved .remove~a figure,
.ubirata .my-content .contentCard.saved .remove~a figure {
	border-radius: 0px 0px 10px 10px;
}

.ubirata .theme .tipCard .remove:before,
.ubirata .mothers .tipCard .remove:before,
.ubirata .age .tipCard .remove:before,
.ubirata .searchPage .tipCard .remove:before,
.ubirata .ambassadorsPage .tipCard .remove:before,
.ubirata .my-content .tipCard .remove:before,
.ubirata .theme .contentCard .remove:before,
.ubirata .mothers .contentCard .remove:before,
.ubirata .age .contentCard .remove:before,
.ubirata .searchPage .contentCard .remove:before,
.ubirata .ambassadorsPage .contentCard .remove:before,
.ubirata .my-content .contentCard .remove:before,
.ubirata .theme .pearsonCard .remove:before,
.ubirata .mothers .pearsonCard .remove:before,
.ubirata .age .pearsonCard .remove:before,
.ubirata .searchPage .pearsonCard .remove:before,
.ubirata .ambassadorsPage .pearsonCard .remove:before,
.ubirata .my-content .pearsonCard .remove:before {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 15px;
	height: 15px;
	content: '';
	background-image: url(../assets/delete-icon.svg);
	background-position: center;
	display: block;
	float: left;
	margin-right: 10px;
}

.ubirata .theme .tipCard .remove:hover,
.ubirata .mothers .tipCard .remove:hover,
.ubirata .age .tipCard .remove:hover,
.ubirata .searchPage .tipCard .remove:hover,
.ubirata .ambassadorsPage .tipCard .remove:hover,
.ubirata .my-content .tipCard .remove:hover,
.ubirata .theme .pearsonCard .remove:hover,
.ubirata .mothers .pearsonCard .remove:hover,
.ubirata .age .pearsonCard .remove:hover,
.ubirata .searchPage .pearsonCard .remove:hover,
.ubirata .ambassadorsPage .pearsonCard .remove:hover,
.ubirata .my-content .pearsonCard .remove:hover,
.ubirata .theme .contentCard .remove:hover,
.ubirata .mothers .contentCard .remove:hover,
.ubirata .age .contentCard .remove:hover,
.ubirata .searchPage .contentCard .remove:hover,
.ubirata .ambassadorsPage .contentCard .remove:hover,
.ubirata .my-content .contentCard .remove:hover {
	background-color: rgb(212, 0, 0);
}

/* CARD CONTEÚDO */

.ubirata .home .contentCard,
.ubirata .theme .contentCard,
.ubirata .mothers .contentCard,
.ubirata .age .contentCard,
.ubirata .searchPage .contentCard,
.ubirata .ambassadorsPage .contentCard,
.ubirata .my-content .contentCard {
	transition: var(--transitionMedium);
}

.ubirata .home .contentCard a,
.ubirata .theme .contentCard a,
.ubirata .mothers .contentCard a,
.ubirata .age .contentCard a,
.ubirata .searchPage .contentCard a,
.ubirata .ambassadorsPage .contentCard a,
.ubirata .my-content .contentCard a {
	text-decoration: none;
	cursor: pointer;
	display: block;
}

.ubirata .home .contentCard figure,
.ubirata .theme .contentCard figure,
.ubirata .mothers .contentCard figure,
.ubirata .age .contentCard figure,
.ubirata .searchPage .contentCard figure,
.ubirata .ambassadorsPage .contentCard figure,
.ubirata .my-content .contentCard figure {
	width: 100%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
	border-radius: 10px;
	height: 200px;
}

.ubirata .home .contentCard figure img,
.ubirata .theme .contentCard figure img,
.ubirata .mothers .contentCard figure img,
.ubirata .age .contentCard figure img,
.ubirata .searchPage .contentCard figure img,
.ubirata .ambassadorsPage .contentCard figure img,
.ubirata .my-content .contentCard figure img {
	transition: var(--transitionMedium);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.ubirata .home .contentCard:hover h3,
.ubirata .theme .contentCard:hover h3,
.ubirata .mothers .contentCard:hover h3,
.ubirata .age .contentCard:hover h3,
.ubirata .searchPage .contentCard:hover h3,
.ubirata .ambassadorsPage .contentCard:hover h3,
.ubirata .my-content .contentCard:hover h3,
.ubirata .home .contentCard:hover p.text-icon,
.ubirata .theme .contentCard:hover p.text-icon,
.ubirata .mothers .contentCard:hover p.text-icon,
.ubirata .age .contentCard:hover p.text-icon,
.ubirata .searchPage .contentCard:hover p.text-icon,
.ubirata .ambassadorsPage .contentCard:hover p.text-icon,
.ubirata .my-content .contentCard:hover p.text-icon {
	color: var(--brown);
}

.ubirata .home .contentCard .tag,
.ubirata .theme .contentCard .tag,
.ubirata .mothers .contentCard .tag,
.ubirata .age .contentCard .tag,
.ubirata .searchPage .contentCard .tag,
.ubirata .ambassadorsPage .contentCard .tag,
.ubirata .my-content .contentCard .tag {
	position: absolute;
	left: 10px;
	bottom: 10px;
	color: var(--grey);
	padding: 7px 10px;
	border-radius: 5px;
	text-align: center;
}

.ubirata .home .contentCard h3,
.ubirata .theme .contentCard h3,
.ubirata .mothers .contentCard h3,
.ubirata .age .contentCard h3,
.ubirata .searchPage .contentCard h3,
.ubirata .ambassadorsPage .contentCard h3,
.ubirata .my-content .contentCard h3 {
	margin-bottom: 10px;
	transition: var(--transitionMedium);
	color: var(--darkGreen);
}

.ubirata .home .contentCard p.text-icon,
.ubirata .theme .contentCard p.text-icon,
.ubirata .mothers .contentCard p.text-icon,
.ubirata .age .contentCard p.text-icon,
.ubirata .searchPage .contentCard p.text-icon,
.ubirata .ambassadorsPage .contentCard p.text-icon,
.ubirata .my-content .contentCard p.text-icon {
	color: var(--darkBrownText);
	padding: 13px 0px;
	transition: var(--transitionMedium);
}

.ubirata .home .contentCard p.text-icon:before,
.ubirata .theme .contentCard p.text-icon:before,
.ubirata .mothers .contentCard p.text-icon:before,
.ubirata .age .contentCard p.text-icon:before,
.ubirata .searchPage .contentCard p.text-icon:before,
.ubirata .ambassadorsPage .contentCard p.text-icon:before,
.ubirata .my-content .contentCard p.text-icon:before {
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	content: '';
	background-position: center;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
	border-radius: 50%;
}

.ubirata .home .contentCard .time-date,
.ubirata .theme .contentCard .time-date,
.ubirata .mothers .contentCard .time-date,
.ubirata .age .contentCard .time-date,
.ubirata .searchPage .contentCard .time-date,
.ubirata .ambassadorsPage .contentCard .time-date,
.ubirata .my-content .contentCard .time-date {
	color: white;
	position: absolute;
	bottom: 10px;
	right: 10px;
}

/* VARIAÇÕES DE TAGS CONTEÚDO */

.ubirata .home .contentCard .tag.tag2y,
.ubirata .theme .contentCard .tag.tag2y,
.ubirata .mothers .contentCard .tag.tag2y,
.ubirata .age .contentCard .tag.tag2y,
.ubirata .searchPage .contentCard .tag.tag2y,
.ubirata .ambassadorsPage .contentCard .tag.tag2y,
.ubirata .my-content .contentCard .tag.tag2y {
	background-color: var(--greenTag);
}

.ubirata .home .contentCard .tag.tag1y,
.ubirata .theme .contentCard .tag.tag1y,
.ubirata .mothers .contentCard .tag.tag1y,
.ubirata .age .contentCard .tag.tag1y,
.ubirata .searchPage .contentCard .tag.tag1y,
.ubirata .ambassadorsPage .contentCard .tag.tag1y,
.ubirata .my-content .contentCard .tag.tag1y {
	background-color: var(--redTag);
}

.ubirata .home .contentCard .tag.tagAllyears,
.ubirata .theme .contentCard .tag.tagAllyears,
.ubirata .mothers .contentCard .tag.tagAllyears,
.ubirata .age .contentCard .tag.tagAllyears,
.ubirata .searchPage .contentCard .tag.tagAllyears,
.ubirata .ambassadorsPage .contentCard .tag.tagAllyears,
.ubirata .my-content .contentCard .tag.tagAllyears {
	background-color: var(--blueTag);
}

.ubirata .home .contentCard .tag.tag5y,
.ubirata .theme .contentCard .tag.tag5y,
.ubirata .mothers .contentCard .tag.tag5y,
.ubirata .age .contentCard .tag.tag5y,
.ubirata .searchPage .contentCard .tag.tag5y,
.ubirata .ambassadorsPage .contentCard .tag.tag5y,
.ubirata .my-content .contentCard .tag.tag5y {
	background-color: var(--yellowBorderLink);
}

.ubirata .home .contentCard .tag.tag9y,
.ubirata .theme .contentCard .tag.tag9y,
.ubirata .mothers .contentCard .tag.tag9y,
.ubirata .age .contentCard .tag.tag9y,
.ubirata .searchPage .contentCard .tag.tag9y,
.ubirata .ambassadorsPage .contentCard .tag.tag9y,
.ubirata .my-content .contentCard .tag.tag9y {
	background-color: var(--lighterGreenBorderLink);
}

.ubirata .home .contentCard .tag.tag6y,
.ubirata .theme .contentCard .tag.tag6y,
.ubirata .mothers .contentCard .tag.tag6y,
.ubirata .age .contentCard .tag.tag6y,
.ubirata .searchPage .contentCard .tag.tag6y,
.ubirata .ambassadorsPage .contentCard .tag.tag6y,
.ubirata .my-content .contentCard .tag.tag6y {
	background-color: var(--greenDarkBorderLink);
}

/* VARIAÇÕES DE ICONES CONTEÚDO */

.ubirata .home .contentCard p.iconHeart:before,
.ubirata .theme .contentCard p.iconHeart:before,
.ubirata .mothers .contentCard p.iconHeart:before,
.ubirata .age .contentCard p.iconHeart:before,
.ubirata .searchPage .contentCard p.iconHeart:before,
.ubirata .ambassadorsPage .contentCard p.iconHeart:before,
.ubirata .my-content .contentCard p.iconHeart:before {
	background-image: url(../assets/catprod-2-iconHeart.svg);
}

.ubirata .home .contentCard p.iconPearson:before,
.ubirata .theme .contentCard p.iconPearson:before,
.ubirata .mothers .contentCard p.iconPearson:before,
.ubirata .age .contentCard p.iconPearson:before,
.ubirata .searchPage .contentCard p.iconPearson:before,
.ubirata .ambassadorsPage .contentCard p.iconPearson:before,
.ubirata .my-content .contentCard p.iconPearson:before {
	background-image: url(../assets/catprod-2-iconPearson.svg);
}

.ubirata .home .contentCard p.iconHappy:before,
.ubirata .theme .contentCard p.iconHappy:before,
.ubirata .mothers .contentCard p.iconHappy:before,
.ubirata .age .contentCard p.iconHappy:before,
.ubirata .searchPage .contentCard p.iconHappy:before,
.ubirata .ambassadorsPage .contentCard p.iconHappy:before,
.ubirata .my-content .contentCard p.iconHappy:before {
	background-image: url(../assets/catprod-2-iconHappy.svg);
}

.ubirata .home .contentCard p.iconRecipe:before,
.ubirata .theme .contentCard p.iconRecipe:before,
.ubirata .mothers .contentCard p.iconRecipe:before,
.ubirata .age .contentCard p.iconRecipe:before,
.ubirata .searchPage .contentCard p.iconRecipe:before,
.ubirata .ambassadorsPage .contentCard p.iconRecipe:before,
.ubirata .my-content .contentCard p.iconRecipe:before {
	background-image: url(../assets/iconRecipe.svg);
}

/* CARD EMBAIXADORES */

.ubirata .home .pearsonCard .color-overlay,
.ubirata .theme .pearsonCard .color-overlay,
.ubirata .mothers .pearsonCard .color-overlay,
.ubirata .age .pearsonCard .color-overlay,
.ubirata .searchPage .pearsonCard .color-overlay,
.ubirata .ambassadorsPage .pearsonCard .color-overlay,
.ubirata .my-content .pearsonCard .color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-image: linear-gradient(to bottom, var(--greenBorderLink) 0%, var(--greenBorderLink) 100%);
	transition: height 0.5s ease;
	z-index: -1;
}

.ubirata .home .pearsonCard:hover .color-overlay,
.ubirata .theme .pearsonCard:hover .color-overlay,
.ubirata .mothers .pearsonCard:hover .color-overlay,
.ubirata .age .pearsonCard:hover .color-overlay,
.ubirata .searchPage .pearsonCard:hover .color-overlay,
.ubirata .ambassadorsPage .pearsonCard:hover .color-overlay,
.ubirata .my-content .pearsonCard:hover .color-overlay {
	height: 100%;
	z-index: 1;
}

.ubirata .home .pearsonCard,
.ubirata .theme .pearsonCard,
.ubirata .mothers .pearsonCard,
.ubirata .age .pearsonCard,
.ubirata .searchPage .pearsonCard,
.ubirata .ambassadorsPage .pearsonCard,
.ubirata .my-content .pearsonCard {
	border-radius: 10px;
	position: relative;
	transition: var(--transitionMedium);
	cursor: pointer;
	overflow: hidden;
	height: max-content;
}

.ubirata .home .pearsonCard a,
.ubirata .theme .pearsonCard a,
.ubirata .mothers .pearsonCard a,
.ubirata .age .pearsonCard a,
.ubirata .searchPage .pearsonCard a,
.ubirata .ambassadorsPage .pearsonCard a,
.ubirata .my-content .pearsonCard a {
	padding: 20px;
	text-decoration: none;
	color: black;
	cursor: pointer;
	position: relative;
	z-index: 2;
	display: block;
}

.ubirata .home .pearsonCard .img-title,
.ubirata .theme .pearsonCard .img-title,
.ubirata .mothers .pearsonCard .img-title,
.ubirata .age .pearsonCard .img-title,
.ubirata .searchPage .pearsonCard .img-title,
.ubirata .ambassadorsPage .pearsonCard .img-title,
.ubirata .my-content .pearsonCard .img-title {
	overflow: hidden;
	margin-bottom: 20px;
}

.ubirata .home .pearsonCard h3,
.ubirata .theme .pearsonCard h3,
.ubirata .mothers .pearsonCard h3,
.ubirata .age .pearsonCard h3,
.ubirata .searchPage .pearsonCard h3,
.ubirata .ambassadorsPage .pearsonCard h3,
.ubirata .my-content .pearsonCard h3 {
	margin-top: 30px;
}

.ubirata .home .pearsonCard .time-date,
.ubirata .theme .pearsonCard .time-date,
.ubirata .mothers .pearsonCard .time-date,
.ubirata .age .pearsonCard .time-date,
.ubirata .searchPage .pearsonCard .time-date,
.ubirata .ambassadorsPage .pearsonCard .time-date,
.ubirata .my-content .pearsonCard .time-date {
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 40%;
}

.ubirata .home .pearsonCard .img-title figure,
.ubirata .theme .pearsonCard .img-title figure,
.ubirata .mothers .pearsonCard .img-title figure,
.ubirata .age .pearsonCard .img-title figure,
.ubirata .searchPage .pearsonCard .img-title figure,
.ubirata .ambassadorsPage .pearsonCard .img-title figure,
.ubirata .my-content .pearsonCard .img-title figure {
	position: relative;
	float: left;
	margin-right: 10px;
	width: 80px;
	height: 80px;
}

.ubirata .home .pearsonCard .img-title img,
.ubirata .theme .pearsonCard .img-title img,
.ubirata .mothers .pearsonCard .img-title img,
.ubirata .age .pearsonCard .img-title img,
.ubirata .searchPage .pearsonCard .img-title img,
.ubirata .ambassadorsPage .pearsonCard .img-title img,
.ubirata .my-content .pearsonCard .img-title img {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.ubirata .home .pearsonCard .tagConfirm,
.ubirata .theme .pearsonCard .tagConfirm,
.ubirata .mothers .pearsonCard .tagConfirm,
.ubirata .age .pearsonCard .tagConfirm,
.ubirata .searchPage .pearsonCard .tagConfirm,
.ubirata .ambassadorsPage .pearsonCard .tagConfirm,
.ubirata .my-content .pearsonCard .tagConfirm {
	width: 28px;
	height: 28px;
	background-image: url(../assets/check.svg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

/* VARIAÇÕES DE BACKGROUND */

.ubirata .home .pearsonCard.bluePearson,
.ubirata .theme .pearsonCard.bluePearson,
.ubirata .mothers .pearsonCard.bluePearson,
.ubirata .age .pearsonCard.bluePearson,
.ubirata .searchPage .pearsonCard.bluePearson,
.ubirata .ambassadorsPage .pearsonCard.bluePearson,
.ubirata .my-content .pearsonCard.bluePearson {
	background-color: var(--blueLink);
	border: 2px solid var(--blueBorderLink);
}

.ubirata .home .pearsonCard.yellowPearson,
.ubirata .theme .pearsonCard.yellowPearson,
.ubirata .mothers .pearsonCard.yellowPearson,
.ubirata .age .pearsonCard.yellowPearson,
.ubirata .searchPage .pearsonCard.yellowPearson,
.ubirata .ambassadorsPage .pearsonCard.yellowPearson,
.ubirata .my-content .pearsonCard.yellowPearson {
	background-color: var(--yellowLink);
	border: 2px solid var(--yellowBorderLink);
}

.ubirata .home .pearsonCard.purplePearson,
.ubirata .theme .pearsonCard.purplePearson,
.ubirata .mothers .pearsonCard.purplePearson,
.ubirata .age .pearsonCard.purplePearson,
.ubirata .searchPage .pearsonCard.purplePearson,
.ubirata .ambassadorsPage .pearsonCard.purplePearson,
.ubirata .my-content .pearsonCard.purplePearson {
	background-color: var(--lighterGreenLink);
	border: 2px solid var(--lighterGreenBorderLink);
}

/* CARD TIP  */

.ubirata .home .tipCard,
.ubirata .theme .tipCard,
.ubirata .mothers .tipCard,
.ubirata .age .tipCard,
.ubirata .searchPage .tipCard,
.ubirata .ambassadorsPage .tipCard,
.ubirata .my-content .tipCard {
	transition: var(--transitionMedium);
	border-radius: 10px;
	border: 2px solid #e2e2e2;
	background-color: white;
	position: relative;
	height: max-content;
	overflow: hidden;
}

.ubirata .home .tipCard .color-overlay,
.ubirata .theme .tipCard .color-overlay,
.ubirata .mothers .tipCard .color-overlay,
.ubirata .age .tipCard .color-overlay,
.ubirata .searchPage .tipCard .color-overlay,
.ubirata .ambassadorsPage .tipCard .color-overlay,
.ubirata .my-content .tipCard .color-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-radius: 0px 0px 10px 10px;
	height: 0;
	background-image: linear-gradient(to bottom, var(--blueLink) 0%, var(--blueLink) 100%);
	transition: height 0.5s ease;
	z-index: -1;
}

.ubirata .home .tipCard:hover .color-overlay,
.ubirata .theme .tipCard:hover .color-overlay,
.ubirata .mothers .tipCard:hover .color-overlay,
.ubirata .age .tipCard:hover .color-overlay,
.ubirata .searchPage .tipCard:hover .color-overlay,
.ubirata .ambassadorsPage .tipCard:hover .color-overlay,
.ubirata .my-content .tipCard:hover .color-overlay {
	height: 100%;
	z-index: 1;
}

.ubirata .home .tipCard a,
.ubirata .theme .tipCard a,
.ubirata .mothers .tipCard a,
.ubirata .age .tipCard a,
.ubirata .searchPage .tipCard a,
.ubirata .ambassadorsPage .tipCard a,
.ubirata .my-content .tipCard a {
	padding: 20px;
	text-decoration: none;
	color: black;
	display: block;
	position: relative;
	cursor: pointer;
	z-index: 2;
}

.ubirata .home .tipCard .messageIcon,
.ubirata .theme .tipCard .messageIcon,
.ubirata .mothers .tipCard .messageIcon,
.ubirata .age .tipCard .messageIcon,
.ubirata .searchPage .tipCard .messageIcon,
.ubirata .ambassadorsPage .tipCard .messageIcon,
.ubirata .my-content .tipCard .messageIcon {
	padding: 10px;
	border-radius: 50%;
	background-color: #e2e2e2;
	background-position: center;
	background-size: 26px;
	width: 65px;
	height: 65px;
	background-repeat: no-repeat;
	background-image: url(../assets/forum.svg);
	margin-bottom: 20px;
}

.ubirata .home .tipCard h3,
.ubirata .theme .tipCard h3,
.ubirata .mothers .tipCard h3,
.ubirata .age .tipCard h3,
.ubirata .searchPage .tipCard h3,
.ubirata .ambassadorsPage .tipCard h3,
.ubirata .my-content .tipCard h3 {
	margin-bottom: 20px;
}

.ubirata .home .tipCard .icon-title p,
.ubirata .theme .tipCard .icon-title p,
.ubirata .mothers .tipCard .icon-title p,
.ubirata .age .tipCard .icon-title p,
.ubirata .searchPage .tipCard .icon-title p,
.ubirata .ambassadorsPage .tipCard .icon-title p,
.ubirata .my-content .tipCard .icon-title p {
	margin-bottom: 20px;
	padding: 14px 0px;
}

.ubirata .home .tipCard .icon-title p:before,
.ubirata .theme .tipCard .icon-title p:before,
.ubirata .mothers .tipCard .icon-title p:before,
.ubirata .age .tipCard .icon-title p:before,
.ubirata .searchPage .tipCard .icon-title p:before,
.ubirata .ambassadorsPage .tipCard .icon-title p:before,
.ubirata .my-content .tipCard .icon-title p:before {
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
	content: '';
	background-position: center;
	display: block;
	background-size: cover;
	float: left;
	margin-right: 10px;
	margin-top: -10px;
	border-radius: 50%;
	background-image: url(../assets/home-2-img3.jpg);
}

.ubirata .home .tipCard .icon-title p.photoPearson:before,
.ubirata .age .tipCard .icon-title p.photoPearson:before,
.ubirata .mothers .tipCard .icon-title p.photoPearson:before,
.ubirata .age .tipCard .icon-title p.photoPearson:before,
.ubirata .searchPage .tipCard .icon-title p.photoPearson:before,
.ubirata .ambassadorsPage .tipCard .icon-title p.photoPearson:before,
.ubirata .my-content .tipCard .icon-title p.photoPearson:before {
	background-image: url(../assets/home-2-img3.jpg);
}

.ubirata .home .tipCard .comentTag,
.ubirata .age .tipCard .comentTag,
.ubirata .mothers .tipCard .comentTag,
.ubirata .theme .tipCard .comentTag,
.ubirata .searchPage .tipCard .comentTag,
.ubirata .ambassadorsPage .tipCard .comentTag,
.ubirata .my-content .tipCard .comentTag {
	width: max-content;
	border-radius: 5px;
	color: var(--greyTag);
	font-size: 10px;
	padding: 10px;
}

.ubirata .home .tipCard .time-date,
.ubirata .theme .tipCard .time-date,
.ubirata .age .tipCard .time-date,
.ubirata .mothers .tipCard .time-date,
.ubirata .searchPage .tipCard .time-date,
.ubirata .ambassadorsPage .tipCard .time-date,
.ubirata .my-content .tipCard .time-date {
	position: absolute;
	right: 20px;
	top: 20px;
	opacity: 40%;
}

@media(max-width: 1024px) {

	.ubirata .home .extraContent .developmentPhase .grid-item,
	.ubirata .theme .extraContent .developmentPhase .grid-item,
	.ubirata .age .extraContent .developmentPhase .grid-item,
	.ubirata .mothers .extraContent .developmentPhase .grid-item,
	.ubirata .ambassadorsPage .extraContent .developmentPhase .grid-item,
	.ubirata .my-content .extraContent .developmentPhase .grid-item {
		width: calc(100% - 20px);
	}

	.ubirata .my-content .introduction {
		padding-top: 320px;
		padding-bottom: 40px;
	}

	.ubirata .my-content .introduction h1 {
		width: fit-content
	}

	.ubirata .home .firstContent .heartImage,
	.ubirata .mothers .firstContent .heartImage {
		width: 200px;
		top: calc(100% - 450px);
		height: 180px;
	}

	.ubirata .home .firstContent .text,
	.ubirata .mothers .firstContent .text {
		width: 100%;
		float: none;
	}

	.ubirata .theme .firstContent .container,
	.ubirata .theme .extraContent .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
	}

	.ubirata .theme .firstContent {
		margin-top: 0px;
	}

	.ubirata .theme .introduction {
		padding-top: 130px;
		text-align: center;
	}

	.ubirata .theme .introduction img,
	.ubirata .theme .introduction div {
		float: none;
	}

	.ubirata .theme .introduction div {
		float: none;
		width: 100%;
		text-align: start;
		margin-left: 0px;
	}

	.ubirata .theme .otherThemes ul {
		grid-template-columns: 1fr;
	}

	.ubirata .theme .linksBellow,
	.ubirata .theme .otherThemes {
		margin-top: 40px;
	}

	.ubirata .theme .search {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.ubirata .theme .search .order {
		margin-top: 0px;
		justify-self: start
	}

	.ubirata .theme .order .orderLabel {
		margin-top: 6px;
	}

	.ubirata .theme .search .order .SumoSelect p {
		padding: 5px;
	}

	.ubirata .home .extraContent .container,
	.ubirata .home .firstContent .container,
	.ubirata .mothers .extraContent .container,
	.ubirata .mothers .firstContent .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
		height: 100%;
	}

	.ubirata .home .firstContent .cards ul {
		grid-template-columns: 1fr 1fr;
	}

	.ubirata .home,
	.ubirata .mothers,
	.ubirata .searchPage {
		overflow-x: hidden;
	}


	.ubirata .home .firstContent .item img {
		width: 231px;
		height: 160px;
		position: relative;
		float: none;
		margin-bottom: 20px;
	}

	.ubirata .mothers .firstContent .item img {
		width: 100%;
		height: auto;
		display: block;
		float: none;
		margin-bottom: 20px;
		margin-top: 40px;
	}

	.ubirata .mothers .firstContent .item .firstItemContent {
		margin-bottom: 0px;
	}

	.ubirata .mothers .firstContent .heartImage {
		display: none;
	}

	.ubirata .home .firstContent .catalog,
	.ubirata .mothers .firstContent .catalog {
		display: none;
	}

	.ubirata .home .firstContent .carouselSection {
		padding-top: 100px;
		height: 100%;
	}

	.ubirata .home .progress-container,
	.ubirata .mothers .progress-container {
		width: calc(100% + 40px);
		left: -20px;
		bottom: 0px;
		position: absolute;
	}

	.ubirata .home .firstContent .play-pause-btn,
	.ubirata .mothers .firstContent .play-pause-btn {
		display: none;
	}

	.ubirata .home .firstContent,
	.ubirata .mothers .firstContent {
		border-radius: 0px;
	}

	.ubirata .home .firstContent .introduction .firstText div:nth-child(2),
	.ubirata .home .firstContent .introduction .firstText p,
	.ubirata .home .firstContent .introduction .readContent {
		display: none;
	}

	.ubirata .home .firstContent .cards li {
		padding: 20px;
	}

	.ubirata .home .firstContent .cards .firstText {
		overflow: visible;
	}

	.ubirata .home .firstContent .cards .firstText div:nth-child(1) {
		float: none;
		width: 100%;
		text-align: center;
	}

	.ubirata .home .firstContent .introduction {
		padding-top: 230px;
	}

	.ubirata .mothers .firstContent .introduction {
		padding-top: 340px;
	}

	.ubirata .home .firstContent .text h1 {
		margin-bottom: 40px;
	}

	.ubirata .home .firstContent .text h3 {
		margin-bottom: 25px;
	}

	.ubirata .home .extraContent .quiz figure,
	.ubirata .mothers .extraContent .quiz figure {
		display: none;
	}

	.ubirata .home .extraContent .linksBellow {
		margin-top: 40px;
	}

	.ubirata .home .extraContent .quiz,
	.ubirata .mothers .extraContent .quiz {
		margin-top: 40px;
	}

	.ubirata .home .extraContent .quiz form .fieldWrapper div:nth-child(1),
	.ubirata .home .extraContent .quiz form .fieldWrapper div:nth-child(2),
	.ubirata .mothers .extraContent .quiz form .fieldWrapper div:nth-child(1),
	.ubirata .mothers .extraContent .quiz form .fieldWrapper div:nth-child(2) {
		float: none;
		width: 100%;
	}

	.ubirata .home .extraContent .quiz form,
	.ubirata .mothers .extraContent .quiz form {
		width: 100%;
		float: none;
		padding: 20px;
	}

	.ubirata .home .extraContent .container .developmentPhase .filter .carouselFilter,
	.ubirata .home .extraContent .popularContent .carouselKids {
		display: block;
		width: calc(100% - 50px);
	}

	.ubirata .home .extraContent .popularContent .carouselKids {
		margin-bottom: 0px;
	}

	.ubirata .home .extraContent .container .developmentPhase .filter {
		margin-bottom: 40px;
	}

	.ubirata .home .extraContent .popularContent {
		padding-top: 40px;
		margin-bottom: 40px;
	}

	.ubirata .home .linksBellow .linksList {
		grid-template-columns: 1fr;
		padding-top: 0px;
		gap: 0px;
	}

	.ubirata .age .otherThemes ul {
		grid-template-columns: 1fr;
	}

	.ubirata .age .ambassadors div {
		grid-template-columns: 1fr;
	}

	.ubirata .age .firstContent .container,
	.ubirata .age .extraContent .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
	}

	.ubirata .age .firstContent {
		margin-top: 0px;
		transition: var(--transitionMedium);
	}

	.ubirata .age .introduction {
		padding-top: 150px;
		padding-bottom: 40px;
	}

	.ubirata .age .introduction .filter {
		width: calc(100% - 50px);
	}

	.ubirata .mothers .linksBellow {
		padding-top: 20px;
	}

	.ubirata .mothers .extraContent .developmentPhase {
		padding-top: 40px;
	}

	.ubirata .mothers .extraContent .mothersDayCases .owl-carousel .owl-stage-outer {
		overflow: visible;
	}

	.ubirata .mothers .extraContent .mothersDayCases .item {
		margin: 0;
		width: 100%
	}

	.ubirata .mothers .extraContent .mothersDayCases .intro div {
		float: none;
		width: 100%;
		position: relative;
		transform: none;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.ubirata .mothers .extraContent .mothersDayCases .intro img {
		float: none;
		width: 100%;
	}

	.ubirata .mothers .extraContent .mothersDayCases {
		padding-top: 40px;
	}

	.ubirata .mothers .extraContent .mothersDayCases .intro {
		margin-bottom: 40px;
	}

	.ubirata .mothers .extraContent .mothersDayCases .videos h2 {
		text-align: start;
		margin-bottom: 10px;
	}

	.ubirata .mothers .firstContent .text h1 {
		margin-bottom: 30px;
	}

	.ubirata .mothers .extraContent .mothersDayCases .owl-theme .owl-nav {
		top: 10px;
		position: absolute;
		width: max-content;
		right: 0px;
		overflow: hidden;
	}

	.ubirata .mothers .extraContent .mothersDayCases .carouselVideos {
		padding-top: 50px;
	}

	.ubirata .mothers .extraContent .mothersDayCases .owl-carousel .owl-next,
	.ubirata .mothers .extraContent .mothersDayCases .owl-carousel .owl-prev {
		position: relative;
		transform: none;
		float: right;
		top: 0px;
		padding: 15px;
		left: initial;
		right: initial;
		background-size: 10px 15px;
	}

	.ubirata .mothers .extraContent .mothersDayCases .owl-carousel .owl-prev {
		margin-right: 10px;
		float: left;
	}

	.ubirata .searchPage .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
		padding-top: 350px;
	}

	.ubirata .searchPage .content {
		width: calc(100% - 50px);
	}

	.ubirata .searchPage .ambassadors,
	.ubirata .searchPage .topics,
	.ubirata .searchPage .withCare,
	.ubirata .searchPage .products {
		margin-bottom: 40px
	}

	.ubirata .searchPage .linksBellow .linksList {
		margin-top: 0px;
	}

	.ubirata .ambassadorsPage .firstContent .container,
	.ubirata .ambassadorsPage .extraContent .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
	}

	.ubirata .ambassadorsPage .introduction {
		padding-top: 340px;
	}

	.ubirata .ambassadorsPage .firstContent figure img {
		width: 80px;
		height: 80px;
	}

	.ubirata .ambassadorsPage .firstContent figure {
		margin-right: 15px;
		float: none;
		height: 80px;
		width: 80px;
	}

	.ubirata .ambassadorsPage .introduction div {
		float: none;
		margin-left: 0px;
		width: 100%;
		margin-top: 20px;
	}

	.ubirata .ambassadorsPage .introduction div h1 {
		margin-top: 0px;
	}

	.ubirata .ambassadorsPage .firstContent span {
		width: 30px;
		height: 30px;
	}

	.ubirata .ambassadorsPage .ambassadors div {
		grid-template-columns: 1fr;
	}

	.ubirata .linksBellow .linksList {
		padding-top: 0px;
	}

	.ubirata .ambassadorsPage .ambassadors {
		padding-bottom: 40px;
	}

	.ubirata .my-content .firstContent .container,
	.ubirata .my-content .extraContent .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
	}

	.ubirata .my-content .introduction .filter {
		width: calc(100% - 50px)
	}

	.ubirata .theme .pagination .arrowLeft,
	.ubirata .age .pagination .arrowLeft,
	.ubirata .ambassadorsPage .pagination .arrowLeft,
	.ubirata .my-content .pagination .arrowLeft {
		margin-right: 10px;
		margin-top: 10px;
	}

	.ubirata .theme .pagination .arrowRight,
	.ubirata .age .pagination .arrowRight,
	.ubirata .ambassadorsPage .pagination .arrowRight,
	.ubirata .my-content .pagination .arrowRight {
		margin-left: 0px;
		margin-top: 10px;
	}

	.ubirata .theme .pagination p,
	.ubirata .age .pagination p,
	.ubirata .ambassadorsPage .pagination p,
	.ubirata .my-content .pagination p {
		padding: 10px 15px;
	}

	.ubirata .theme .pagination,
	.ubirata .age .pagination,
	.ubirata .ambassadorsPage .pagination,
	.ubirata .my-content .pagination {
		margin-top: 20px;
	}

	.ubirata .my-content .extraContent .developmentPhase {
		margin-bottom: 40px;
	}

	.ubirata .my-content {
		overflow: hidden;
	}

	.ubirata .age {
		overflow: hidden;
	}

	.ubirata .home .firstContent .carouselSection,
	.ubirata .mothers .firstContent .carouselSection {
		padding-bottom: 50px;
	}

	.ubirata .searchPage .contentCard .modalTerm {
		right: -58px;
	}

	.ubirata .searchPage .contentCard.modalTipActive .modalTerm {
		right: -58px;
	}

	.ubirata .searchPage .contentCard .modalTerm .borderTip {
		bottom: -4px;
		right: 74px;
	}

	.ubirata .my-content .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .home .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .theme .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .age .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .searchPage .owl-carousel .owl-nav.navGreen button.owl-prev {
		display: none;
	}

	.ubirata .my-content .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .home .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .theme .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .age .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .searchPage .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .my-content .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .home .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .theme .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .age .owl-carousel .owl-nav.navGreen button.owl-prev,
	.ubirata .searchPage .owl-carousel .owl-nav.navGreen button.owl-prev {
		opacity: 0%;
	}

	.ubirata .my-content .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .home .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .theme .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .age .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .searchPage .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 86px;
		width: 50px;
		right: -70px;
		bottom: -127px;
		margin: 0px;
		position: absolute;
	}

	.ubirata .age .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 80px;
		bottom: -121px;
	}

	.ubirata .home .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 300px;
		top: calc(100% + 43px);
	}

	.ubirata .searchPage .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 305px;
		top: calc(100% + 40px);
	}

	.ubirata .searchPage .ambassadors .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 172px;
	}

	.ubirata .searchPage .topics .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 275px;
	}

	.ubirata .searchPage .products .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 150px;
	}
}

@media(max-width: 360px) {
	.ubirata .my-content .extraContent .orderLabel {
		display: none;
	}

	.ubirata .theme .pagination p,
	.ubirata .age .pagination p,
	.ubirata .ambassadorsPage .pagination p,
	.ubirata .my-content .pagination p {
		padding: 5px 10px;
	}

	.ubirata .theme .pagination .arrowRight,
	.ubirata .age .pagination .arrowRight,
	.ubirata .ambassadorsPage .pagination .arrowRight,
	.ubirata .my-content .pagination .arrowRight {
		margin-top: 4px;
	}

	.ubirata .theme .pagination .arrowLeft,
	.ubirata .age .pagination .arrowLeft,
	.ubirata .ambassadorsPage .pagination .arrowLeft,
	.ubirata .my-content .pagination .arrowLeft {
		margin-top: 4px;
	}
}