/* HEADER */

.ubirata header {
	padding: 30px 40px;
	z-index: 3;
	position: relative;
}

.ubirata header .sustainabilityMenu a,
.ubirata header .whereToFindMenu a {
	text-decoration: none;
	color: black;
}

.ubirata header.menuFloated {
	position: fixed;
	top: -1000px;
	z-index: 10;
	transition: var(--transitionMedium);
	background-color: var(--yellowBackground);
	width: 100%;
	padding: 25px 30px;
	border-radius: 0px 0px 10px 10px;
}

.menuActive.ubirata header.menuFloated .search {
	top: 35px;
}

.menuActive.ubirata header.menuFloated {
	position: fixed;
	top: 0px;
}

.ubirata header .hamb {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
	margin-top: 2px;
}

.ubirata header .hamb-background {
	float: left;
	transition: var(--transitionFast);
	margin-top: 35px;
	background-color: var(--yellowIcons);
	border-radius: 10px;
	cursor: pointer;
	padding: 14px 13px;
	height: 51px;
	width: 51px;
	position: absolute;
	top: -1000px;
}

.ubirata header .hamb span {
	position: absolute;
	background-image: url(../assets/menu-line.svg);
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	height: 2.5px;
	width: 100%;
	transition: 0.25s ease-in-out;
}

.ubirata header .hamb span:nth-child(1) {
	top: 0px;
}

.ubirata header .hamb span:nth-child(2) {
	top: 8px;
}

.ubirata.modalMobileActive header .hamb span:nth-child(3) {
	transform: rotate(45deg);
	top: 8px;
}

.ubirata.modalMobileActive header .hamb span:nth-child(1) {
	transform: rotate(-45deg);
	top: 8px;
}

.ubirata.modalMobileActive header .hamb span:nth-child(2) {
	opacity: 0;
}

.ubirata header .hamb span:nth-child(3) {
	top: 16px;
}

.ubirata header .logo-links {
	overflow: hidden;
}

/* MODAL MENU ON MOBILE */
.ubirata .modalMenuMobile .themes-mobile {
	border-bottom: 2px solid var(--borderGreyOpacity);
	margin-bottom: 30px;
}

.ubirata .modalMenuMobile .otherCategoriesList-mobile .item {
	background-color: var(--yellowIcons);
	border-radius: 10px;
	padding: 15px;
	transition: var(--transitionMedium)
}

.ubirata .modalMenuMobile .otherCategoriesList-mobile .item:hover {
	background-color: var(--brown);
}

.ubirata .modalMenuMobile .otherCategoriesList-mobile .item img {
	width: 80px;
	height: 70px;
	display: block;
	margin: 0 auto;
}

.ubirata .modalMenuMobile .otherCategoriesList-mobile .item h3 {
	color: var(--darkGreen);
	margin-top: 10px;
	transition: var(--transitionMedium)
}

.ubirata .modalMenuMobile {
	padding-top: 110px;
	background-color: var(--yellowBackground);
	height: 0px;
	transition: var(--transitionMedium);
	position: fixed;
	top: -2000px;
	z-index: 6;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100vw;
}

.modalMobileActive.ubirata .modalMenuMobile {
	top: 0px;
	height: 100vh;
}

.ubirata .modalMenuMobile .content-container {
	width: calc(100% - 40px);
	margin: 0 20px
}

.ubirata .modalMenuMobile .content-container input {
	padding: 15px;
	border-radius: 10px;
	background-repeat: no-repeat;
	background-color: transparent;
	width: 100%;
	border: 2px solid var(--darkGreen);
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content {
	overflow: hidden;
	padding-top: 10px;
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content a {
	float: left;
	line-height: 38px;
	margin-right: 25px;
	margin-bottom: 20px;
	cursor: pointer;
	text-decoration: none;
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content a:hover,
.ubirata .modalMenuMobile a.link:hover {
	color: var(--brown);
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content a:hover:before {
	background-color: var(--brown);
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content a:before {
	width: 40px;
	height: 40px;
	content: "";
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: -4px;
	border-radius: 50%;
	padding: 20px;
	background-color: var(--yellowIcons);
	transition: var(--transitionMedium);
	padding: 5px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20x 20x;
}

.ubirata .products-mobile {
	margin-bottom: 20px;
	border-bottom: 2px solid var(--borderGreyOpacity);
	margin-bottom: 30px;
}

.ubirata .products-mobile h2 {
	margin-bottom: 20px;
}

.ubirata .products-mobile .otherCategoriesList-mobile {
	width: calc(100% - 50px);
	margin-bottom: 20px;
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content .nutrition:before {
	background-image: url(../assets/fork-mobile.svg);
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content .education:before {
	background-image: url(../assets/pencil-mobile.svg);
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content .family:before {
	background-image: url(../assets/message-mobile.svg);
}

.ubirata .modalMenuMobile .content-container .themes-mobile .content .well-being:before {
	background-image: url(../assets/apple-mobile.svg);
}

.ubirata .modalMenuMobile .content-container .themes-mobile h2 {
	margin-bottom: 10px;
}

.ubirata .modalMenuMobile .content-container .search-mobile {
	position: relative;
	z-index: 3;
	margin-bottom: 25px;
}

.ubirata .modalMenuMobile .content-container .search-mobile .lupa {
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../assets/sustent-1-lupa.svg);
	width: 15px;
	height: 15px;
	content: "";
	display: block;
	float: right;
	margin-top: 2px;
	position: absolute;
	top: 14px;
	right: 15px;
}

.ubirata .modalMenuMobile a {
	text-decoration: none;
	display: block
}

.ubirata .modalMenuMobile a.link {
	margin-bottom: 30px;
	border-bottom: 2px solid var(--borderGreyOpacity);
	padding-bottom: 20px;
	cursor: pointer;
}

.ubirata header.menuFloated .logo-links .logo {
	margin-right: 20px;
	cursor: pointer;
	position: relative;
	z-index: 1;
	display: block;
}

.ubirata header.menuFloated .logo-links img {
	width: 65px;
	height: 60px;
}

.ubirata header .logo-links .logo {
	margin-right: 60px;
	float: left;
	position: relative;
	z-index: 1;
	cursor: pointer;
	display: block;
}

.ubirata header .logo-links img {
	width: 163px;
	height: 85px;
}

.ubirata header.menuFloated .logo-links nav {
	margin-top: 0px;
}

.ubirata header .logo-links nav {
	float: left;
	width: max-content;
	transition: var(--transitionFast);
	margin-top: 30px;
}

.ubirata header .logo-links nav .link {
	float: left;
	padding: 20px;
	border-radius: 10px;
}

.ubirata header .options {
	position: absolute;
	opacity: 0%;
	top: -1000px;
	transition: var(--transitionMedium);
	background-color: var(--easeBackground);
	left: 40px;
	z-index: 0;
}

.themesActive.ubirata header .optionsThemes,
.productsActive.ubirata header .optionsProducts {
	opacity: 100%;
	top: 130px;
	border-radius: 10px;
	z-index: 1;
	padding: 40px;
}

.themesActive.ubirata header.menuFloated .optionsThemes,
.productsActive.ubirata header.menuFloated .optionsProducts {
	top: 100px;
}

.ubirata.modalMobileActive {
	overflow: hidden;
}

.ubirata.searchModalMobileActive .contentCntainer {
	overflow: hidden;
}

.ubirata header .options img {
	width: 80px;
	height: 80px;
	margin: 0 auto;
}

.ubirata header .options .themesList img {
	width: 78px;
	height: 72px;
	float: left;
	margin-right: 20px;
}

.ubirata header .options .themesList div {
	float: left;
	width: calc(100% - 98px);
}

.ubirata header .options .themesList div p {
	opacity: 40%;
}

.ubirata header .options .themesList div h2 {
	margin-bottom: 15px;
	margin-top: 10px;
	color: var(--darkGreen);
}


.ubirata header .options h4 {
	margin-bottom: 30px;
}

.ubirata.linksActive header.menuModalActive .options h4 {
	margin-bottom: 30px;
}

.ubirata header .options .productsList {
	width: 100%;
}

.ubirata .optionsProducts .owl-carousel .owl-stage-outer {
	overflow: hidden;
}

.ubirata header .options .productsList .item {
	width: 100%;
}

.ubirata header .options .themesList {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	grid-row-gap: 40px;
}

.ubirata header .options .themesList a {
	overflow: hidden;
	width: 400px;
	transition: var(--transitionMedium);
	cursor: pointer;
}

.ubirata header .options .themesList a.opaque {
	opacity: 30%;
}

.ubirata header .logo-links h3 {
	transition: var(--transitionMedium);
}

.themesActive.ubirata header .logo-links .themesMenu,
.productsActive.ubirata header .logo-links .productsMenu {
	background-color: var(--easeBackground);
}

.ubirata header .logo-links .productsMenu .options .item a,
.ubirata header .logo-links .productsMenu .options .item img {
	display: block;
	width: max-content;
}

.ubirata header .logo-links .productsMenu .options .item img {
	margin-bottom: 20px;
}

.ubirata header .logo-links nav .productsMenu:after,
.ubirata header .logo-links nav .themesMenu:after {
	background-repeat: no-repeat;
	background-size: 100%;
	background-image: url(../assets/sustent-1-arrowDown.svg);
	width: 15px;
	height: 15px;
	content: "";
	display: block;
	float: right;
	margin-left: 10px;
	transition: var(--transitionMedium);
	margin-top: 3px;
}

.ubirata.productsActive header nav .productsMenu:after,
.ubirata.themesActive header nav .themesMenu:after {
	transform: rotate(180deg);
	margin-top: -3px;
}

.ubirata header .logo-links nav h3,
.ubirata header .logo-links nav a {
	width: max-content;
	cursor: pointer;
	z-index: 2;
	text-decoration: none;
	color: black;
	padding: 0px 30px;
	position: relative;
	transition: var(--transitionFast);
}

.ubirata header .logo-links nav h3:hover,
.ubirata header .logo-links nav a:hover {
	color: var(--brown);
}

.ubirata header .logo-links nav h3.active,
.ubirata header .logo-links nav a.active {
	color: var(--darkGreen);
}

.ubirata header .search {
	position: absolute;
	right: 40px;
	top: 65px;
}

.ubirata header .search .buttonPattern1 {
	padding: 17px;
	float: right;
	margin-left: 5px;
}

.ubirata header .search .buttonPattern1:before {
	content: "Entrar";
}

.ubirata header .search input {
	padding: 15px;
	border-radius: 10px;
	background-repeat: no-repeat;
	transition: var(--transitionFast);
	width: 50px;
	background-color: transparent;
}

.ubirata header .search input {
	width: 50px;
}

.ubirata.inputLupaActive header.menuStatic .search input {
	width: 400px;
}

.ubirata header .search input::placeholder {
	opacity: 0%;
	transition: var(--transitionFast);
}

.ubirata.inputLupaActive header.menuStatic .search input::placeholder {
	opacity: 100%;
}

.ubirata header .search .lupaWrapper {
	position: relative;
	display: inline;
}

.ubirata header .search .lupa {
	background-repeat: no-repeat;
	background-size: 19px 23px;
	background-image: url(../assets/sustent-1-lupa.svg);
	width: 50px;
	background-position: center;
	height: 50px;
	content: "";
	cursor: pointer;
	display: block;
	float: right;
	position: absolute;
	top: -14px;
	right: 0px;
}

/* Footer */

.ubirata .linksBellow .links1 a:hover {
	color: var(--brown);
}

.ubirata .linksBellow .linksList a {
	text-decoration: none;
	transition: var(--transitionMedium);
}

.ubirata .linksBellow .linksList .links2 .link:hover {
	color: white;
	background-color: var(--brown);
	border: 1px solid var(--brown)
}

.ubirata .linksBellow .linksList .link:hover {
	color: white;
	background-color: var(--brown);
}

.ubirata .linksBellow .linksList .link.active {
	color: white;
	background-color: var(--brown);
}

.ubirata .linksBellow {
	padding-top: 70px;
	margin-top: -20px;
	background-color: var(--easeBackground);
	border-radius: 20px 20px 0px 0px;
}

.ubirata .linksBellow .linksList {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
	margin-bottom: 60px;
}

.ubirata .linksBellow .linksList h2 {
	font-size: 18px;
	margin-bottom: 20px;
	cursor: pointer;
}

.ubirata .linksBellow .linksList a {
	color: var(--darkGreen);
	padding: 15px;
	border-radius: 10px;
	display: block;
	margin-bottom: 10px;
	width: 100%;
	cursor: pointer;
}

.ubirata .linksBellow .linksList .links2 a:nth-child(1) {
	background-color: var(--blueLink);
	border: 2px solid var(--blueBorderLink);
}

.ubirata .linksBellow .linksList .links2 a:nth-child(2) {
	background-color: var(--pinkLink);
	border: 2px solid var(--pinkBorderLink);
}

.ubirata .linksBellow .linksList .links2 a:nth-child(3) {
	background-color: var(--greenLink);
	border: 2px solid var(--greenBorderLink);
}

.ubirata .linksBellow .linksList .links2 a:nth-child(4) {
	background-color: var(--yellowLink);
	border: 2px solid var(--yellowBorderLink);
}

.ubirata .linksBellow .linksList .links2 a:nth-child(5) {
	background-color: var(--greenDarkLink);
	border: 2px solid var(--greenDarkBorderLink);
}

.ubirata .linksBellow .linksList .links2 a:nth-child(6) {
	background-color: var(--lighterGreenLink);
	border: 2px solid var(--lighterGreenBorderLink);
}

.ubirata .linksBellow .linksList .links1 a {
	border-bottom: 1px solid var(--borderGreenOpacity);
	border-radius: 0px;
	padding: 15px 0px;
	text-decoration: none;
}

.ubirata .linksBellow .linksList .links1 div:nth-child(1) {
	margin-bottom: 35px;
}

.ubirata .linksBellow .linksList .links1 a.active {
	border-bottom: 2px solid var(--borderGreenActiveOn);
}

.ubirata .linksBellow .linksList .links3 a {
	background-color: var(--darkGreen);
	color: white;
	overflow: hidden;
}

.ubirata .linksBellow .linksList .links3 a p {
	float: left;
}

.ubirata .linksBellow .linksList .links3 a span {
	width: 15px;
	height: 15px;
	content: "89";
	display: block;
	float: right;
	color: #FFFFFF;
	margin-right: 10px;
	opacity: 40%;
}

.ubirata .linksBellow .linksList .links4 a {
	background-color: var(--yellowLink);
	max-height: 200px;
	opacity: 100%;
}

.ubirata .linksBellow .linksList .links4 a.disabled {
	max-height: 0px;
	opacity: 0%;
	padding: 0;
	margin: 0;
	transition: var(--transitionMedium);
}

.ubirata .linksBellow .linksList .links4 a.seeMore {
	background-color: transparent;
	color: var(--darkGreen);
	transition: var(--transitionMedium);
}

.ubirata .linksBellow .linksList .links4 a.seeMore:hover {
	color: black
}

.ubirata .linksBellow .madeWithCare {
	overflow: hidden;
	padding-bottom: 28px;
}

.ubirata .linksBellow .madeWithCare img {
	float: left;
}

.ubirata .linksBellow .madeWithCare div {
	float: right;
	overflow: hidden;
	width: max-content;
	margin-top: 65px
}

.ubirata .linksBellow .madeWithCare div img {
	float: right;
}

.ubirata .linksBellow .madeWithCare div p {
	float: left;
	margin-top: 25px;
	margin-right: 30px;
	opacity: 40%;
}

.ubirata footer {
	background-color: var(--brown);
	padding: 25px 120px;
	border-radius: 20px 20px 0px 0px;
	overflow: hidden;
}

.ubirata footer a img {
	opacity: 60%;
	transition: var(--transitionFast);
}

.ubirata footer a:hover img {
	opacity: 100%;
}

.ubirata footer .logoFooter {
	float: left;
}

.ubirata footer div {
	float: right;
}

.ubirata footer div nav {
	overflow: hidden;
}

.ubirata footer div nav a {
	color: white;
	text-decoration: none;
	cursor: pointer;
	float: left;
	margin-bottom: 40px;
	margin-right: 80px;
	opacity: 60%;
	transition: var(--transitionMedium);
}

.ubirata footer div nav a:nth-child(3) {
	margin-right: 0;
}

.ubirata footer div nav a:hover {
	opacity: 100%;
}

.ubirata footer div p {
	color: white;
	opacity: 40%;
	float: right;
}

.ubirata .modalSearch {
	position: absolute;
	top: 50px;
	width: 400px;
	transition: var(--transitionFast);
	border-radius: 10px;
	overflow: hidden;
	pointer-events: none;
	opacity: 0%;
	background-color: var(--easeBackground)
}

.ubirata .modalMenuMobile .modalSearch {
	position: absolute;
	left: 0px;
	top: 170px;
	width: 100%;
	margin: 0 auto;
	transition: var(--transitionFast);
	height: 100vh;
	pointer-events: none;
	opacity: 0%;
	background-color: var(--yellowBackground)
}

.searchModalActive.ubirata .menuStatic .modalSearch {
	top: 60px;
	pointer-events: initial;
	opacity: 100%;
}

.searchModalMobileActive.ubirata .modalMenuMobile .modalSearch {
	pointer-events: initial;
	opacity: 100%;
	z-index: 3;
}

.searchModalMobileActive.ubirata .menuFloated .search a {
	pointer-events: none;
}

.searchModalMobileActive.ubirata .menuFloated .search {
	cursor: pointer;
}

.ubirata.searchModalMobileActive header .hamb-background .hamb {
	display: none;
}

.ubirata.searchModalMobileActive header .hamb-background {
	padding: 25px;
	background-image: url(../assets/menu-arrow.svg);
	background-size: 15px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.ubirata.searchModalMobileActive header .search .buttonPattern1:before {
	display: none;
}

.ubirata.searchModalMobileActive header .search .buttonPattern1 {
	padding: 14px 13px;
	background-color: var(--yellowIcons);
	width: 51px;
	height: 51px;
}

.ubirata header.menuFloated .search .buttonPattern1 .hamb {
	display: none;
}

.ubirata.searchModalMobileActive header.menuFloated .search .buttonPattern1 .hamb {
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}

.ubirata .modalSearch .topWords {
	margin-bottom: 20px;
	padding: 20px;
	padding-bottom: 0px;
}

.ubirata .modalSearch a {
	color: var(--darkGreen);
	transition: var(--transitionMedium);
	text-decoration: none;
}

.ubirata .modalSearch .topWords a:hover {
	color: var(--darkGreen);
	text-decoration: underline;
	margin-right: 20px;
	transition: var(--transitionMedium);
}

.ubirata .modalSearch .topWords a {
	margin-right: 20px;
}

.ubirata .modalSearch .topContent a:hover {
	background-color: var(--yellowBackground);
}

.ubirata .modalSearch .topContent h3 {
	margin-left: 20px;
}

.ubirata .modalSearch .topContent a {
	padding: 20px;
	display: block;
}

.ubirata .modalSearch h3 {
	margin-bottom: 10px;
}

@media(max-width: 1024px) {

	.ubirata header.menuFloated .logo-links .logo {
		position: absolute;
		left: 50%;
		top: 20px;
		transform: translate(-50%, 0px);
	}

	.ubirata header .search .lupaWrapper {
		display: none;
	}

	.ubirata header .search .buttonPattern1 {
		padding: 15px;
	}

	.ubirata.modalMobileActive header.menuFloated {
		padding-left: 20px;
		padding-right: 20px;
	}

	.ubirata.modalMobileActive header .search {
		right: 20px;
	}

	.ubirata.modalMobileActive .menuFloated {
		position: absolute;
	}

	.ubirata header .search .buttonPattern1:before {
		content: "";
		background-image: url(../assets/pearson-mobile.svg);
		background-position: center;
		background-size: 100%;
		display: block;
		height: 21px;
		width: 21px;
		background-repeat: no-repeat;
	}

	.ubirata header.modalMenuActive .logo-links .logo {
		float: none;
	}

	.menuActive.ubirata header.menuFloated {
		background-color: var(--brown);
	}

	.ubirata header.menuFloated .search,
	.menuActive.ubirata header.menuFloated .search {
		top: 20px;
		right: 20px;
		margin-top: 5px;
	}

	.ubirata .menuStatic {
		position: absolute;
		top: -1000px;
	}

	.ubirata header .logo-links nav {
		grid-template-columns: 1fr;
		float: none;
		position: absolute;
		top: -1000px;
	}

	.ubirata header.modalMenuActive .logo-links nav {
		top: 0px;
		position: relative;
	}

	.ubirata header .options .productsList {
		margin-left: 20px;
		width: calc(100% - 50px);
	}

	.ubirata header .hamb-background {
		position: relative;
		top: 0px;
		margin-top: 5px;
	}

	.ubirata header.modalMenuActive .optionsThemes,
	.ubirata header.modalMenuActive .optionsProducts {
		top: 90px;
	}

	.ubirata header.modalMenuActive .options .themesList {
		grid-template-columns: 1fr;
	}

	.ubirata header .options h4,
	.ubirata header.modalMenuActive .options .themesList {
		margin-left: 20px;
	}


	.ubirata header.modalMenuActive .options .themesList a {
		margin-bottom: 10px;
	}

	.ubirata.themesActive header .logo-links nav,
	.ubirata.productsActive header .logo-links nav {
		top: -1000px;
	}

	.ubirata header.menuFloated,
	.ubirata.menuActive.modalMobileActive header.menuFloated {
		top: 0px;
		background-color: transparent;
	}

	.ubirata.menuActive.modalMobileActive header.menuFloated,
	.ubirata.modalMobileActive header.menuFloated {
		background-color: var(--darkBrownOpacity);
		overflow: hidden;
	}

	.ubirata .linksBellow .linksList {
		gap: 0px;
	}

	.ubirata .linksBellow .madeWithCare img,
	.ubirata .linksBellow .madeWithCare div {
		float: none;
		margin: 0 auto;
		display: block;
	}

	.ubirata footer {
		padding: 20px;
		width: 100%;
		padding-bottom: 50px;
		position: relative;
	}

	.ubirata footer div,
	.ubirata footer .logoFooter,
	.ubirata footer div p {
		float: none;
	}

	.ubirata footer div p {
		position: absolute;
		bottom: 20px;
		left: 50%;
		transform: translate(-50%, 0px);
		width: calc(100% - 40px);
		text-align: center;
	}

	.ubirata .linksBellow .linksList h2 {
		padding: 20px 0px;
		border-bottom: 2px solid var(--borderGreyOpacity);
		margin-bottom: 0px;
		position: relative;
		z-index: 1
	}

	.ubirata .linksBellow .linksList h2.active {
		border-bottom: none
	}

	.ubirata .linksBellow .linksList h2:after {
		background-repeat: no-repeat;
		background-size: 100%;
		transition: var(--transitionMedium);
		background-image: url(../assets/catprod-4-greenArrowDown.svg);
		width: 15px;
		height: 8px;
		content: "";
		display: block;
		float: right;
		margin-top: 2px;
		margin-left: 10px;
	}

	.ubirata .linksBellow .linksList h2.active:after {
		transform: rotate(180deg);
	}

	.ubirata .linksBellow .linksList .links2 a:nth-child(6) {
		margin-bottom: 0px;
	}

	.ubirata .linksBellow .linksList .containerHide.active {
		opacity: 100%;
		z-index: 1;
		padding-top: 0px;
		max-height: 600px;
		margin-top: 0px;
		border-bottom: 2px solid var(--borderGreyOpacity);
	}

	.ubirata .linksBellow .linksList .links3 a:nth-child(5),
	.ubirata .linksBellow .linksList .links4 a.seeMore {
		margin-bottom: 0px;
	}

	.ubirata .linksBellow .linksList .links4 a.seeMore {
		padding-bottom: 0px
	}

	.ubirata .linksBellow .linksList .containerHide {
		padding: 20px 0px;
		opacity: 0%;
		transition: var(--transitionMedium);
		max-height: 0;
		margin-top: -40px;
		overflow: hidden;
		position: relative;
		z-index: 0
	}

	.ubirata footer .logoFooter {
		margin-bottom: 30px;
	}

	.ubirata footer .logoFooter img {
		padding-right: 45px;
		margin: 0 auto;
		display: block;
	}

	.ubirata footer div nav {
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: center;
		width: 100%;
	}

	.ubirata footer div nav a {
		margin-bottom: 0px;
		float: none;
	}

	.ubirata footer div p {
		text-align: center;
	}

	.ubirata .linksBellow .linksList {
		grid-template-columns: 1fr;
		padding-top: 30px;
		margin-bottom: 40px;
	}

	.ubirata .linksBellow {
		padding-top: 0px;
	}

	.ubirata .linksBellow .linksList .links1 div:nth-child(1) {
		margin-bottom: 0px;
	}

	.ubirata .linksBellow .linksList .links1 .containerHide.active {
		padding: 0px;
		border: none;
	}

	.ubirata header.menuFloated {
		padding: 20px;
	}

	.ubirata footer div nav a {
		float: none;
		width: 100%;
		text-align: start;
		margin-bottom: 10px;
		display: block;
	}

	.ubirata .modalMenuMobile .owl-carousel .owl-nav.navGreen button.owl-prev {
		display: none;
	}

	.ubirata .modalMenuMobile .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .modalMenuMobile .owl-carousel .owl-nav.navGreen button.owl-prev {
		opacity: 0%;
	}

	.ubirata .modalMenuMobile .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 170px;
		width: 50px;
		right: -64px;
		bottom: -212px;
		position: absolute;
	}
}