.ubirata header.logged {
	position: relative;
	padding: 20px;
	height: 90px;
}

.ubirata header.logged .backToMenu {
	color: var(--darkGreen);
	text-decoration: none;
	width: calc(50% - 115px);
	margin-top: 12px;
	display: block;
	transition: var(--transitionMedium);
}

.ubirata header.logged .backToMenu:hover {
	color: var(--brown)
}

.ubirata header.logged .backToMenu:before {
	background-repeat: no-repeat;
	width: 4px;
	height: 8px;
	content: '';
	background-position: center;
	background-image: url(../assets/arrowGreen-left.svg);
	display: block;
	float: left;
	margin-right: 5px;
	margin-left: 20px;
	background-size: 100%;
	margin-top: 3px;
}

.ubirata header.logged .aboveFormContent {
	width: calc(50% + 95px);
	position: absolute;
	right: 0px;
	top: 20px;
}

.ubirata header.logged .change-section {
	width: max-content;
}

.ubirata header.logged .change-section a {
	padding: 15px;
	display: block;
	text-decoration: none;
	color: var(--darkGreen);
	position: relative;
	padding-left: 53px;
	border-radius: 10px;
	cursor: pointer;
	transition: var(--transitionMedium);
	background-color: transparent
}

.ubirata header.logged .change-section .my-data.active,
.ubirata header.logged .change-section .my-family-data.active {
	background-color: var(--easeBackground);
}

.ubirata .title-second {
	margin-bottom: 20px;
}

.ubirata header.logged .change-section a:before {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 28px;
	height: 21px;
	content: '';
	position: absolute;
	background-position: center;
	background-image: url(../assets/arrowGreen-left.svg);
	display: block;
	left: 15px;
	margin-right: 10px;
}

.ubirata header.logged .change-section a:nth-child(1) {
	margin-right: 15px;
	padding-left: 46px;
	float: left;
}

.ubirata header.logged .change-section a:nth-child(2) {
	float: left;
}

.ubirata header.logged .change-section a:nth-child(1):before {
	background-image: url(../assets/pearson-green.svg);
	width: 21px;
}

.ubirata header.logged .change-section a:nth-child(2):before {
	background-image: url(../assets/two-people-green.svg);
}

.ubirata header.logged nav {
	position: absolute;
	right: 20px;
	width: 200px;
}

.ubirata header.logged nav h3.desk {
	border-radius: 10px;
	position: relative;
	background-color: var(--darkGreen);
	color: white;
	padding: 15px;
	cursor: pointer;
}

.ubirata header.logged nav.active h3:after {
	transform: rotate(180deg);
}

.ubirata header.logged nav h3.desk:after {
	background-repeat: no-repeat;
	background-size: 100%;
	width: 15px;
	height: 15px;
	transition: var(--transitionMedium);
	content: '';
	background-position: center;
	background-image: url(../assets/sustent-1-arrowDown-white.svg);
	display: block;
	float: right;
	opacity: 40%;
}

.ubirata header.logged nav.active .drop-menu {
	max-height: 500px;
}

.ubirata header.logged .drop-menu {
	max-height: 0px;
	padding: 0px;
	overflow: hidden;
	transition: var(--transitionMedium);
}

.ubirata header.logged nav .drop-menu div {
	border-radius: 10px;
	padding: 10px;
	height: 100%;
	padding: 15px;
	margin-top: 5px;
	width: 100%;
	background-color: var(--darkGreen);
}

.ubirata header.logged nav div a {
	color: white;
	text-decoration: none;
	height: 100%;
	border-radius: 5px;
	display: block;
	transition: var(--transitionMedium);
	padding: 10px;
}

.ubirata header.logged nav div a:hover {
	background-color: var(--whiteHover);
}

.ubirata .my-account {
	background: var(--yellowGradient);
	margin-top: -210px;
	padding-top: 230px;
}

.ubirata .my-account .section-wrapper {
	display: flex;
}

.ubirata .my-account .introduction {
	width: calc(50% - 95px);
	position: relative;
	padding-left: 60px;
}

.ubirata .my-account .introduction h1 {
	margin-bottom: 10px;
}

.ubirata .my-account .introduction p {
	margin-bottom: 60px;
}

.ubirata .my-account .introduction img {
	width: 100%;
	height: auto;
}

.ubirata .my-account .container-intro {
	max-width: 560px;
	width: 100%;
	position: sticky;
	top: 20px;
	padding-right: 60px;
}

.ubirata .my-account .data-form {
	width: calc(50% + 75px);
	min-height: 100vh;
	margin-right: 20px;
	background-color: var(--easeBackground);
	border-radius: 10px 10px 0px 0px;
	padding-top: 90px;
}

.ubirata .my-account .data-form .container-form {
	max-width: 680px;
	width: 100%;
	/* nao foi 630 pois contei
	o padding de 25px em cada lado pra
	fechar metade da página e fazer
	o calc da div maior a partir de 50% */
	padding: 0 25px;
	margin: 0 auto;
}

.ubirata .my-account .title {
	margin-bottom: 25px;
}

.ubirata .my-account .data-form .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	grid-row-gap: 20px;
}

.ubirata .my-account .labelForm {
	margin-bottom: 5px;
	color: var(--darkGreen);
	display: block;
	width: 100%;
}

.ubirata .my-account .labelForm span {
	color: red;
}

.ubirata .my-account input {
	width: 100%;
	padding: 15px;
	border-radius: 10px;
	background-color: transparent;
	border: 2px solid var(--borderGreenOpacity40);
	transition: var(--transitionMedium);
}

.ubirata .my-account .data-form .lock-wrapper {
	position: relative;
}

.ubirata .my-account .data-form .lock-wrapper:after {
	position: absolute;
	background-repeat: no-repeat;
	background-size: 100%;
	width: 15px;
	height: 18px;
	content: '';
	background-position: center;
	background-image: url(../assets/lock.svg);
	display: block;
	top: 15px;
	opacity: 40%;
	right: 15px;
}

.ubirata .my-account .SumoSelect>.CaptionCont {
	border-radius: 10px;
	border: 2px solid var(--borderGreenOpacity40);
}

.ubirata .my-account .SumoSelect.open>.CaptionCont,
.ubirata .my-account input:focus,
.ubirata .my-account input:focus-visible {
	border: 2px solid var(--darkGreen);
	outline: 0px;
}

.ubirata .my-account .contact-data {
	margin-bottom: 40px;
}

.ubirata .my-account .gender-section {
	margin-bottom: 20px;
}

.ubirata .my-account .gender-section .SumoSelect>.CaptionCont {
	width: calc(50% - 10px);
}

.ubirata .my-account .number-complement {
	display: grid;
	grid-template-columns: 80px 1fr;
	gap: 20px;
}

.ubirata .my-account .SumoSelect>.CaptionCont>span,
.ubirata .my-account input::placeholder {
	font-family: var(--font2);
	font-size: 14px;
	font-weight: 400;
	color: black;
	opacity: 40%;
}

.ubirata .my-account .SumoSelect[is-selected="true"]>.CaptionCont>span {
	opacity: 100%;
}

.ubirata .my-account .gender-section .SumoSelect>.optWrapper {
	width: calc(50% - 10px);
}

.ubirata .my-account .SumoSelect>.optWrapper {
	background-color: var(--yellowBackground);
	border-radius: 10px;
	width: 100%;
	top: 50px;
}

.ubirata .my-account .SumoSelect>.CaptionCont>label>i {
	background-image: url(../assets/catprod-4-greenArrowDown.svg);
}

.ubirata .my-account .SumoSelect>.optWrapper>.options li.opt {
	padding: 10px;
}

.ubirata .my-account form .updateData {
	width: 100%;
	border-radius: 10px;
	color: white;
	margin-top: 40px;
	background-color: var(--darkGreen);
	border: none;
	margin-bottom: 40px;
	padding: 15px;
	transition: var(--transitionMedium);
	cursor: pointer;
}

.ubirata .my-account form .updateData:hover {
	background-color: var(--brown);
}

.ubirata .my-account .changePassword p {
	padding: 20px;
	font-family: var(--font2);
	font-size: 12px;
	border-radius: 10px;
	background-color: var(--yellowBackground);
	margin-bottom: 80px;
}

.ubirata .my-account .link {
	color: var(--darkGreen);
	transition: var(--transitionMedium);
}

.ubirata .my-account .link:hover {
	color: var(--brown);
}

.ubirata .my-account .status-container {
	width: 300px;
}

.ubirata .my-account .my-family-data-form form {
	position: relative;
}


.ubirata .my-account .family-status-container {
	margin-bottom: 40px;
}

.ubirata .my-account .status-container {
	width: 300px;
	display: inline-block;
	margin-right: 20px;
}

.ubirata .my-account .family-container {
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 320px;
}

.ubirata .my-account .family-container span {
	display: block;
	background-color: var(--darkGreen);
	border-radius: 10px;
	color: white;
	transition: var(--transitionMedium);
	float: left;
	width: 48px;
	text-align: center;
	cursor: pointer;
	padding: 16px 0px;
}

.ubirata .my-account .family-container span.disabled {
	pointer-events: none;
	opacity: 40%;
}

.ubirata .my-account .family-container span:hover {
	background-color: var(--brown);
}

.ubirata .my-account .family-container input {
	float: left;
	width: 95px;
	text-align: center;
	margin: 0px 10px;
	height: 48px;
}

.ubirata .my-account .addButton {
	width: 100%;
	border-radius: 10px;
	background-color: var(--yellowEaseCard);
	padding: 42px 20px;
	transition: var(--transitionMedium);
	cursor: pointer;
}

.ubirata .my-account .addButton:hover {
	background-color: var(--brown);
}

.ubirata .my-account .addButton:hover h3 {
	color: white;
	border-bottom: 2px solid white
}

.ubirata .my-account .addButton h3 {
	margin: 0 auto;
	transition: var(--transitionMedium);
	text-align: center;
	padding-bottom: 3px;
	width: 135px;
	border-bottom: 2px solid var(--darkGreen);
	color: var(--darkGreen);
}

.ubirata .my-account .addKidData {
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 10px;
	background-color: var(--yellowEaseCard);
	padding-bottom: 60px;
	position: relative;
}

.ubirata .my-account .addKidData div {
	overflow: hidden;
}

.ubirata .my-account .addKidData div div {
	float: left;
	width: calc(50% - 10px)
}

.ubirata .my-account .addKidData div div:nth-child(1) {
	margin-right: 20px;
}

.ubirata .my-account .addKidData h3 {
	padding-bottom: 3px;
	width: max-content;
	border-bottom: 2px solid var(--darkGreen);
	color: var(--darkGreen);
	position: absolute;
	cursor: pointer;
	transition: var(--transitionMedium);
	right: 20px;
	bottom: 20px;
	text-transform: uppercase;
}

.ubirata .my-account .addKidData h3:before {
	background-repeat: no-repeat;
	width: 8px;
	height: 8px;
	content: '';
	background-position: center;
	background-image: url(../assets/add.svg);
	display: block;
	float: left;
	margin-right: 15px;
	background-size: 100%;
	margin-top: 3px;
}

.ubirata .my-account .addKidData h3:hover {
	color: var(--brown);
	border-bottom: 2px solid var(--brown);
}

.ubirata .my-account .addKidCard {
	overflow: hidden;
	margin-bottom: 10px;
}

.ubirata .my-account .addKidCard .card {
	overflow: hidden;
	padding: 20px;
	width: 100%;
	background-color: var(--yellowBackgroundTheme);
	border-radius: 10px;
}

.ubirata .my-account .addKidCard .card div {
	float: left;
	overflow: hidden;
}

.ubirata .my-account .addKidCard div h2 {
	color: var(--darkGreen);
	margin-right: 10px;
	float: left;
}

.ubirata .my-account .addKidCard div p {
	font-size: 14px;
	opacity: 40%;
	float: left;
}

.ubirata .my-account .addKidCard h3 {
	float: right;
	transition: var(--transitionMedium);
	text-align: end;
	padding-left: 3px;
	position: relative;
	width: max-content;
	border-bottom: 2px solid var(--darkGreen);
	color: var(--darkGreen);
	margin-right: 40px;
	cursor: pointer;
}

.ubirata .my-account .addKidCard h3:hover {
	color: var(--brown);
	border-bottom: 2px solid var(--brown);
}

.ubirata .my-account .addKidCard h3:after {
	background-repeat: no-repeat;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	right: -40px;
	background-color: var(--yellowIcons);
	content: '';
	background-position: center;
	background-image: url(../assets/pencil.svg);
	display: block;
	float: right;
	margin-left: 10px;
	background-size: 13px 13px;
	margin-top: 3px;
	top: 50%;
	transform: translate(0px, -50%);
}

.ubirata .my-account .addKidCard .editKid h3:after,
.ubirata .my-account .addKidCard .editKid h3:before {
	display: none;
}

.ubirata .my-account .addKidCard .editKid h3 {
	position: absolute;
	right: 20px;
	bottom: 20px;
	margin-right: 0px;
}

.ubirata .my-account .addKidCard .kidCard {
	margin-bottom: 10px;
}

.ubirata .my-account .addKidCard .kidCard:last-child {
	margin-bottom: 0px;
}

.ubirata .my-account .addKidCard .editKid {
	margin-top: 10px;
	margin-bottom: 0px;
	display: none;
}

.ubirata .my-account .addKidCard .editKid.active {
	display: block;
}

.ubirata header.logged nav h3.mobile {
	position: absolute;
	top: -1000px;
	background-color: var(--darkGreen);
	border-radius: 10px;
	color: white;
	text-decoration: none;
	transition: var(--transitionMedium);
	cursor: pointer;
	display: block;
	border: none;
	text-align: center;
	padding: 15px;
}

.ubirata header.logged nav h3.mobile:before {
	content: "";
	background-image: url(../assets/pearson-mobile.svg);
	background-position: center;
	background-size: 100%;
	display: block;
	height: 21px;
	width: 21px;
	background-repeat: no-repeat;
}

.my-account input[type=number]::-webkit-outer-spin-button,
.my-account input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.my-account .SumoSelect p {
	padding: 16px;
}

.my-account .SumoSelect {
	height: 50px;
}

@media (max-width: 1024px) {
	.ubirata header.logged nav h3.desk {
		position: absolute;
		top: -1000px;
	}

	.ubirata header.logged nav h3.mobile {
		position: absolute;
		top: 0px;
		right: 0px;
	}

	.ubirata header.logged .change-section {
		position: absolute;
		top: 75px;
		left: -74px;
	}

	.ubirata .my-account .introduction,
	.ubirata .my-account .data-form {
		width: 100%;
		float: none;
	}

	.ubirata .my-account .container-intro {
		max-width: 100%;
		text-align: center;
		padding: 0px;
	}

	.ubirata .my-account .introduction {
		padding-left: 0px;
		padding: 0 20px;
		padding-bottom: 40px;
	}

	.ubirata .my-account {
		padding-top: 300px;
	}

	.ubirata header.logged .backToMenu {
		width: max-content;
		margin-top: 15px;
	}

	.ubirata header.logged .backToMenu:before {
		margin-left: 0px;
	}

	.ubirata .my-account .introduction p {
		margin-bottom: 40px;
	}

	.ubirata .my-account .introduction img {
		width: calc(100% - 100px);
		display: block;
		margin: 0 auto;
	}

	.ubirata .my-account .data-form {
		padding-top: 40px;
	}

	.ubirata .my-account .data-form .grid {
		grid-template-columns: 1fr;
	}

	.ubirata .my-account .gender-section .SumoSelect>.CaptionCont {
		width: 100%;
	}

	.ubirata .my-account .data-form {
		padding-bottom: 80px
	}

	.ubirata .my-account .changePassword p {
		margin-bottom: 0px;
	}

	.ubirata .my-account .family-container {
		position: relative;
		left: 0px;
		margin-top: 20px;
	}

	.ubirata .my-account .addKidData div div {
		margin: 0px;
		float: none;
		width: 100%;
	}

	.ubirata .my-account .addKidData div div:nth-child(1) {
		margin-bottom: 20px;
	}

	.ubirata .my-account .status-container {
		margin-right: 0px;
		width: 100%;
	}

	.ubirata .my-account form .updateData {
		margin-bottom: 0px;
	}

	.ubirata .my-account .changePassword {
		margin-top: 40px;
	}

	.ubirata .my-account .gender-section .SumoSelect>.optWrapper {
		width: 100%;
	}

	.ubirata header.logged nav .drop-menu {
		margin-top: 50px;
	}

	.ubirata .my-account .section-wrapper {
		flex-direction: column;
	}
}