@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=M+PLUS+Rounded+1c:wght@500;700;800&display=swap');
/* POLITICA DE PRIVACIDADE  */

.ubirata .politicsAndTerms .firstContent {
	width: 100%;
	position: relative;
	z-index: 2;
	margin-top: -205px;
	border-radius: 0px 0px 20px 20px;
	height: 100%;
	background: var(--yellowGradient);
}

.ubirata .politicsAndTerms .firstContent .container,
.ubirata .politicsAndTerms .extraContent .container {
	margin: 0px 120px;
	width: calc(100% - 240px);
}

.ubirata .politicsAndTerms .introduction {
	padding-top: 220px;
	padding-bottom: 60px;
}

.ubirata .politicsAndTerms .introduction .title {
	overflow: hidden;
}

.ubirata .politicsAndTerms .introduction .title img {
	width: 180px;
	height: 160px;
	float: left;
}

.ubirata .politicsAndTerms .introduction .title div {
	float: left;
	margin-left: 40px;
	width: calc(100% - 220px);
	max-width: 800px;
}

.ubirata .politicsAndTerms .introduction .title div h1 {
	margin-top: 40px;
	margin-bottom: 20px;
}

.ubirata .politicsAndTerms .introduction .topics {
	margin-top: 60px;
}

.ubirata .politicsAndTerms .introduction .topics h2 {
	margin-bottom: 20px;
}

.ubirata .politicsAndTerms .topics ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	gap: 20px;
}

.ubirata .politicsAndTerms .topics li {
	width: 100%;
	background-color: var(--easeBackground);
	border-radius: 10px;
	padding: 20px;
	position: relative;
	padding-bottom: 60px;
}

.ubirata .politicsAndTerms .topics .firstText div {
	margin-bottom: 20px;
	overflow: hidden;
	width: 100%;
}

.ubirata .politicsAndTerms .topics .firstText div span {
	padding: 5px;
	border-radius: 50%;
	background-color: var(--yellowBackground);
	width: 30px;
	display: block;
	color: var(--darkGreen);
	text-align: center;
	height: 30px;
	float: left;
	line-height: 1.3em;
	margin-right: 10px;
}

.ubirata .politicsAndTerms .topics .firstText h3 {
	width: calc(100% - 40px);
	float: left;
	color: var(--darkGreen);
	margin-top: 3px;
}

.ubirata .politicsAndTerms .topics .firstText p {
	line-height: 1.5em;
}

.ubirata .politicsAndTerms .topics .readContent {
	z-index: 2;
	position: absolute;
	bottom: 20px;
	padding-bottom: 5px;
	border-bottom: 2px solid var(--darkGreen);
	width: 60px;
}

.ubirata .politicsAndTerms .topics .readContent a {
	text-decoration: none;
	color: var(--darkGreen);
	font-size: 12px;
	width: calc(100% - 10px);
	display: block;
	text-align: start;
}

.ubirata .politicsAndTerms .extraContent {
	background-color: var(--easeBackground);
}

.ubirata .politicsAndTerms .linksBellow {
	padding-top: 0px;
	margin-top: 0px;
}

.ubirata .politicsAndTerms .terms-tip {
	padding-top: 70px;
	margin-top: -10px;
	padding-bottom: 60px;
}

.ubirata .politicsAndTerms .terms-tip h2 {
	margin-bottom: 25px;
}

.ubirata .politicsAndTerms .terms-tip .tips-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.ubirata .politicsAndTerms .terms-tip .tips-wrapper div {
	border-radius: 10px;
	border: 2px solid rgba(162, 135, 9, 0.4);
	padding: 15px;
}

.ubirata .politicsAndTerms .terms-tip .tips-wrapper div h3 {
	margin-bottom: 20px;
}

.ubirata .politicsAndTerms .terms-tip .tips-wrapper div p {
	line-height: 1.5em;
}

.ubirata .politicsAndTerms .content-wrapper {
	display: flex;
	width: 100%;
	padding-bottom: 160px;
}

.ubirata .politicsAndTerms .text-wrapper,
.ubirata .politicsAndTerms .menu-wrapper {
	width: calc(100% - 350px - 80px)
}

.ubirata .politicsAndTerms .menu-wrapper {
	width: 350px;
	margin-left: 80px;
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky {
	overflow: auto;
	max-height: calc(100vh - 170px);
	width: 100%;
	position: sticky;
	top: 140px;
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky::-webkit-scrollbar-track {
	background: var(--white);
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky::-webkit-scrollbar {
	width: 8px;
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky::-webkit-scrollbar-track {
	background: var(--white);
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky::-webkit-scrollbar-thumb {
	background-color: var(--darkGreen);
	border-radius: 10px;
}


.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a {
	border-radius: 10px;
	background-color: var(--yellowBackground);
	overflow: hidden;
	cursor: pointer;
	display: block;
	text-decoration: none;
	padding: 15px;
	margin-bottom: 8px;
	transition: var(--transitionMedium);
}

/* SEÇÕES POLÍTICA DE PRIVACIDADE */

.ubirata.content1Active .politicsAndTerms .menu-wrapper .menu-sticky .menu1,
.ubirata.content2Active .politicsAndTerms .menu-wrapper .menu-sticky .menu2,
.ubirata.content3Active .politicsAndTerms .menu-wrapper .menu-sticky .menu3,
.ubirata.content4Active .politicsAndTerms .menu-wrapper .menu-sticky .menu4,
.ubirata.content5Active .politicsAndTerms .menu-wrapper .menu-sticky .menu5,
.ubirata.content6Active .politicsAndTerms .menu-wrapper .menu-sticky .menu6,
.ubirata.content7Active .politicsAndTerms .menu-wrapper .menu-sticky .menu7,
.ubirata.content8Active .politicsAndTerms .menu-wrapper .menu-sticky .menu8,
.ubirata.content9Active .politicsAndTerms .menu-wrapper .menu-sticky .menu9,
.ubirata.content10Active .politicsAndTerms .menu-wrapper .menu-sticky .menu10,
.ubirata.content11Active .politicsAndTerms .menu-wrapper .menu-sticky .menu11,
.ubirata.content12Active .politicsAndTerms .menu-wrapper .menu-sticky .menu12,
.ubirata.content13Active .politicsAndTerms .menu-wrapper .menu-sticky .menu13,
.ubirata.content14Active .politicsAndTerms .menu-wrapper .menu-sticky .menu14,
.ubirata.content15Active .politicsAndTerms .menu-wrapper .menu-sticky .menu15,
.ubirata.content16Active .politicsAndTerms .menu-wrapper .menu-sticky .menu16,
.ubirata.content17Active .politicsAndTerms .menu-wrapper .menu-sticky .menu17,
.ubirata.content18Active .politicsAndTerms .menu-wrapper .menu-sticky .menu18,
.ubirata.content19Active .politicsAndTerms .menu-wrapper .menu-sticky .menu19,
.ubirata.content20Active .politicsAndTerms .menu-wrapper .menu-sticky .menu20 {
	background-color: var(--darkGreen);
}

.ubirata.content1Active .politicsAndTerms .menu-wrapper .menu-sticky .menu1 span,
.ubirata.content2Active .politicsAndTerms .menu-wrapper .menu-sticky .menu2 span,
.ubirata.content3Active .politicsAndTerms .menu-wrapper .menu-sticky .menu3 span,
.ubirata.content4Active .politicsAndTerms .menu-wrapper .menu-sticky .menu4 span,
.ubirata.content5Active .politicsAndTerms .menu-wrapper .menu-sticky .menu5 span,
.ubirata.content6Active .politicsAndTerms .menu-wrapper .menu-sticky .menu6 span,
.ubirata.content7Active .politicsAndTerms .menu-wrapper .menu-sticky .menu7 span,
.ubirata.content8Active .politicsAndTerms .menu-wrapper .menu-sticky .menu8 span,
.ubirata.content9Active .politicsAndTerms .menu-wrapper .menu-sticky .menu9 span,
.ubirata.content10Active .politicsAndTerms .menu-wrapper .menu-sticky .menu10 span,
.ubirata.content11Active .politicsAndTerms .menu-wrapper .menu-sticky .menu11 span,
.ubirata.content12Active .politicsAndTerms .menu-wrapper .menu-sticky .menu12 span,
.ubirata.content13Active .politicsAndTerms .menu-wrapper .menu-sticky .menu13 span,
.ubirata.content14Active .politicsAndTerms .menu-wrapper .menu-sticky .menu14 span,
.ubirata.content15Active .politicsAndTerms .menu-wrapper .menu-sticky .menu15 span,
.ubirata.content16Active .politicsAndTerms .menu-wrapper .menu-sticky .menu16 span,
.ubirata.content17Active .politicsAndTerms .menu-wrapper .menu-sticky .menu17 span,
.ubirata.content18Active .politicsAndTerms .menu-wrapper .menu-sticky .menu18 span,
.ubirata.content19Active .politicsAndTerms .menu-wrapper .menu-sticky .menu19 span,
.ubirata.content20Active .politicsAndTerms .menu-wrapper .menu-sticky .menu20 span {
	background-color: white;
}

.ubirata.content1Active .politicsAndTerms .menu-wrapper .menu-sticky .menu1 h2,
.ubirata.content2Active .politicsAndTerms .menu-wrapper .menu-sticky .menu2 h2,
.ubirata.content3Active .politicsAndTerms .menu-wrapper .menu-sticky .menu3 h2,
.ubirata.content4Active .politicsAndTerms .menu-wrapper .menu-sticky .menu4 h2,
.ubirata.content5Active .politicsAndTerms .menu-wrapper .menu-sticky .menu5 h2,
.ubirata.content6Active .politicsAndTerms .menu-wrapper .menu-sticky .menu6 h2,
.ubirata.content7Active .politicsAndTerms .menu-wrapper .menu-sticky .menu7 h2,
.ubirata.content8Active .politicsAndTerms .menu-wrapper .menu-sticky .menu8 h2,
.ubirata.content9Active .politicsAndTerms .menu-wrapper .menu-sticky .menu9 h2,
.ubirata.content10Active .politicsAndTerms .menu-wrapper .menu-sticky .menu10 h2,
.ubirata.content11Active .politicsAndTerms .menu-wrapper .menu-sticky .menu11 h2,
.ubirata.content12Active .politicsAndTerms .menu-wrapper .menu-sticky .menu12 h2,
.ubirata.content13Active .politicsAndTerms .menu-wrapper .menu-sticky .menu13 h2,
.ubirata.content14Active .politicsAndTerms .menu-wrapper .menu-sticky .menu14 h2,
.ubirata.content15Active .politicsAndTerms .menu-wrapper .menu-sticky .menu15 h2,
.ubirata.content16Active .politicsAndTerms .menu-wrapper .menu-sticky .menu16 h2,
.ubirata.content17Active .politicsAndTerms .menu-wrapper .menu-sticky .menu17 h2,
.ubirata.content18Active .politicsAndTerms .menu-wrapper .menu-sticky .menu18 h2,
.ubirata.content19Active .politicsAndTerms .menu-wrapper .menu-sticky .menu19 h2,
.ubirata.content20Active .politicsAndTerms .menu-wrapper .menu-sticky .menu20 h2 {
	color: white;
}


.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a:hover {
	background-color: var(--brown);
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a:hover span {
	background-color: white;
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a:hover h2 {
	color: white;
}

.ubirata .politicsAndTerms .menu-wrapper .menu-sticky span {
	border-radius: 10px;
	background-color: var(--yellowIcons);
	border-radius: 50%;
	float: left;
	padding: 5px;
	font-size: 12px;
	width: 20px;
	height: 20px;
	color: var(--darkGreen);
	text-align: center;
	margin-right: 5px;
}

.ubirata .politicsAndTerms .menu-sticky h2 {
	color: var(--darkGreen);
	line-height: 1.5em;
}

.ubirata .politicsAndTerms .text-wrapper h3 {
	margin-top: 40px;
	margin-bottom: 20px;
	font-weight: bold;
}

.ubirata .politicsAndTerms .text-wrapper p {
	margin-bottom: 30px;
	line-height: 1.5em;
	font-family: 'DM Sans', sans-serif;
}


.ubirata .politicsAndTerms .text-wrapper strong {
	font-weight: bold;
}

@media(max-height: 900px) {
	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a {
		border-radius: 0px;
		margin: 0;
		padding: 8px 10px;
		border-bottom: 1px solid var(--borderGreyOpacity);
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a:first-child {
		border-radius: 10px 10px 0px 0px;
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a:last-child {
		border-radius: 0px 0px 10px 10px;
		border-bottom: none
	}
}

@media(max-width: 1024px) {

	.ubirata .politicsAndTerms .introduction {
		padding-bottom: 20px;
		padding-top: 330px;
	}

	.ubirata .politicsAndTerms .introduction .title img,
	.ubirata .politicsAndTerms .introduction .title div {
		float: none;
	}

	.ubirata .politicsAndTerms .introduction .title img {
		width: 100px;
		height: auto;
		margin-bottom: 20px;
	}

	.ubirata .politicsAndTerms .introduction .title div {
		width: 100%;
		margin-left: 0px;
	}

	.ubirata .politicsAndTerms .introduction .title div h1 {
		margin-top: 0px;
	}

	.ubirata .politicsAndTerms .firstContent .container,
	.ubirata .politicsAndTerms .extraContent .container {
		margin: 0px 20px;
		width: calc(100% - 40px);
	}

	.ubirata .politicsAndTerms .topics ul,
	.ubirata .politicsAndTerms .terms-tip .tips-wrapper {
		grid-template-columns: 1fr;
	}

	.ubirata .politicsAndTerms .introduction .topics {
		margin-top: 40px;
	}

	.ubirata .politicsAndTerms .terms-tip {
		padding-top: 50px;
		padding-bottom: 40px
	}

	.ubirata .politicsAndTerms .linksBellow {
		margin-top: 0px;
	}

	.ubirata .politicsAndTerms .content-wrapper {
		padding-bottom: 10px;
	}

	.ubirata .politicsAndTerms .menu-wrapper {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		margin-left: 0px;
		z-index: 5;
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky {
		position: relative;
		width: calc(100% - 80px);
		margin-left: 0px;
		overflow: initial;
		top: 100%;
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a {
		margin-bottom: 0px;
		border-radius: 0px;
		height: 70px;
		border-bottom: 0px;
		position: relative;
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a:first-child {
		border-radius: 0px
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky a:last-child {
		border-radius: 0px;
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky h2 {
		position: absolute;
		transform: translate(30px, -50%);
		top: 50%;
		width: calc(100% - 60px);
	}

	.ubirata .politicsAndTerms .menu-wrapper .menu-sticky span {
		position: absolute;
		transform: translate(0px, -50%);
		top: 50%;
		margin-top: 1px;
	}

	.ubirata .politicsAndTerms .text-wrapper,
	.ubirata .politicsAndTerms .menu-wrapper {
		width: 100%;
	}

	.ubirata .politicsAndTerms .owl-carousel.owl-drag .owl-item {
		opacity: 100%;
	}

	.ubirata footer {
		border-radius: 10px 10px 0px 0px;
	}

	.ubirata .politicsAndTerms .owl-carousel .owl-nav.navGreen button.owl-prev {
		display: none;
	}

	.ubirata .politicsAndTerms .owl-carousel .owl-nav.navGreen button.owl-next,
	.ubirata .politicsAndTerms .owl-carousel .owl-nav.navGreen button.owl-prev {
		opacity: 0%;
	}

	.ubirata .politicsAndTerms .owl-carousel .owl-nav.navGreen button.owl-next {
		height: 86px;
		width: 80px;
		right: -80px;
		bottom: -127px;
		position: absolute;
	}
}