.ubirata .sustainability .firstContent {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 2;
	background-image: url(../assets/sustent-1-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	margin-top: -220px;
	border-radius: 0px 0px 20px 20px;
	height: calc(100vh + 190px);
}

.ubirata .sustainability .firstContent .rights {
	position: absolute;
	bottom: 60px;
	width: 100%;
	color: white;
}

.ubirata .sustainability .firstContent .plates {
	width: calc(100% - 400px);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	position: absolute;
	bottom: calc(0px + 190px);
	left: 0;
	right: 0;
	margin: 0 auto;
	gap: 20px;
	margin-bottom: -30px;
}

.ubirata .sustainability .firstContent .plates .item {
	width: 100%;
	position: relative;
	cursor: pointer;
}

.ubirata .sustainability .firstContent .plates .item .trunkImg {
	position: relative;
	background-image: url("../assets/sustent-1-stem.svg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	width: 45px;
	height: 300px;
	margin: 0 auto;
}

.ubirata .sustainability .firstContent .plates .item .plateContent {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	cursor: pointer;
	height: 100%;
	display: block;
}

.ubirata .sustainability .firstContent .plates .item .textPlate {
	padding: 0px 30px;
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	margin: 0 auto;
	overflow: hidden;
	width: 215px;
}

.ubirata .sustainability .firstContent .plates .item .plateImg {
	position: absolute;
	width: 270px;
	top: 10px;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 120px;
	background-image: url("../assets/sustent-1-plate.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;

}

.ubirata .sustainability .firstContent .plates .item .textPlate h2 {
	color: white;
	float: left;
	font-size: 24px;
	width: calc(100% - 36px);
}

.ubirata .sustainability .firstContent .plates .item .arrowPlate {
	background-repeat: no-repeat;
	background-size: 15px 36px;
	background-position: center;
	background-image: url(../assets/sustent-1-arrowDown-white.svg);
	width: 36px;
	height: 36px;
	border-radius: 50%;
	float: right;
	margin-left: 10px;
	margin-top: -8px;
	background-color: var(--darkGreen);
	transform: translate(0%, -50%);
	right: 0px;
	top: calc(50% + 3px);
	position: absolute;
}

.ubirata .sustainability .extraContent {
	background-image: url('../assets/sustent-2-leaf.png');
	background-position: right top;
	background-size: 280px;
	background-repeat: no-repeat;
	background-color: var(--easeBackground);
}

.ubirata .sustainability .extraContent .container {
	width: calc(100% - 240px);
	margin: 0 120px;
}

.ubirata .sustainability .data-cards {
	margin-top: -10px;
}

.ubirata .sustainability .data-cards .waterConsumption {
	padding-top: 70px;
}

.ubirata .sustainability .data-cards .title {
	overflow: hidden;
}

.ubirata .sustainability .data-cards .title div {
	float: left;
	width: 430px;
	margin-top: 65px;
}

.ubirata .sustainability .data-cards .title img {
	width: 160px;
	height: 140px;
	float: left;
	margin-right: 30px;
}

.ubirata .sustainability .data-cards .title h2 {
	color: var(--darkGreen);
	font-size: 36px;
	margin-bottom: 10px;
}

.ubirata .sustainability .data-cards .title p {
	font-size: 14px;
}

.ubirata .sustainability .data-cards ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-top: 40px;
	gap: 25px;
	margin-bottom: 20px;
}

.ubirata .sustainability .data-cards .cowCare {
	margin-bottom: 80px;
}

.ubirata .sustainability .data-cards ul li {
	background-color: var(--yellowBackground);
	border-radius: 10px;
	padding: 20px;
}

.ubirata .sustainability .data-cards ul li img {
	margin-bottom: 20px;
}

.ubirata .sustainability .data-cards .soilCare,
.ubirata .sustainability .data-cards .waterConsumption,
.ubirata .sustainability .data-cards .cowCare {
	margin-bottom: 70px
}

.ubirata .sustainability .data-cards ul li h3 {
	font-size: 16px;
	margin-bottom: 40px;
}

.ubirata .sustainability .data-cards ul li p {
	margin-bottom: 14px;
}

.ubirata .sustainability .data-cards span {
	display: block;
}

.ubirata .sustainability .data-cards div span:nth-child(3) {
	margin-bottom: 10px
}

.ubirata .sustainability .data-inspiration {
	padding-top: 80px;
	background-color: var(--yellowBackground);
	background-image: url('../assets/sustent-3-ninho-background.png');
	background-position: right bottom;
	background-size: 790px 500px;
	background-repeat: no-repeat;
	border-radius: 20px;
}

.ubirata .sustainability .data-inspiration .title {
	overflow: hidden;
	margin-bottom: 90px;
}

.ubirata .sustainability .data-inspiration .title div {
	float: left;
	margin-right: 50px;
	width: 650px;
}

.ubirata .sustainability .data-inspiration .title div h2 {
	margin-bottom: 70px;
	font-size: 36px;
}

.ubirata .sustainability .data-inspiration .title div p {
	font-size: 16px;
}

.ubirata .sustainability .data-inspiration .title img {
	width: 180px;
	height: 170px;
}

.ubirata .sustainability .data-inspiration ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 40px;
	margin-bottom: 35px;
}

.ubirata .sustainability .data-inspiration ul li {
	padding-right: 60px;
	border-right: 2px solid var(--borderYellowOpacity);
}

.ubirata .sustainability .data-inspiration ul li:last-child {
	border: none;
}

.ubirata .sustainability .data-inspiration .leaf {
	position: absolute;
	left: 0px;
	width: 280px;
	height: 210px;
	background-image: url(../assets/sustent-3-leaf.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
}

.ubirata .sustainability .data-inspiration ul li h3 {
	font-size: 16px;
}

.ubirata .sustainability .data-inspiration ul li p {
	font-size: 14px;
}

.ubirata .sustainability .data-inspiration ul li p {
	font-size: 14px;
}

.ubirata .sustainability .data-inspiration .last-info {
	position: relative;
	padding-bottom: 55px;
	margin-top: 210px;
	width: calc(100% - 600px);
}

.ubirata .sustainability .data-inspiration .last-info div:nth-child(1) {
	margin-bottom: 40px;
	border-bottom: 2px solid var(--borderYellowOpacity);
}

.ubirata .sustainability .data-inspiration .last-info div h2 {
	margin-bottom: 40px;
	color: var(--darkGreen);
}

.ubirata .sustainability .data-inspiration .last-info div p {
	margin-bottom: 15px
}

.ubirata .sustainability .embed {
	background-image: url(../assets/sustent-4-background.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: auto 700px;
	background-color: var(--easeBackground);
	padding-top: 70px;
	padding-bottom: 770px;
}

.ubirata .sustainability .embed h2 {
	font-size: 36px;
	color: var(--darkGreen);
	margin-bottom: 40px;
}

.ubirata .sustainability .embed iframe {
	width: 100%;
	height: 760px;
	border-radius: 20px;
	margin-bottom: 40px;
}

.ubirata .sustainability .embed .refs {
	position: relative;
	float: left;
	width: 100%;
}

.ubirata .sustainability .embed .refs h3 {
	width: 280px;
	font-size: 14px;
	line-height: 1.5em;
	float: left;
}

.ubirata .sustainability .embed .refs a {
	font-size: 14px;
	text-decoration: none;
	width: max-content;
	color: var(--darkGreen);
	margin-right: 15px;
	float: right;
	transition: var(--transitionMedium);
}

.ubirata .sustainability .embed .refs a:hover {
	color: var(--brown);
}

.ubirata .sustainability .embed .refs img {
	width: 128px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0px);
	height: 48px;
}

.ubirata .floatButton {
	border-radius: 50px;
	position: fixed;
	width: calc(100% - 240px);
	display: grid;
	bottom: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
	background-color: white;
	margin: 0px 120px;
	text-align: center;
	z-index: 5;
}

.ubirata .floatButton {
	border-radius: 50px;
	position: fixed;
	width: calc(100% - 240px);
	display: grid;
	bottom: 20px;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 10px;
	background-color: white;
	margin: 0px 120px;
	text-align: center;
	z-index: 0;
	transition: var(--transitionFast);
	opacity: 0%;
}

.ubirata.linksActive .floatButton {
	opacity: 100%;
	z-index: 5;
}

.ubirata .floatButton a {
	color: var(--grey);
	opacity: 40%;
	text-decoration: none;
	padding: 10px;
	border-radius: 50px;
	transition: var(--transitionMedium);
}

.ubirata .floatButton a.active {
	background-color: var(--yellowBackground);
	color: var(--darkGreen);
	opacity: 100%;
}

@media(max-width: 1024px) {
	.ubirata .sustainability .firstContent {
		height: 100vh;
		margin-top: 0px;
		background-image: url(../assets/sustent-1-backgroundMobile.png);
	}

	.ubirata .sustainability .extraContent {
		background-size: 165px;
	}

	.ubirata .sustainability .container {
		width: calc(100% - 40px);
		margin: 0 auto;
		height: 100%;
	}

	.ubirata .sustainability .firstContent .plates {
		grid-template-columns: 1fr;
		width: 100%;
		gap: 10px;
		margin-bottom: 0px;
		bottom: 120px;
	}

	.ubirata .sustainability .firstContent .rights {
		width: calc(100% - 40px);
		bottom: 30px;
	}

	.ubirata .sustainability .data-cards .waterConsumption {
		padding-top: 40px;
	}

	.ubirata .sustainability .data-cards .soilCare,
	.ubirata .sustainability .data-cards .waterConsumption,
	.ubirata .sustainability .data-cards .cowCare {
		margin-bottom: 20px;
	}

	.ubirata .sustainability .data-inspiration ul {
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.ubirata .sustainability .data-inspiration ul li {
		padding-right: 0px;
		width: 100%;
		border-right: 0px;
		padding-bottom: 20px;
		border-bottom: 2px solid var(--borderGreenOpacity);
	}

	.ubirata .sustainability .data-inspiration .title {
		margin-bottom: 20px;
	}

	.ubirata .sustainability .data-cards .title img {
		margin: 0 auto;
	}

	.ubirata .sustainability .data-cards ul li img {
		height: 78px;
		width: 100px;
		object-fit: contain;
	}

	.ubirata .sustainability .data-cards ul li p {
		text-align: start;
	}

	.ubirata .sustainability .data-cards ul li h3 {
		width: calc(100% - 110px);
		text-align: start;
		margin-bottom: 20px;
	}

	.ubirata .sustainability .data-cards .title div {
		margin-top: 20px;
		width: 100%;
		text-align: start;
	}

	.ubirata .sustainability .data-cards .cowCare {
		margin-bottom: 20px;
	}

	.ubirata .sustainability .data-cards span {
		text-align: start;
	}

	.ubirata .floatButton a {
		padding: 15px 10px;
	}

	.ubirata .floatButton {
		width: 100%;
		margin: 0;
		border-radius: 0px;
		bottom: 0px;
	}

	.ubirata .sustainability .data-inspiration .title div {
		width: 100%;
	}

	.ubirata .sustainability .data-inspiration .title div h2 {
		margin-top: 30px;
	}

	.ubirata .sustainability .data-inspiration .title img {
		width: 150px;
		height: 150px;
		margin: 0 auto;
		display: block;
	}

	.ubirata .sustainability .data-inspiration .leaf {
		width: 200px;
		height: 105px;
	}

	.ubirata .sustainability .data-inspiration .last-info {
		margin-top: 170px;
		width: 100%;
	}

	.ubirata .sustainability .firstContent .plates .item {
		height: 130px;
	}

	.ubirata .sustainability .firstContent .plates .item .plateImg {
		position: relative;
		top: 0px;
		background-image: url(../assets/placa-mobile.png);
		width: calc(100% - 100px);
		background-size: 100% 100%;
		height: 100%;
		width: calc(100% - 40px);
	}

	.ubirata .sustainability .firstContent .plates .item .plateContent {
		position: relative;
	}

	.ubirata .sustainability .firstContent .plates .item .trunkImg:nth-child(1) {
		display: none;
	}

	.ubirata .sustainability .firstContent .plates .item .plateContent .plateImg:nth-child(1) {
		display: block;
	}

	.ubirata .sustainability .embed .video-wrapper {
		position: relative;
		padding-bottom: 56.25%;
		/* Proporção 16:9 (altura/largura) */
		height: 0;
		overflow: hidden;
	}

	.ubirata .sustainability .embed .video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.ubirata .sustainability .embed .refs h3 {
		width: 100%;
		margin-top: 10px;
	}

	.ubirata .sustainability .embed .refs a,
	.ubirata .sustainability .embed .refs h3 {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	.ubirata .sustainability .embed .refs img {
		top: 75px;
	}

	.ubirata .sustainability .data-cards {
		margin-bottom: 40px;
	}

	.ubirata .sustainability .extraContent .container {
		width: calc(100% - 40px);
		margin: 0 20px;
	}

	.ubirata .sustainability .embed {
		padding-bottom: 400px;
		background-size: 250%;
		margin-top: 40px;
		padding-top: 0px;
	}

	.ubirata .sustainability .data-cards ul li {
		height: max-content;
	}

	.ubirata .sustainability .embed .refs {
		grid-template-columns: 1fr;
		grid-row-gap: 20px;
	}

	.ubirata .sustainability .data-inspiration {
		padding-bottom: 200px;
		padding-top: 0px;
		background-size: auto 230px;
	}

	.ubirata .sustainability .data-inspiration .title div h2 {
		margin-bottom: 30px;
	}

	.ubirata .sustainability .embed h2 {
		margin: 20px 0px;
	}

	.ubirata .sustainability .data-cards .title {
		margin-top: 40px;
	}

	.ubirata .sustainability .data-cards ul {
		grid-template-columns: 1fr;
		margin-top: 20px;
	}

	.ubirata.linksActive.modalMobileActive .floatButton {
		display: none;
	}

}